<form role="form" name="MediocontactoForm" id="mediocontacto_form">
    <div class="">
        <h3 class="modal-title">Crear Tipo de Correo</h3>
    </div>
    <div class="">
        <div class="row">
            <div class="col-md-6 form-group ">
                <label for="nombre">Nombre:</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="nombre"
                       name="nombre"
                       placeholder="Nombre"
                       ng-model="detalles.nombre"
                       validator="required"
                       valid-method="submit">
            </div>
            <div class="col-md-6 form-group">
                <label for="descrip">Descripcion:</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="descrip"
                       name="descrip"
                       ng-model="detalles.descripcion"
                       validator="required"
                       valid-method="submit">
            </div>
        </div>



        <div class="modal-footer">
            <button ng-click="mediocontacto_form.submit(MediocontactoForm)" class="btn btn-primary"> Guardar</button>
        </div>
    </div>