<form name="ivaForm" id="iva_form">
    <div class="row">
        <h3>Actualizar Iva</h3>
        <hr/>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="ivainput">Valor del Iva</label>
            <span class="span-requerido">*</span>
            <input type="text" id="ivainput" name="iva" class="form-control" placeholder="Indique el valor actual del IVA ej: 12"
                   ng-model="iva.iva" ng-readonly="viewMode"
                   validator="required, decimal" valid-method="submit" />
        </div>

        <br/>
        <div class="row text-center" ng-show="!viewMode">
			<span class="input-group-btn">
		        <button type="button"  class="btn btn-primary" ng-click="iva_form.submit(ivaForm)"><span class="glyphicon glyphicon-floppy-disk">&nbsp;Guardar</span></button>
		    </span>
        </div>
    </div>
</form>