<!-- Mixed: mobile, tablet, and desktop -->
<form name="ConditionsForm" id="conditions_form">
	<div class="modal-header">
	    <h3 class="modal-title">Tarifas para el servicio: <b>{{service.nombre}}</b></h3>
	</div>
	<div class="modal-body">
		<div class="row">

			<div class="form-group">
				<label for="nombre">Nombre</label>
				<span class="span-requerido">*</span>
				<input
					type="text" id="nombre" name="nombre" class="form-control"
					placeholder="Ejemplo: Color, Posición, Cuerpo, entre otros."
					validator="required,alpha_numeric_space" valid-method="submit"
					ng-model="condition.nombre" ng-readonly="viewMode"
				/>
			</div>

			<div class="form-group">
				<label for="aplicada">Aplicada en</label>
				<span class="span-requerido">*</span>
				<select
					name="es_porcentaje" id="aplicada" class="form-control"
					placeholder="Tipo de calculo asociado a la tarifa"
					validator="required" valid-method="submit" ng-disabled="viewMode"
					ng-model="condition.esPorcentaje"
					ng-options="item.nombre for item in quemado.porcentaje track by item.id"
				></select>
			</div>

			<br/>

			<div class="form-group">
				<label>Valores de la Tarifa</label>
				<span class="span-requerido">*</span>
				<span class="span-btn-condition input-group-btn" ng-show="!viewMode">
			        <button type="button" class="btn btn-default" ng-click="conditions_form.addDetail()"><span class="glyphicon glyphicon glyphicon-plus"> </span></button>
			    </span>

			    <br/><br/>

			    <div class="row">
			    	<div class="col-md-7 app-center">Nombre</div>
			    	<div class="col-md-4 app-center">Tarifa</div>
			    	<div class="col-md-1 app-center" ng-show="!viewMode">Acciones</div>
			    </div>

				<div class="row" data-ng-repeat="item in condition.detalles" >
					<div class="col-md-7">
						<input
							type="text" name="detalles[{{item.id}}][nombre]" class="form-control"
							placeholder="Para Color: Full, B/N, Para Posición: Par, Impar"
							validator="required,alpha_numeric_space" valid-method="submit"
							no-validation-message="{{$last}}"
							ng-model="item.nombre" ng-readonly="viewMode"
						/>
					</div>
			    	<div class="col-md-4">
			    		<input
			    			type="text" name="detalles[{{item.id}}][tarifa]" class="form-control"
			    			placeholder="Ejm: 100.00 si es Bs o 60 si es porcentaje"
			    			validator="required,decimal" no-validation-message="{{$last}}"
			    			ng-model="item.tarifa" ng-readonly="viewMode"
		    			/>
			    	</div>
			    	<div class="col-md-1" ng-show="!viewMode">
			    		<button
			    			type="button" class="btn btn-default"
			    			ng-click="conditions_form.removeDetail(item.id)" ng-show="!$first">
			    			<span class="glyphicon glyphicon glyphicon-minus"> </span>
		    			</button>
			    	</div>
			    </div>
			</div>
		</div>
	</div>

	<div class="modal-footer" ng-show="!viewMode">
		<div class="row text-center" >
			<span class="input-group-btn">
		        <button
		        	type="button" class="btn btn-primary"
		        	ng-click="conditions_form.submit(ConditionsForm)">
		        		<span class="glyphicon glyphicon-floppy-disk"> Guardar</span>
        		</button>
		    </span>
		</div>
	</div>
</form>