<!-- Mixed: mobile, tablet, and desktop -->
<form name="formName" id="formObject">
	<div class="modal-header">
	    <h3>Nueva Negociación</h3>
	</div>
	<div class="modal-body">
		<div class="row">
            <div class="col-xs-9 col-sm-6 form-group">
                <label>Proveedor</label>
                <!--
                <span class="span-requerido">*</span>
                <select class="form-control" name="medio" id="form-medio"
                    placeholder="Indique un Medio"
                    validator="required" valid-method="submit"
                    ng-model="negociacion.medio" ng-show="angular.isDefined(negociacion.medio.razon_social)"
                ></select>
                -->

                <span class="form-control" ng-show="!angular.isDefined(form.medio.razon_social)">
                    {{form.medio.razon_social}}
                </span>
                <input type="hidden" ng-model="form.medio_id"/>
            </div>

            <div class="col-xs-8 col-sm-5 form-group">
                <label for="form-servicio">Servicio</label>
                <select class="form-control" name="servicio" id="form-servicio"
                    ng-options="item.nombre for item in form.servicios track by item.id"
                    ng-model="form.servicio">
                    <option value="">- Seleccione -</option>
                </select>
            </div>
            <div class="col-xs-1 col-sm1">
                <label>&nbsp;<span class="hidden">T</span></label>
                <button class="btn btn-default" ng-disabled="!form.servicio" ng-click="formObject.addAgreement('Servicio')">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
		</div>

        <div class="row">
            <div class="col-xs-8 col-sm-5 form-group">
                <label for="form-condicion">Tarifas</label>
                <select class="form-control" id="form-condicion"
                        ng-options="item.nombre for item in form.servicio.condiciones track by item.id"
                        ng-model="form.condicion" ng-disabled="!form.servicio">
                    <option value="">- Seleccione -</option>
                </select>
            </div>
            <div class="col-xs-1 col-sm1">
                <label>&nbsp;<span class="hidden">T</span></label>
                <button class="btn btn-default" ng-disabled="!form.condicion" ng-click="formObject.addAgreement('Condicion')">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>

            <div class="col-xs-8 col-sm-5 form-group">
                <label for="form-condicion-detalle">Detalles de la Tarifa</label>
                <select class="form-control" id="form-condicion-detalle"
                        ng-options="item.nombre for item in form.condicion.detalles track by item.id"
                        ng-model="form.condicion_detalle" ng-disabled="!form.servicio && !form.condicion">
                    <option value="">- Seleccione -</option>
                </select>
            </div>
            <div class="col-xs-1 col-sm1">
                <label>&nbsp;<span class="hidden">T</span></label>
                <button class="btn btn-default" ng-disabled="!form.condicion_detalle" ng-click="formObject.addAgreement('Detalle')">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </div>

        <hr/>
        <!-- Row Fecha Neg-->
        <div class="row">
            <div class="col-xs-6 col-sm-4 form-group">
                <label for="form-fecha-neg">Fecha de Negociación</label>
                <span class="span-requerido">*</span>

                <p class="input-group">
                    <input id="form-fecha-neg" type="text" class="form-control" ng-model="negociacion.fecha"
                           datepicker-popup="{{calendar.format}}" is-open="calendar.opened.fecha"
                           min-date="calendar.minDate" max-date="calendar.maxDate"
                           datepicker-options="calendar.dateOptions"
                           date-disabled="calendar.disabled(date, mode)" readonly="readonly"
                           close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"

                           valid-method="submit"
                        />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="calendar.open($event,'fecha')">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>

            <div class="col-xs-6 col-sm-4 form-group">
                <label for="form-fecha-inicio">Ejecutar desde</label>
                <span class="span-requerido">*</span>
                <p class="input-group">
                    <input id="form-fecha-inicio" type="text" class="form-control" ng-model="negociacion.start"
                           datepicker-popup="{{calendar.format}}" is-open="calendar.opened.start"
                           min-date="negociacion.fecha" max-date="calendar.maxDate"
                           datepicker-options="calendar.dateOptions"
                           date-disabled="calendar.disabled(date, mode)" readonly="readonly"
                           close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="calendar.open($event,'start')">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-xs-6 col-sm-4 form-group">
                <label for="form-fecha-fin">Hasta</label>
                <!--<span class="span-requerido">*</span>-->
                <p class="input-group">
                    <input id="form-fecha-fin" type="text" class="form-control" ng-model="negociacion.end"
                           datepicker-popup="{{calendar.format}}" is-open="calendar.opened.end"
                           min-date="negociacion.start" max-date="calendar.maxDate"
                           datepicker-options="calendar.dateOptions"
                           date-disabled="calendar.disabled(date, mode)" readonly="readonly"
                           close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="calendar.open($event,'end')">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>

        <hr/>
        <!-- Row Abonos -->
        <div class="row">
            <div class="col-xs-9 col-sm-6">
                <label for="tarifa">Monto Pre-Pagado</label>
                <div class="input-group">
                    <input class="form-control" id="tarifa" type="text" name="tarifa"
                           validator="decimal" valid-method="submit" ng-model="negociacion.tarifa" />
                    <span class="input-group-addon">Bs.</span>
                </div>
            </div>

            <div class="col-xs-9 col-sm-6">
                <label for="techo_consumo">Monto Maximo Permitido</label>
                <div class="input-group">
                    <input class="form-control" id="techo_consumo" type="text" name="techo"
                           validator="decimal" valid-method="submit" ng-model="negociacion.techo_consumo"/>
                    <span class="input-group-addon">Bs.</span>
                </div>
            </div>
        </div>

        <!-- Row Table-->
        <div class="row table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th colspan="6" class="app-center">Negociaciones Cargadas</th>
                    </tr>
                    <tr>
                        <th>Tarifas</th>
                        <th>¿Exonerado?</th>
                        <th>¿Sustituye?</th>
                        <th>Monto</th>
                        <th>Aplicado en</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in negociacion.acuerdos">
                        <td>
                            <span>
                                Servicio:<b>{{item.servicio.nombre}}</b>
                            </span><br/>

                            <span ng-show="item.condition">
                                Condición:<b>{{item.condition.nombre}}</b>
                            </span><br/>

                            <span ng-show="item.detalle">
                                Detalle:<b>{{item.detalle.nombre}}</b>
                                <span ng-show="item.condition.es_base == 1" class="app-resaltado blink_me">Es Base</span>
                                <br/>
                                <span>Valor: <b>
                                    {{item.detalle.tarifa}} {{(item.condition.es_porcentaje == 1) ? '%' : 'Bs'}}
                                </b></span>
                            </span>
                        </td>
                        <td>
                            <toggle-switch ng-model="item.exonerado" on-label="SI" off-label="NO"
                                   ng-change="formObject.evalSpecs(item, 'exonerado')"
                            ></toggle-switch>
                        </td>
                        <td>
                            <toggle-switch
                                ng-model="item.detalle.sustituye" on-label="SI" off-label="NO" ng-change="formObject.evalSpecs(item, 'sustituye')"
                                ng-disabled="item.exonerado || !item.detalle || (item.to == 'Detalle' && item.condition.es_base == 1) || item.to == 'Condicion'"
                                >
                            </toggle-switch>
                        </td>
                        <td>
                            <input class="form-control" type="number" name="m{{$index}}" ng-model="item.monto"
                                validator="{{item.exonerado || 'required,decimal,less_than'}}" data-less-than="{{item.detalle.tarifa || 100}}"
                                max="{{item.detalle.tarifa || 100}}" valid-method="submit" data-msg-with="{{item.detalle.tarifa || 100}}"
                                ng-disabled="item.exonerado || item.to == 'Condicion'"/>
                        </td>
                        <td>
                            <select class="form-control" name="a{{$index}}" validator="required" valid-method="submit"
                                    ng-options="item.nombre for item in form.aplicaciones track by item.id"
                                    ng-model="item.aplicado_en" ng-init="formObject.evalSpecs(item, 'aplicado_en')"
                                    ng-disabled="
                                        item.to == 'Servicio' ||
                                        item.to == 'Condicion' ||
                                        (item.to == 'Detalle' && (item.condition.es_base == 1 || (item.condition.es_porcentaje == 1 && !item.detalle.sustituye)))"
                                    >
                                <option value="">- Seleccione -</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn-default" ng-click="formObject.removeAgreement($index)">
                                <i class="glyphicon glyphicon-minus"></i>
                            </button>
                        </td>
                    </tr>

                    <!-- Se muestra si no hay acuerdos registrados-->
                    <tr ng-show="!negociacion.acuerdos.length">
                        <td colspan="6" class="app-center">Sin información. <i class="glyphicon glyphicon-tent"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <label for="form-observaciones">Observaciones</label>
            <textarea class="form-control" name="qa2w" id="form-observaciones" ng-model="negociacion.observaciones" cols="10" rows="3"></textarea>
        </div>
	</div>
	<div class="modal-footer" ng-show="!viewMode">
		<div class="row text-center">
			<span class="input-group-btn">
		        <button type="button" class="btn btn-primary" ng-click="formObject.submit(formName)" ng-disabled="(negociacion.acuerdos.length == 0) && !negociacion.tarifa">
                    <span class="glyphicon glyphicon-floppy-disk">&nbsp;Guardar</span>
                </button>
		    </span>
		</div>
	</div>
</form>

<!-- *** id-->
<!--codigo-->
<!-- *** medio_id INT NOT NULL;-->
<!-- *** fecha_negociacion DATE NOT NULL;-->
<!-- *** fecha_inicio DATE NOT NULL;-->
<!-- *** fecha_fin DATE NOT NULL;-->
<!-- *** tarifa NUMERIC(10) DEFAULT 0 NOT NULL;-->
<!-- *** techo_consumo NUMERIC(10) DEFAULT 0 NOT NULL;-->
<!--cerrado-->
<!-- *** observaciones-->
