<!-- Mixed: mobile, tablet, and desktop -->
<form name="formName" id="formObject">
    <rif-rnc></rif-rnc>
    <div class="modal-header">
        <h4>Nueva Negociación con <b>{{form.medio.razon_social}}</b> - {{wizard.title}}</h4>
        <p class="bg-warning blink_me" ng-show="form.negociacion">
            <i class="glyphicon glyphicon-warning-sign" aria-hidden="true"></i>
            Este Proveedor posee una negociación de tarifa activa, si negocia nuevas tarifas las antiguas serán desactivadas.
            <i class="glyphicon glyphicon-warning-sign" aria-hidden="true"></i>
        </p>
    </div>
    <div class="modal-body">
        <ng-include src="tab"  ng-repeat="tab in formObject.tabs"></ng-include>
        <!--<ng-include src="'./modules/negociaciones/views/steps/tipo_negociacion.html?v='{{12}}"></ng-include>-->
        <!--<ng-include src="'./modules/negociaciones/views/steps/condiciones.html?v='{{12}}"></ng-include>-->
        <!--<ng-include src="'./modules/negociaciones/views/steps/contratos.html?v='{{12}}"></ng-include>-->
        <!--<ng-include src="'./modules/negociaciones/views/steps/finalizar.html?v='{{12}}"></ng-include>-->
    </div>
    <div class="modal-footer">
        <div class="row input-group-btn">
            <button class="btn btn-default" ng-click="wizard.back()" ng-show="wizard.current != 0">
                <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
            </button>

            <button class="btn btn-default" ng-click="wizard.next()" ng-show="wizard.current < 3 && negociacion.fecha"
                    ng-disabled="!negociacion.con_condiciones && !negociacion.con_contrato">
                <i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
            </button>

            <!-- Finalizar -->
            <button type="button" class="btn btn-primary"
                    ng-click="formObject.submit(formName)"
                    ng-show="wizard.current == 3"
                    ng-disabled="(negociacion.acuerdos.length == 0) && !negociacion.tarifa"
                    >
                <span class="glyphicon glyphicon-floppy-disk">&nbsp;Guardar</span>
            </button>
        </div>
    </div>
</form>
