<!-- Mixed: mobile, tablet, and desktop -->
<form name="formName" id="formObject">
    <div class="row">
        <h3>TITULO DE LA VISTA</h3>
        <hr/>
    </div>
    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="ID-SELECT">NOMBRE-ETIQUETA</label>
            <span class="span-requerido">*</span>
            <select name="tipoPublicacion" id="ID-SELECT" class="form-control"
                    ng-model="model.CLAVE1" ng-readonly="viewMode"
                    ng-options="item.nombre for item in form.SELECTOPTIONS track by item.id"
                    validator="required" valid-method="submit">
                <option value="0">Seleccione</option>
            </select>
        </div>
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="ID-INPUT">NOMBRE-ETIQUETA</label>
            <span class="span-requerido">*</span>
            <input type="text" id="ID-INPUT" name="nombre" class="form-control"
                   placeholder="Indique el Nombre del Servicio"
                   ng-model="model.CLAVE2" ng-readonly="viewMode"
                   validator="required" valid-method="submit" />
        </div>
    </div>
    <div class="row text-center" ng-show="!viewMode">
        <span class="input-group-btn">
            <button type="button"  class="btn btn-primary" ng-click="formObject.submit(formName)">
                <span class="glyphicon glyphicon-floppy-disk">&nbsp;Guardar</span>
            </button>
        </span>
    </div>
</form>