body, p, button, input, label, table {
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

#content-alert {
    box-shadow: none;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}

#content-alert .alert {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.cursor-pointer {
    cursor: pointer;
}

#tbl-client-form tr > td {
    padding: 5px;
}

table tr > td {
    padding: 5px;
}

span.span-requerido {
    color: #971511;
    margin-left: 3px;
    font-size: 18px;
    margin-top: 5px;
    position: absolute;
}

.form-control {
    box-shadow: none;
}

.body-list-contact {

    max-height: 500px;
    overflow: auto;
}

.body-list-contact tr > td {
    text-align: justify;
    border: 0px solid #000000
}

.section-form-panel {
    width: 95%;
    margin-left: 2%;
}

.section-form-panel div.panel {
    box-shadow: none;
}

.section-form-panel div.panel-heading {
    background: none;
    padding: 0 15px;
}

.section-form-panel div.panel-default {
    border: none;
}

.section-form-panel div.btn-block {
    margin-top: 20px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

#loading {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10000;
    background: transparent;
    width: 100%;
    height: 100%;
    display: none;
}

#loading div {
    width: 120px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.span-btn-condition {
    position: absolute;
    margin: -35px 0 0 150px;
}

.app-center {
    text-align: center;
}

.span-btn-condition-plus {
    position: absolute;
    margin: -30px 0 0 205px;
}

.app-flashMessages {
    z-index: 10000 !important;
}

.app-resaltado {
    color: #800000;
    font-weight: bold;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.deleted {
    text-decoration: line-through;
    color: grey;
}

/* set reference point */
.tab-animation > .tab-content {
    position: relative;
}

/* set animate effect */
.tab-animation > .tab-content > .tab-pane{
    transition: 0.2s linear opacity;
}

/* overwrite display: none and remove from document flow */
.tab-animation > .tab-content > .tab-pane.active-remove {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

/* opacity=0 when removing "active" class */
.tab-animation > .tab-content > .tab-pane.active-remove-active {
    opacity: 0;
}

/* opacity=0 when adding "active" class */
.tab-animation > .tab-content > .tab-pane.active-add {
    opacity: 0;
}

.ficha-header{
    min-height: 165px;
}


@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

.listado li, td li{
    display: list-item !important;
}

ul.list-group > li.list-group-item {
    display: list-item;
    list-style: none;
}

legend {
    width: inherit; /* Or auto */
    padding: 0 20px; /* To give a bit of padding on the left and right */
    border-bottom: none;
}