<div class="container-fluid">
    <div class="row" ng-if="modoEdicion">
        <div class="alert alert-warning">
            Atención! La siguiente cotización no fue culmida al crearla, seleccione una de las opciones para continuar.
        </div>
    </div>
    <div class="row" ng-if="modoEdicion">
        <button class="btn btn-primary" ng-if="modoEdicion" ng-click="crear()">Crear Nueva</button>
        <button class="btn btn-primary" ng-if="modoEdicion" ng-click="editar()">Editar</button>
    </div>
    <div class="row">
        <div class="col-sm-6"><h3>Datos del cliente</h3>
            <h4>RIF: {{cliente.rif}}</h4>
            <h4>Razon social: {{cliente.razon_social}}</h4>

        </div>
    </div>
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h4>Balance</h4></div>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <th>Saldo (Bs.)</th>
                        <th>Débito (Bs.)</th>
                        <th>Cargo (Bs.)</th>
                        <th>Fecha</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in balance">
                            <td><b><span ng-if="(row.saldo < 0)" style="color:red;">{{row.saldo}}</span><span ng-if="(row.saldo >= 0)" style="color:#008000;">{{row.saldo}}</span></b></td>
                            <td>{{row.debito}}</td>
                            <td>{{row.cargo}}</td>
                            <td>{{row.fecha}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <div class="row text-center" style="margin: 20px;">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-print"></span>&nbsp;Imprimir</button>
    </div>
</div>