<!-- Mixed: mobile, tablet, and desktop -->
<form name="ContratosForm" id="contratos_form">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group" >
                <div class="col-md-6">
                    <label for="date_inicio">Fecha de Inicio del contrato:</label>
                    <span class="span-requerido">*</span>

                    <div class="input-group" ng-if="(formAction != 'view')">
                        <input id="date_inicio" name="date_inicio" type="text" class="form-control"
                               datepicker-popup="{{calendar.dateFormat}}"
                               ng-model="contrato.fecha_inicio"
                               is-open="calendar.opened.inicio"
                               datepicker-options="calendar.dateOptions"
                               close-text="Cerrar" placeholder="Fecha de Inicio del contrato"
                               current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
                               require-void
                               required>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'inicio')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                        <div class="has-error" style="position: absolute; margin-top: -8px; margin-left: -317px">
                            <small class="help-block"
                                   ng-show="formmedio.date_inicio.$error.required && formmedio.submitted ">
                                <strong>La Fecha es Requerido!!</strong>
                            </small>
                        </div>
                    </div>

                    <input value="{{contrato.fecha_inicio | datetimeToDate}}" class="form-control"
                           readonly="readonly" ng-if="(formAction == 'view')"/>
                </div>
                <div class="col-md-6">
                    <label for="date_fin">Fecha de Fin del contrato:</label>
                    <span class="span-requerido">*</span>

                    <div class="input-group" ng-if="(formAction != 'view')">
                        <input id="date_fin" name="date_fin" type="text" class="form-control"
                               datepicker-popup="{{calendar.dateFormat}}"
                               ng-model="contrato.fecha_fin"
                               is-open="calendar.opened.fin"
                               min-date="contrato.fecha_inicio"
                               datepicker-options="calendar.dateOptions"
                               close-text="Cerrar" placeholder="Fecha de Fin del contrato"
                               current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
                               require-void
                               required>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'fin')"
                            >
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                        <div class="has-error" style="position: absolute; margin-top: -8px; margin-left: -317px">
                            <small class="help-block"
                                   ng-show="formmedio.date_fin.$error.required && formmedio.submitted ">
                                <strong>La Fecha es Requerido!!</strong>
                            </small>
                        </div>
                    </div>

                    <input value="{{contrato.fecha_fin | datetimeToDate}}" class="form-control"
                           readonly="readonly" ng-if="(formAction == 'view')"/>
                </div>
            </div>
        </div>

        <div class="row col-md-12" ng-show="(formAction != 'store')">
            <div class="form-group">
                <label for="cliente">Cliente</label>
                <input id="cliente" value="{{contrato.cliente.razon_social}}" class="form-control" readonly="readonly"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipo">Tipo de contrato</label>
                    <span class="span-requerido">*</span>
                    <select
                            name="tipo" id="tipo" class="form-control"
                            placeholder="Tipo de de contrato"
                            ng-disabled="(formAction == 'view')"
                            ng-model="contrato.obj_tipo_contrato"
                            ng-options="item._label for item in tipo track by item.id"
                            validator="required" valid-method="submit"
                    ></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label for="date_fundacion">Fecha de Creación del contrato:</label>
                    <span class="span-requerido">*</span>

                    <div class="input-group" ng-if="(formAction != 'view')">
                        <input id="date_fundacion" name="date_fundacion" type="text" class="form-control"
                               datepicker-popup="{{calendar.dateFormat}}"
                               ng-model="contrato.fecha_creacion"
                               is-open="calendar.opened.fundacion"
                               datepicker-options="calendar.dateOptions"
                               close-text="Cerrar" placeholder="Fecha de creación del contrato"
                               current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
                               require-void
                               required>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'fundacion')"
                            >
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                        <div class="has-error" style="position: absolute; margin-top: -8px; margin-left: -317px">
                            <small class="help-block"
                                   ng-show="formmedio.date_fundacion.$error.required && formmedio.submitted ">
                                <strong>La Fecha es Requerido!!</strong>
                            </small>
                        </div>
                    </div>

                    <input value="{{contrato.fecha_creacion | datetimeToDate}}" class="form-control"
                           readonly="readonly" ng-if="(formAction == 'view')"/>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-if="(contrato.obj_tipo_contrato.nombre != 'addendum')">
                    <label for="forma">Forma de pago</label>
                    <span class="span-requerido">*</span>
                    <select
                            name="forma" id="forma" class="form-control"
                            placeholder="Tipo de de contrato"
                            ng-disabled="(formAction == 'view')"
                            ng-model="contrato.forma_pago"
                            ng-options="item.nombre for item in forma track by item.id"
                            validator="required" valid-method="submit"
                            ></select> <br/>

                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="codigo">Código del Contrato</label>
                    <span class="span-requerido">*</span>
                    <input type="text" id="codigo" name="codigo" class="form-control"
                           ng-model="contrato.codigo" ng-readonly="(formAction == 'view')"
                           validator="required" valid-method="submit"/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" ng-if="(contrato.obj_tipo_contrato.nombre == 'addendum')">
                    <label for="original">Contrato original</label>
                    <span class="span-requerido">*</span>
                    <select
                            name="original" id="original" class="form-control"
                            placeholder="Tipo de de contrato"
                            ng-disabled="(formAction == 'view')"
                            ng-model="contrato.obj_contrato_original"
                            ng-options="'Código: '+item.codigo+'/Tarifa: '+item.tarifa for item in contratos track by item.id"
                            validator="required" valid-method="submit"></select><br/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tarifa">Monto (Bs.)</label>
                    <span class="span-requerido">*</span>
                    <input type="text" id="tarifa" name="tarifa" class="form-control"
                           ng-model="contrato.tarifa" ng-readonly="(formAction == 'view')"
                           validator="required" valid-method="submit" mask-money
                           ng-change="contrato_form.calculateIVA('monto_iva')"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="monto_iva">Valor del IVA (Bs.)</label>
                    <span class="span-requerido">*</span>
                    <input type="text" id="monto_iva" name="monto_iva" class="form-control"
                           ng-model="contrato.monto_iva" readonly="readonly"
                           validator="required" valid-method="submit"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="total_monto">Monto Total Contrato (Bs.)</label>
                    <input type="text" id="total_monto" class="form-control" disabled="disabled" ng-model="contrato.total"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="descripcion">Descripción general del contrato</label>
                    <span class="span-requerido">*</span>
                    <textarea id="descripcion" name="descripcion" class="form-control"
                              ng-model="contrato.descripcion" ng-readonly="(formAction == 'view')"
                              validator="required" valid-method="submit">
                    </textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="contrato.por_publicacion" ng-change="(togglePorPublicacion())"
                               ng-disabled="(formAction == 'view')"/>
                        <b>Contra Publicación Efectuada</b>
                        <small>Los cobros se realizan facturando las publicaciones y no por cuotas</small>
                        .
                    </label>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6">-->
        <!--<div class="form-group" ng-show="(contrato.obj_tipo_contrato.nombre == 'contrato')">-->
        <!--<label for="techo_consumo">Techo de consumo del contrato(Bs.) </label>-->
        <!--<span class="span-requerido"></span>-->
        <!--<input-->
        <!--type="text" id="techo_consumo" name="techo_consumo" class="form-control"-->
        <!--ng-model="contrato.techo_consumo"-->
        <!--ng-readonly="(formAction == 'view')"-->
        <!--mask-money-->
        <!--/>-->
        <!--</div>-->
        <!--</div>-->

        <!--
        <div class="form-group">
            <label for="regimen_pago">Cerrado</label>
            <span class="span-requerido">*</span>
            <toggle-switch
                    ng-model="contrato.cerrado" on-label="SI" off-label="NO"
                    ng-disabled="(formAction == 'view')">
            </toggle-switch>
        </div>
        <br/>

        <div class="form-group">
            <label for="regimen_pago">Activo</label>
            <span class="span-requerido">*</span>
            <toggle-switch
                    ng-model="contrato.activo" on-label="SI" off-label="NO"
                    ng-disabled="(formAction == 'view')">
            </toggle-switch>
        </div>
        <br/>
        -->
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Detalle de pautas:</legend>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading clearfix">
                            <span style="padding-top: 5px;" class="pull-left">Detalles de Pautas</span>
                            <button style="margin-top: 6px;" class="btn btn-xs btn-primary pull-right"
                                    ng-click="agregarPautas()" ng-show="(formAction != 'view')">
                                <span class="glyphicon glyphicon-plus"></span>
                                Agregar
                            </button>
                        </div>
                        <div class="panel-body clearfix">
                            <p><span style="color:red;">{{ contrato.pautas.mensaje }}</span></p>
                        </div>
                        <!-- Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Tipo de Pub.</th>
                                <!--<th># Pautas</th>-->
                                <th>Monto (Bs.)</th>
                                <th>Monto del IVA (Bs.)</th>
                                <th>Total por Pub. (Bs.)</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="pauta in contrato.pautas">
                            <tr>
                                <td>{{$index + 1}}</td>
                                <td>
                                    <select class="form-control" ng-model="pauta.tipopub"
                                            validator="required" ng-if="(formAction != 'view')"
                                            ng-options="item.nombre for item in tipospublicaciones track by item.id">
                                        <option value="">Seleccione Tipo</option>
                                    </select>

                                    <input type="text" ng-model="pauta.tipo.nombre" class="form-control"
                                           ng-if="(formAction == 'view')" readonly="readonly"/>
                                </td>

                                <!--
                                <td><input type="number" min="1" ng-model="pauta.cantidad" class="form-control"
                                           ng-readonly="(formAction == 'view')"/></td>
                               -->
                                <td><input type="text" ng-model="pauta.monto" class="form-control" mask-money
                                           ng-readonly="(formAction == 'view')"
                                           ng-change="contrato_form.calculateIVA('pauta_iva', $index)"/>
                                </td>

                                <td><input type="text" ng-model="pauta.monto_iva" class="form-control"
                                           readonly="readonly"/></td>
                                <td><input type="text" ng-model="pauta.total" class="form-control"
                                           disabled="disabled"/></td>
                                <td>
                                    <button class="btn btn-default btn-xs" ng-click="removePauta($index)"
                                            ng-show="(formAction != 'view')">
                                        <i class="glyphicon glyphicon-trash"> </i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- #######################################################-->
        <!-- #######################################################-->
        <!-- #######################################################-->

        <div class="row" ng-if="(contrato.por_publicacion == false)">
            <div class="col-md-12">
                <fieldset>
                    <legend>Detalle de cuotas:</legend>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading clearfix">
                            <span style="padding-top: 5px;" class="pull-left">Detalles de Cuotas</span>
                            <button style="margin-top: 6px;" class="btn btn-xs btn-primary pull-right"
                                    ng-click="agregarCuotas()" ng-show="(formAction != 'view')">
                                <i class="glyphicon glyphicon-plus"></i>
                                Agregar
                            </button>
                        </div>
                        <div class="panel-body clearfix">
                            <p><span style="color:red;">{{ contrato.cuotas.mensaje }}</span></p>

                            <p style="color:red;" ng-show="(contrato.cuotas.outrange.length > 0)">
                                Las fechas de la(s) siguiente(s) cuota(s) se encuentra(n) fuera del rango de duración del
                                contrato: <span ng-repeat="item in contrato.cuotas.outrange"><b>Cuota {{item.cuota}}. </b>&nbsp;</span>
                            </p>
                        </div>
                        <!-- Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Monto (Bs.)</th>
                                <th>Monto del IVA (Bs.)</th>
                                <th>Total por Cuota (Bs.)</th>
                                <th width="20%">Fecha</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="cuota in contrato.cuotas">
                            <tr>
                                <td>
                                    <b>
                                        <input type="hidden" ng-model="cuota.numero_cuota"
                                               ng-init="(cuota.numero_cuota = $index + 1)"/>
                                        Cuota {{$index + 1}}
                                    </b>
                                </td>
                                <td>
                                    <input type="text" ng-model="cuota.monto" mask-money class="form-control"
                                           ng-readonly="(formAction == 'view')"
                                           ng-change="contrato_form.calculateIVA('cuota_iva', $index)"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="cuota.monto_iva" class="form-control"
                                           readonly="readonly"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="cuota.total" class="form-control"
                                           disabled="disabled"/>
                                </td>
                                <!-- Fecha -->
                                <td ng-if="(formAction != 'view')">
                                    <div class="input-group">
                                        <input id="date_end" type="text" class="form-control input-sm"
                                               datepicker-popup="{{calendar.dateFormat}}"
                                               ng-model="cuota.fecha" is-open="calendar.opened[$index]"
                                               min-date="contrato.fecha_inicio"
                                               datepicker-options="calendar.dateOptions"
                                               close-text="Cerrar" placeholder="Fecha de Vencimiento"
                                               current-text="Hoy" clear-text="Limpiar" ng-readonly="true"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default input-sm"
                                                ng-click='calendar.open($event,$index,"end")'>
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    </div>
                                </td>
                                <td ng-if="(formAction == 'view')">
                                    <input value="{{cuota.fecha | datetimeToDate}}" class="form-control"
                                           readonly="readonly" />
                                </td>
                                <!-- Fin Fecha -->
                                <td>
                                    <button class="btn btn-default btn-xs" ng-click="removeCuota($index)"
                                            ng-show="(formAction != 'view')">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- ###################################################### -->
        <!-- ###################################################### -->
        <!-- ###################################################### -->
        <div ng-if="(contrato.children.length > 0)" class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label class="control-label">Addendums hechos a este contrato</label>
                <table class="table table-bordered table-striped table-condensed table-hover table-responsive">
                    <thead>
                    <tr>
                        <th style="width:50%;">#</th>
                        <th style="width:50%;">Código</th>
                        <th style="width:50%;">Tarifa (Bs.)</th>
                        <th style="width:50%;">Cuota (Bs.)</th>
                        <th style="width:50%;">Activo</th>
                        <th style="width:50%;">Cerrado</th>
                        <th style="width:50%;">Opc.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in contrato.children">
                        <td>{{$index + 1}}</td>
                        <td>{{item.codigo}}</td>
                        <td>{{item.tarifa}}</td>
                        <td>{{item.cuota}}</td>
                        <td>{{item.activo | si_no}}</td>
                        <td>{{item.cerrado | si_no}}</td>
                        <td>
                            <a class="btn btn-default btn-xs" ng-click="getDetallesContrato(item.cliente_id, item.id)">
                                <i class="glyphicon glyphicon-zoom-in"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="(formAction == 'view')">
            <button class="btn btn-group btn-primary ng-scope" ng-click="imprimirPdf()">
                <i class="glyphicon glyphicon-print"> Imprimir PDF</i>
            </button>
        </div>
        <br/>

        <div class="modal-footer" ng-show="(formAction != 'view')">
            <div class="row text-center">
            <span class="input-group-btn">
                <button
                        type="button" class="btn btn-primary"
                        ng-click="contrato_form.submit(ContratosForm)"
                        ng-disabled="(formAction == 'view')">
                    <i class="glyphicon glyphicon-floppy-disk"> Guardar</i>
                </button>
            </span>
            </div>
        </div>
    </div>
</form>