<!--<form sf-schema="schema" sf-form="form" sf-model="model"></form>-->
<div class="col-md-6">
    <form name="myForm"
          sf-schema="schema"
          sf-form="form"
          sf-model="model"
          ng-submit="onSubmit(myForm)"
          sf-options="{ formDefaults: { ngModelOptions: { updateOn: 'submit' } }}"></form>
</div>