<div class="container-fluid">
    <div class="row inline">
        <h3>Orden de Publicación </h3>
    </div>
    <div class="row">
        <h6>
            <b>Nro:</b> {{datos.codigo}}<br/>
            <b>Fecha:</b> {{datos.fecha_creacion | date:"dd/MM/yyyy"}}<br/>

            <b>Cliente:</b>
            <a ui-sref="admin.detalle_cliente({id:datos.cliente.id})" target="_blank">
                {{datos.cliente.razon_social}}
            </a>
            <br/>

            <b>Proveedor:</b>
            <a ui-sref="admin.detalle_medio({id:datos.medio.id})"  target="_blank">
                {{datos.medio.razon_social}}
            </a>
            <br/>

            <b>Nro Cotización Asociada:</b>
            <a ui-sref="admin.cotizacion_editar({cotizacion_id:datos.cotizacion_id})"  target="_blank">
                {{datos.cotizacion.codigo}}
            </a>
            <br/>
            <br/>
            <!--
            LA PUBLICACIÓN parte de una COTIZACIÓN
            <span ng-if="datos.cotizacion_id!=null">
                <b ng-if="datos.cotizacion_id!=null">Nro Cotización Asociada:</b>
                <button ng-click="cargarCotizacion(datos.cotizacion_id)" class="btn btn-sm">
                    {{datos.cotizacion.codigo}}
                </button>
            </span><br/>
            <span ng-if="datos.cotizacion_id==null">
                <b>Nro Cotización Asociada:</b> No Aplica
            </span>
            -->
        </h6>
    </div>

    <!--
YA NO SE PUEDE MODIFICAR LA PUBLICACIÓN xq todas parten de una COTIZACIÓN
<div ng-if="!datos.es_terminada && datos.cotizacion_id==null" class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary btn-sm" ng-click="displayVersion()">
            <span class="glyphicon glyphicon-plus"></span>Agregar Version
        </button>
    </div>
</div>
-->
    <div class="row">
        <template-tabs></template-tabs>
    </div>
    <hr/>
    <div class="row text-center" style="margin: 20px;">
        <!--
        Estos Botones Desaparacen xq ya la publicación solo puede ser creada desde una cotización, por tanto no necesita
        estas opciones.
        <button ng-if="!datos.es_terminada && datos.current_estatus[0].estatus =='Por Aprobar'"
                class="btn btn-success btn-sm"
                ng-click="guardar()">Guardar Avances
        </button>

        <button ng-if="!datos.es_terminada && datos.current_estatus[0].estatus =='Por Aprobar'"
                class="btn btn-primary btn-sm"
                ng-click="previsualizar(true)">Previsualizar(PDF)
        </button>
        <button ng-if="!datos.es_terminada && datos.current_estatus[0].estatus =='Por Aprobar'"
                class="btn btn-primary btn-sm"
                ng-click="finalizar(true)">
            Finalizar
        </button>
        <button ng-if="!datos.es_terminada && datos.current_estatus[0].estatus =='Por Aprobar'"
                class="btn btn-primary btn-sm"
                ng-click="finalizar_send()">
            Finalizar y Enviar
        </button>
        -->

        <button class="btn btn-primary btn-sm" ng-click="previsualizar()">
            <i class="glyphicon glyphicon-print"></i>
            Imprimir
        </button>
        <!--ng-if="datos.current_estatus[0].estatus =='Por Aprobar' && datos.es_terminada"-->
        <span ng-repeat="boton in permisos_estatus">
            <!--
            YA NO SE APRUEBA LA PUBLICACIÓN XQ VIENE DE COTIZACIÓN YA APROBADA.
            <button ng-if="boton.url=='aprobarPublicacion' && datos.current_estatus[0].estatus =='Por Aprobar' "
                    class="btn btn-primary btn-sm" ng-click="aprobar(boton.url)">
                {{boton._name}}
            </button>
            Entendamos 5 como el estatus de TotalMente Publicada
            -->
            <button ng-if="boton.url=='publicarPublicacion' && datos.current_estatus[0].estatus !='Publicada'"
                    class="btn btn-primary btn-sm" ng-click="aprobar(boton.url)">
                <i class="{{boton.icon}}"></i>
                {{boton._name}}
            </button>
        </span>

        <!--
        <button ng-if="datos.es_terminada || datos.current_estatus[0].estatus =='Aprobada'"
        SIEMPRE PUEDO ENVIAR LA PUBLICACIÓN POR CORREO.
        -->
        <button class="btn btn-primary btn-sm" ng-click="finalizar_send(true)">
            <i class="glyphicon glyphicon-envelope"></i>
            <span ng-if="datos.fue_enviada">Reenviar por Correo</span>
            <span ng-if="!datos.fue_enviada">Enviar por Correo</span>
        </button>
        <button class="btn btn-sm" ng-click="volver()">
            <i class="fa fa-chevron-left"></i>
            Volver
        </button>
    </div>
</div>