<div class="modal-header">
    <h4 class="modal-title">{{state.title}}</h4>
</div>
<div class="modal-body">
    <div class="panel">
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Aprobar
                        <checkbox
                                style="float:right"
                                ng-model="todos"
                                ng-click="check_aprobacion()"
                                ng-disabled="check_todos"
                                >
                        </checkbox>
                    </th>
                    <th>Proveedor</th>
                    <th>Medio</th>
                    <th>Tipo</th>
                    <th>Versión</th>
                    <th>Estatus Versión</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="fila in datos.versiones | sinIncidencias">
                    <td>
                        <checkbox
                                style="float:right"
                                ng-model="fila.tmp_aprobada"
                                ng-change="check_aprobacion()"
                                ng-disabled="fila.publicado == 1"
                                >
                        </checkbox>
                    </td>
                    <td>{{datos.medio.nombre_comercial}}</td>
                    <td>{{fila.servicio.nombre}}</td>
                    <td>{{fila.servicio.tipo_publicacion.nombre}}</td>
                    <td>{{fila.version_nombre}}</td>
                    <!--<td>{{fila.version_publicacion_fecha_inicio | date:"dd/MM/yyyy"}}</td>-->
                    <!--<td>{{fila.version_publicacion_fecha_fin | date:"dd/MM/yyyy"}}</td>-->
                    <td ng-bind-html="fila.publicado | estatus_version"></td>
                </tr>

                <tr>
                    <td class="text-center" ng-if="datos.version.length ==0" colspan="6">
                        No existen publicaciones o versiones que aprobar/publicar.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="contador==0 || check_todos" class="btn btn-primary" ng-click="guardar(false,false)">
        {{msj_btn}}
        <span class="badge">{{contador}}</span>
    </button>
    <button class="btn" ng-click="cancelar()">Cancelar</button>
</div>