<div class="panel">
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Estatus.</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Actual</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in datos.all_estatus">
                <td>{{row.estatus}}</td>
                <td>{{row.creator}}</td>
                <td>{{row.created_at | date:"dd/MM/yyyy"}}</td>
                <td style="width: 10%">
                    <i ng-if="row.estatus==datos.current_estatus[0].estatus" class="glyphicon glyphicon-check"></i>
                </td>
            </tr>
            <tr>
                <td class="text-center" ng-if="datos.all_estatus==0" colspan="7">No hay datos cargados</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>