<br/>
<form name="formName" id="formObject">
    <div class="panel">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="incidencia" class="control-label">Incidencia</label>
                <select
                        id="incidencia" name="incidencia" class="form-control"
                        ng-model="incidencia.incidencia"
                        validator="required" valid-method="submit"
                        ng-options="item.nombre for item in select_incidencias track by item.id">
                </select>
            </div>

            <div class="col-sm-6 form-group">
                <label for="version" class="control-label">Versión</label>
                <select
                        id="version" name="version" class="form-control"
                        validator="required" valid-method="submit"
                        ng-model="incidencia.version"
                        ng-options="(item.version_nombre + ' del ' + item.version_publicacion_fecha_inicio) for item in datos.versiones_sin_publicar track by item.id">
                </select>
            </div>
        </div>

        <div class="row col-sm-12 form-group">
            <label class="control-label">Exonerado</label>
            <br/>
            <checkbox ng-model="incidencia.exonerado"></checkbox>
        </div>

        <div class="row" ng-if="(incidencia.exonerado != true)">
            <div class="col-sm-6 form-group">
                <label for="monto">Costo de Publicación con IVA (Bs.)</label>
                <input type="text" id="monto" name="monto" class="form-control" ng-model="incidencia.monto"
                       validator="required" valid-method="submit"
                       mask-money/>
            </div>
            <div class="col-sm-6 form-group">
                <label for="precio">Precio de Publicación con IVA (Bs.)</label>
                <input type="text" id="precio" name="precio" class="form-control" ng-model="incidencia.precio"
                       validator="required" valid-method="submit"
                       mask-money/>
            </div>
        </div>

        <div class="row text-center">
            <button ng-click="formObject.submit(formName)" class="btn btn-warning">
                <i class="fa fa-bug"></i>
                Reportar
            </button>
        </div>

        <hr/>
        <div class="row col-sm-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Nro</th>
                    <th>Tipo de Incidencia</th>
                    <th>Versión</th>
                    <th>Costo con IVA</th>
                    <th>Precio con IVA</th>
                    <th>Reportada por:</th>
                    <th>Fecha</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datos.incidencias">
                    <td>{{$index + 1}}</td>
                    <td>{{data.tipo_incidencia.nombre}}</td>
                    <td>{{data.version.version_nombre}}</td>
                    <td>{{data.monto | formatNumberMoney}}</td>
                    <td>{{data.precio | formatNumberMoney}}</td>
                    <td>{{data.user.first_name}} {{data.user.last_name}}</td>
                    <td>{{data.version_publicacion_fecha_inicio}}</td>
                </tr>
                <tr ng-if="datos.incidencias.length==0">
                    <td colspan="7" class="text-center">Aun no hay incidencias reportadas</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>