<div class="panel">
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Opc.</th>
                <th>Medio</th>
                <th>Tipo de Publicación</th>
                <th>Versión</th>
                <th>Publicar el</th><!--<th>Desde</th>-->
                <!--<th>Hasta</th>-->
                <th>Tarifa(s)</th>
                <th>SubTotal</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fila in datos.version" ng-class="view.clase(fila)">
                <td>
                    <button ng-click="execute_button(fila.id)" class="btn btn-default btn-xs"><span
                            class="glyphicon glyphicon-zoom-in"></span></button>
                    <button ng-if="!datos.es_terminada" ng-click="suprimirVersion(fila.id)"
                            class="btn btn-default btn-xs"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </td>
                <td>{{fila.servicio.nombre}}</td>
                <td>{{fila.servicio.tipo_publicacion.nombre}}</td>
                <td>{{fila.version_nombre}}</td>
                <td>{{fila.version_publicacion_fecha_inicio | date:"dd/MM/yyyy"}}</td>
                <!--<td>{{fila.version_publicacion_fecha_fin | date:"dd/MM/yyyy"}}</td>-->
                <td>
                    <div ng-bind-html="fila.versioncondicion | publicacion_listar_condiciones "></div>
                    <ul ng-if="fila.servicio.tipo_publicacion.nombre=='Radial' || fila.servicio.tipo_publicacion.nombre=='Televisivo'">
                        <li>Seg/Rotacion({{fila.version_segundos}}/{{fila.version_apariciones}})</li>
                        <li>Spot({{fila.diasporpublicacion * fila.version_apariciones}})</li>
                    </ul>
                </td>
                <td>
                    <!-- {{fila.monto_servicio | formatNumberMoney}} Bs.-->
                    {{fila.valor_con_recargo | formatNumberMoney}} Bs.
                </td>
            </tr>
            <tr>
                <td class="text-center" ng-if="datos.version.length==0" colspan="8">No hay datos cargados</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="alert alert-info">
    <div class="row">
        <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6">
            Total Publicaciones
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-right">
            {{datos.msubtotal | formatNumberMoney}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6">
            Gestión de Medios AVP ({{datos.porcentaje_avp | formatNumberMoney}}%)
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-right">
            {{datos.total_impuesto_avp | formatNumberMoney}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6">
            Subtotal
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-right">
            {{datos.subtotal | formatNumberMoney}} Bs.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6">
            I.V.A. ({{datos.porcentaje_impuesto | formatNumberMoney}}%)
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-right">
            {{datos.total_impuesto | formatNumberMoney}} Bs.
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6">
            <h4>Total a Pagar</h4>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-right">
            <h4>{{datos.total | formatNumberMoney}} Bs.</h4>
        </div>
    </div>
</div>