<div class="modal-header">
    <h4 class="modal-title">Agregar Pauta</h4>
</div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="medio" class="control-label">Proveedores</label>
                    <select ng-disabled="edit"
                            class="form-control input-sm"
                            id="medio"
                            ng-model="datos.medio"
                            ng-change="chargeSelectChildren(1)"
                            ng-options="item.razon_social for item in medios[0].data | orderBy:'razon_social':false track by item.id ">
                        <option value="" disabled>Seleccione Proveedor</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="tipo_publicacion" class="control-label">Tipo Publicación</label>
                    <select ng-disabled="tiposPublicaciones.length==0 || tiposPublicaciones==null ||  edit"
                            class="form-control input-sm"
                            id="tipo_publicacion"
                            ng-model="datos.tipoPublicacion"
                            ng-change="chargeSelectChildren(2)"
                            ng-options="item.nombre for item in tiposPublicaciones | orderBy:item.nombre track by item.id">
                        <option value="" disabled>Seleccione Tipo Publicación</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="servicio" class="control-label ">Medios</label>
                    <select ng-disabled="servicios.length==0 || servicios==null || edit"
                            class="form-control input-sm"
                            id="servicio"
                            ng-model="datos.servicio"
                            ng-change="chargeSelectChildren(3,true)"
                            ng-options="item.nombre for item in servicios | orderBy:item.nombreo track by item.id">
                        <option value="" disabled>Seleccione el Medio</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default" style="margin: 10px 10px;">
                    <div class="panel-heading clearfix">
                        <span class="pull-left" style="padding-top: 5px;"><b>Medios Dependientes</b></span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select ng-disabled="servicios_hijos.length==0 || servicios_hijos==null || edit"
                                    class="form-control input-sm"
                                    id="servicio_hijo"
                                    ng-model="datos.servicio_hijo"
                                    ng-change="chargeSelectChildren(3)"
                                    ng-options="item.nombre for item in servicios_hijos track by item.id">
                                <option value="" disabled>Seleccione medios dependientes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin: 10px 10px;">
                    <div class="panel-heading clearfix">
                        <span class="pull-left" style="padding-top: 5px;"><b>Mensaje del Sistema</b></span>
                    </div>
                    <div class="panel-body">
                        <p class="text-warning">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            {{mensaje}}
                        </p>
                    </div>
                </div>
            </div>
            <div style="margin-left: -5%;" class="col-sm-1">
                <div class="btn btn-xs">
                    <br/>
                    <span class="glyphicon glyphicon-import"></span>
                </div>
            </div>
            <div style="margin-left: -6%;margin-top: 1%;" class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <span class="pull-left"
                              style="padding-top: 5px;">Tarifa(s)/Detalle(s) Tarifa(s) para agregar</span>

                        <div class="btn-group pull-right">
                            <button
                                    ng-click="agregarCondicionDetalles()"
                                    class="btn btn-xs btn-primary" style="margin-top: 6px;">
                                <span class="glyphicon glyphicon-plus"></span>
                                Agregar Tarifa(s)/Detalle(s) Tarifa(s)
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="condicion" class="control-label">Tarifa(s)</label>
                            <select ng-disabled="condiciones.length==1 || condiciones==null && !edit"
                                    ng-change="cargarDetalleCondiciones()"
                                    class="form-control input-sm"
                                    id="condicion"
                                    ng-model="datos.condicion"
                                    ng-options="item.nombre + (item.id==0?'':'&nbsp;(')+item.label+(item.id==0?'':')') for item in condiciones track by item.id"
                                    options-disabled="item.disabled == 'out' for item in condiciones">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="detalle_condicion" class="control-label">Detalle(s) Tarifa(s)</label>
                            <select ng-disabled="detalleCondiciones.length==0 || detalleCondiciones==null"
                                    class="form-control input-sm"
                                    ng-change="detalle_condicion_msg()"
                                    id="detalle_condicion"
                                    ng-model="datos.detalleCondiciones"
                                    ng-options="item.nombre for item in detalleCondiciones track by item.id">
                                <option value="" disabled>Seleccione el detalle de la tarifa</option>
                            </select>
                        </div>
                        <div ng-if="datos.condicion!=null && datos.condicion.nombre=='Ubicacion' && detalleCondiciones!=null && datos.detalleCondiciones!=null && datos.detalleCondiciones.nombre=='Determinada' || datos.detalleCondiciones.nombre=='Indeterminada'"
                             class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <span class="pull-left"
                                      style="padding-top: 5px;">Datos de la Ubicación</span>
                            </div>
                            <div class="panel-body">
                                <div ng-if="datos.detalleCondiciones.nombre=='Determinada'">
                                    <label class="control-label" for="xPaginas">Paginas</label>
                                    <input type="text" id="xPaginas"
                                           ng-model="datos.detalleCondiciones['data_extra'].paginas"
                                           class="form-control input-sm"/>
                                </div>
                                <p ng-if="datos.detalleCondiciones.nombre=='Indeterminada'"
                                   class="text-warning ng-binding">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    Al seleccionar esta opción no se establecerá una ubicación especifica.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin: 10px 10px;">
            <div class="panel-heading clearfix">
                <span class="pull-left" style="padding-top: 5px;">Tarifa(s)/Detalle(s) Tarifa(s)</span>
            </div>
            <div class="panel-body clearfix" ng-show="(negociacion.servicio.data.length > 0)">
                <h5>Negociación del Servicio</h5>
                <span class="pull-left" style="padding-top: 5px;"><b>ID: </b>{{ negociacion.servicio.data[0].id }},&nbsp;</span>
                <span class="pull-left" style="padding-top: 5px;"><b>Es porcentaje: </b>{{ negociacion.servicio.data[0].es_porcentaje}},&nbsp;</span>
                <span class="pull-left" style="padding-top: 5px;"><b>Monto: </b>{{ negociacion.servicio.data[0].monto | formatNumberMoney }},&nbsp;</span>
                <span class="pull-left" style="padding-top: 5px;"><b>Exonerado: </b>{{ negociacion.servicio.data[0].exonerado | si_no }}</span>
            </div>
            <table class="table table-bordered table-striped ta">
                <thead>
                <tr>
                    <th style="width:25%;">Tarifa(s)</th>
                    <th style="width:25%;">Detalle(s) Tarifa(s)</th>
                    <th>Monto Tarifa</th>
                    <th>Negociación</th>
                    <th style="width:10%;">Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datos.add_condiciones">
                    <!-- Tarifa -->
                    <td style="width:25%;">
                        {{data.condicion.nombre}} ({{data.condicion.label}})
                        <span ng-show="(data.negociacion_condicion.length>0)">
                            / <b>Exonerada</b>
                        </span>
                    </td>

                    <!-- Detalle(s) Tarifa(s) -->
                    <td style="width:25%;">{{data.detalle.nombre}}</td>

                    <!-- Monto Tarifa -->
                    <td>
                        {{data.detalle.tarifa | formatNumberMoney }}
                        <span ng-if="data.condicion.es_porcentaje==1"> <b>%</b></span>
                        <span ng-if="data.condicion.es_porcentaje==0"> <b>Bs.</b></span>
                    </td>

                    <!-- Negociación -->
                    <td>
                        <span ng-show="(data.negociacion_detalle[0].exonerado == '1')">0 Bs(Exonerado)</span>
                        <span ng-show="(data.negociacion_detalle[0].sustituye == '1')">{{ data.negociacion_detalle[0].monto | formatNumberMoney }}</span>
                        <span ng-show="(data.negociacion_detalle[0].sustituye == '0')">{{(data.detalle.tarifa - data.negociacion_detalle[0].monto) | formatNumberMoney }}</span>
                    </td>

                    <!-- Acción -->
                    <td style="width:10%;">
                        <span ng-click="removerDatos($index,'condicion',data.condicion.id)"
                              class="glyphicon glyphicon-trash">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;" ng-if="datos.add_condiciones.length==0" colspan="5">
                        Aun no hay tarifas agregadas
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="panel panel-default" style="margin: 10px 10px;">
                <div class="panel-heading clearfix">
                    <span class="pull-left" style="padding-top: 5px;">Versiones</span>
                    <div class="btn-group pull-right">
                        <button ng-disabled="!datos.servicio || edit && !clone" type="button"
                                class="btn btn-xs btn-primary"
                                ng-click="agregarVersion()">
                            <span class="glyphicon glyphicon-plus"></span>Agregar Version(es)
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <table ng-if="datos.versiones.length>0" style="width: 100%"
                           class="table-bordered table-striped">
                        <thead>
                        <tr style="font-size: 0.7em">
                            <th style="width: 3%;" class="text-center">#</th>
                            <th class="text-center">NOMBRE</th>
                            <th style="width: 8%;"
                                ng-if="datos.tipoPublicacion.nombre=='Radial' || datos.tipoPublicacion.nombre=='Televisivo'"
                                class="text-center">SEG
                            </th>
                            <th style="width: 8%;"
                                ng-if="datos.tipoPublicacion.nombre=='Radial' || datos.tipoPublicacion.nombre=='Televisivo'"
                                class="text-center">ROTACIÓN
                            </th>
                            <th style="width: 15%;" class="text-center">ARCHIVO</th>
                            <th style="width: 20%;" class="text-center">FECHA PUBLICACIÓN</th>
                            <th style="width: 5%;" ng-if="!edit || clone" class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="version in datos.versiones">
                            <td>
                                <b>{{$index+1}}-.</b>
                            </td>
                            <td>
                                <textarea ng-model="version.nombre" class="form-control input-sm"></textarea>
                            </td>
                            <!--Si se usa la libreria "numbers-only" el "type" debe ser text ya que si es number no manda la data-->
                            <td ng-if="datos.tipoPublicacion.nombre=='Radial' || datos.tipoPublicacion.nombre=='Televisivo'">
                                <input type="text" min="1" ng-model="version.segundos" class="form-control input-sm"
                                       numbers-only max="1000"/>
                            </td>
                            <td ng-if="datos.tipoPublicacion.nombre=='Radial' || datos.tipoPublicacion.nombre=='Televisivo'">
                                <input type="text" ng-model="version.apariciones" class="form-control input-sm" 
                                       numbers-only max="1000"/>
                            </td>
                            <td>
                                <div class="input-group" >
                                    <input disabled="disabled" id="adjunto_name{{$index}}" name="adjunto_name{{$index}}"
                                            class="form-control input-sm" ng-model="version.file_name"/>
                                    <span class="input-group-btn">
                                        <button placeholder="Adjunto" id="adjunto_file{{$index}}" type="file"
                                                class=" btn btn-primary input-sm" style=" margin-top: 0px"
                                                ng-file-select
                                                ng-file-change="process_file($files,$index)" ng-multiple="false">
                                            <span class="glyphicon glyphicon-upload"></span>
                                        </button>
                                    </span>
                                </div>
                                <div ng-show="version.file.length > 0">
                                    <span class="sel-file" id="content-upload{{$index}}"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <table>
                                        <tr>
                                            <td colspan="1" class="text-center">
                                                <label>Única:</label>
                                                <toggle-switch
                                                        ng-model="version.fecha_unica" on-label="SI" off-label="NO">
                                                </toggle-switch>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label ng-show="version.fecha_unica">Fecha</label>
                                                <label ng-show="!version.fecha_unica">Desde</label>
                                                <div class="input-group">
                                                    <input id="date_init" type="text" class="form-control input-sm"
                                                           datepicker-popup="{{calendar.dateFormat}}"
                                                           ng-model="version.fecha_inicio"
                                                           is-open="calendar.openedi[$index]"
                                                           min-date="calendar.now"
                                                           datepicker-options="calendar.dateOptions"
                                                           close-text="Cerrar" placeholder="Inicio"
                                                           current-text="Hoy" clear-text="Limpiar" readonly="readonly"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default input-sm"
                                                                ng-click='calendar.open($event, $index,"init")'>
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div ng-show="!version.fecha_unica">
                                                    <label>Hasta:</label>
                                                    <div class="input-group">
                                                        <input id="date_end" type="text" class="form-control input-sm"
                                                               datepicker-popup="{{calendar.dateFormat}}"
                                                               ng-model="version.fecha_fin" is-open="calendar.openede[$index]"
                                                               min-date="calendar.now"
                                                               datepicker-options="calendar.dateOptions"
                                                               close-text="Cerrar" placeholder="Fin"
                                                               current-text="Hoy" clear-text="Limpiar" readonly="readonly"/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default input-sm"
                                                                    ng-click='calendar.open($event,$index,"end")'>
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td ng-if="!edit || clone" class="text-center">
                                 <span ng-show="hovering || !edit || clone" ng-click="removerDatos($index,'version')"
                                       class="glyphicon glyphicon-trash"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<!--<pre>{{ negociacion | json }}</pre>-->
<div class="modal-footer">
    <button ng-if="!clone" class="btn btn-primary" ng-click="processData(mode)">{{mode}}</button>
    <button ng-if="clone" class="btn btn-primary" ng-click="processData(mode)">Clonar</button>
    <button class="btn" ng-click="cancel()">Cancelar</button>
</div>
