<div class="container-fluid">
    <div class="row inline">
        <h3>Cotización </h3>
        <h5 ng-if="!datos.es_terminada" class="text-danger">
            (<span class="glyphicon glyphicon-info-sign"></span>
            <b>INFORMACIÓN: </b> La cotización aun no se ha finalizado por lo tanto puede editarla.)
        </h5>

        <h5 ng-if="datos.es_terminada" class="text-success">
            (<span class="glyphicon glyphicon-info-sign"></span>
            <b>INFORMACIÓN: </b> La cotización se encuentra finalizada por lo tanto no puede agregar cambios.)
        </h5>
    </div>
    <div class="row">
        <div class="text-left col-xs-9 col-sm-6 col-md-6">
            <h6>
                <span><b>Nro:</b> {{(datos.codigo) ? datos.codigo : 'Sin Información'}}</span>
                <br/>
                <b>Fecha:</b> {{datos.fecha_creacion | date:"dd/MM/yyyy"}}
                <br/>
                <b>Cliente:</b> <a ui-sref="admin.detalle_cliente.ficha({id:datos.cliente.id})" target="_blank">
                {{datos.cliente.razon_social}} </a>
                <br/>
                <br/>
                <a ng-show="datos.aprobada == true" ui-sref="admin.publicaciones_cotizacion({id:datos.id})" target="_blank">
                {{'PUBLICACIONES ASOCIADAS'}} </a>
            </h6>
        </div>
        <div class="text-left col-xs-9 col-sm-6 col-md-6">
            <h6>
                <b>Rif:</b> {{datos.cliente.rif}}<br/>
                <b>Dir. Fiscal:</b> {{datos.cliente.direccion_fiscal}}<br/>
            </h6>
        </div>
    </div>

    <!--<div class="row col-sm-8 col-xs-12">
        <h5>Cotización respaldada en base a un:</h5>
        <div class="form-group">
            <label for="x_orden">Orden de Servicio</label>
            <input id="x_orden" type="radio" ng-model="datos.radioModel" value="orden_servicio"
                   ng-disabled="datos.es_terminada || datos.aprobada"/>
            <label for="x_contrato">Contrato</label>
            <input id="x_contrato" type="radio" ng-model="datos.radioModel" value="contrato"
                   ng-disabled="datos.es_terminada || datos.aprobada"/>
        </div>
    </div>
    <div ng-if="datos.es_terminada" class="row">
        <!-Para Mantener los tabs en su lugar.->
    </div>
    -->

    <div ng-if="!datos.es_terminada" class="row">
        <div class="col-sm-12 col-xs-18">
            <button class="btn btn-default" ng-click="agregarMedio()">
                <!--ng-disabled="!datos.radioModel || (datos.radioModel == 'contrato' && !datos.contrato)">-->
                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                Agregar Pauta
            </button>
        </div>
    </div>
    <div class="row">
        <template-tabs></template-tabs>
    </div>
    <hr>
    <div class="row text-center" style="margin: 20px;">
        <button ng-if="!datos.es_terminada && !datos.aprobada" class="btn btn-success" ng-click="guardar()">
            <!--ng-disabled="!datos.radioModel">-->
            <i class="glyphicon glyphicon-floppy-disk"></i>
            Guardar Avances
        </button>
        <button ng-if="!datos.es_terminada && !datos.aprobada" class="btn btn-primary" ng-click="previsualizar(true)">
            <!--ng-disabled="!datos.radioModel">-->
            <i class="glyphicon glyphicon-print"></i>
            Previsualizar(PDF)
        </button>
        <button ng-if="datos.es_terminada || modoImpresion" class="btn btn-primary" ng-click="previsualizar(false)">
            <!--ng-disabled="!datos.radioModel">-->
            <i class="glyphicon glyphicon-print"></i>
            Imprimir
        </button>
        <span ng-repeat="boton in permisos.permission">
            <button class="btn btn-primary" ng-if="datos.aprobada != true && datos.es_terminada && boton.url=='aprobar'"
                    ng-click="aprobar()">
                <!--ng-click="aprobar()" ng-disabled="!datos.radioModel">-->
                <i class="glyphicon glyphicon-thumbs-up"></i>
                {{boton._name}}
            </button>
        </span>
        <!--TODO:Mejor elaborado para tomar permisos de operaciones-->
        <!--        <div class="btnbtn-group btn-primary" role="group" ng-repeat="button in buttons"
                     ng-if="datos.aprobada != true && datos.es_terminada && button.url=='aprobar'"
                     ui-sref="admin.cotizacion_editar.cotizacion_aprobar" title="{{button.title}}">
                    <i class="{{button.icon}}">&nbsp;{{button.title}}</i>
                </div>-->

        <button ng-if="datos.es_terminada || datos.aprobada" class="btn btn-primary" ng-click="finalizar_send(true)">
            <!--ng-disabled="!datos.radioModel">-->
            <i class="glyphicon glyphicon-envelope"></i>
            <span ng-if="datos.fue_enviada">Reenviar por Correo</span>
            <span ng-if="!datos.fue_enviada">Enviar por Correo</span>
        </button>
        <span ng-repeat="boton in permisos.permission">
            <button ng-if="!datos.es_terminada && !datos.aprobada && boton.url=='finalizar'" class="btn btn-primary"
                ng-click="finalizar()" ng-disabled="datos.contrato_asociado != 1">
                <i class="glyphicon glyphicon-eye-close"></i>
                {{boton._name}}
            </button>

            <button ng-if="!datos.es_terminada && !datos.aprobada && boton.url=='finalizar_send'" class="btn btn-primary"
                ng-click="finalizar_send()" ng-disabled="datos.contrato_asociado != 1">
                <i class="glyphicon glyphicon-eye-close"></i>
                {{boton._name}}
            </button>

            <button ng-if="!datos.aprobada && boton.url=='asociar_contrato'" class="btn btn-primary"
                    ng-click="asociar_contrato()">
                <!--ng-click="finalizar_send()" ng-disabled="!datos.radioModel">-->
                <i class="{{boton.icon}}"></i>
                {{boton._name}}
            </button>
        </span>

        <button class="btn" ng-click="volver()">
            <i class="fa fa-chevron-left"></i>
            Volver
        </button>
    </div>
</div>