<div class="modal-header">
    <h3 class="modal-title">Mensaje del Sistema</h3>
</div>
<form role="form">
    <div ng-show="show">
        <div class="panel panel-default" ng-if="datosCliente[0].cotizaciones.length>0">
            <div class="panel-body">
                <p class="text-warning">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <b>INFO: </b> El cliente seleccionado posee una cotizacion sin finalizar. Puede editar la cotizacion
                    o crear una nueva.<br/>
                    Si decide crear una nueva se eliminara la cotizacion sin finalizar asociada.

                </p>
            </div>
        </div>
        <div class="panel panel-default" ng-if="datosCliente[0].cotizaciones.length==0">
            <div class="panel-body">
                <p class="text-success">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Procedera a crear una cotizacion asociada a este cliente.

                </p>
            </div>
        </div>
    </div>


    <div class="modal-footer" ng-hide="ocultar">
        <button ng-if="datosCliente[0].cotizaciones.length>0" class="btn btn-primary update" ng-click="editarCotizacion(datosCliente[0].cotizaciones[0].id)">Editar cotizacion existente</button>
        <button class="btn btn-success update" ng-click="crearCotizacion(datosCliente[0].id)">Crear nueva cotizacion</button>
        <button class="btn" ng-click="cancelar()">Cancelar</button>
    </div>
</form>

<script type="text/ng-template" id="customTemplate.html">
    <a>
        Cliente: <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.rif | typeaheadHighlight:query"></span>
    </a>
</script>