<div class="modal-header">
    <h3 class="modal-title">Seleccione Cliente</h3>
</div>
<form role="form">
    <div class="modal-body">
        <div class="form-group">
            <label for="codigo">Escriba un dato del cliente y seleccione uno de la lista</label>
            <input type="text" class="form-control" id="codigo" ng-model="codigoTmp" required
                   typeahead="item as item.razon_social for item in getItemsReferencia($viewValue)"
                   typeahead-template-url="customTemplate.html" autocomplete="off" maxlength="50"
                   typeahead-min-length="3">
        </div>
    </div>

    <div ng-show="show">
        <div class="panel panel-default" ng-show="show">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;<strong>Datos del Cliente</strong>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Razón Social:</th>
                        <th> RIF:</th>
                        <th>Teléfonos:</th>
                        <th>Correos Electrónicos:</th>
                        <th>Dirección:</th>
                        <th>Sitio Web:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{datosCliente.razon_social}}</td>
                        <td>{{datosCliente.rif}}</td>
                        <td ng-bind-html="datosCliente.telefonos|listado_key"></td>
                        <td ng-bind-html="datosCliente.correos_electronicos|listado_key"></td>
                        <td ng-bind-html="datosCliente.direccion_fiscal"></td>
                        <td>{{datosCliente.sitio_web}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default" ng-if="datosCliente.cotizaciones.length>0">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;<strong>Mensaje del Sistema </strong>
            </div>
            <div class="panel-body">
                <p class="text-warning">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <b>INFO: </b> El cliente seleccionado posee una cotizacion sin finalizar. Puede editar la cotizacion
                    o crear una nueva.<br/>
                    Si decide crear una nueva se eliminara la cotizacion sin finalizar asociada.

                </p>
            </div>
        </div>
    </div>


    <div class="modal-footer" ng-hide="ocultar">
        <button ng-if="datosCliente.cotizaciones.length>0" class="btn btn-primary update" ng-click="editarCotizacion(datosCliente.cotizaciones[0].id)">Editar cotizacion existente</button>
        <button class="btn btn-success update" ng-click="crearCotizacion()">Crear nueva cotizacion</button>
        <button class="btn" ng-click="salir()">Volver</button>
    </div>
</form>

<script type="text/ng-template" id="customTemplate.html">
    <a>
        Cliente: <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.rif | typeaheadHighlight:query"></span>
    </a>
</script>