<div class="modal-header">
    <h4 class="modal-title">Agregar Orden de Servicio</h4>
</div>
<div class="modal-body">
    <form name="ordenServicioForm" id="orden_servicio_form">
        <div class="row">

            <div class="col-sm-8">
                <label>Via Recepcion</label>

                <div class="input-group">
                    <select class="form-control"
                            id="Recepcion"
                            name="Recepcion"
                            ng-options="item.nombre for item in recepcion track by item.id"
                            ng-model="datos.via_recepcion_id"
                            validator="required"
                            valid-method="submit">
                        <option value="">Seleccione la via </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-8">
                <label>Fecha Orden de Servicio</label>

                <div class="input-group">
                    <input

                            id="date_init" type="text" class="form-control input-sm"
                            datepicker-popup="{{calendar.dateFormat}}"
                            ng-model="datos.fecha_envio" is-open="calendar.openedi[0]"
                            min-date="calendar.now"
                            datepicker-options="calendar.dateOptions"
                            close-text="Cerrar" placeholder="Fecha de Recepcion"
                            current-text="Hoy" clear-text="Limpiar" ng-readonly="true">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default input-sm"
                                                ng-click='calendar.open($event, 0,"init")'>
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label>Archivo Adjunto</label>

                <div class="input-group" style="">
                    <input
                            validator="required" valid-method="submit"
                            ng-disabled="true"
                            id="adjunto_name"
                            name="adjunto_name"
                            class="form-control input-sm"
                            ng-model="datos.file_name"/>
                                    <span class="input-group-btn">
                                        <button

                                                placeholder="Adjunto"
                                                id="adjunto_file"
                                                type="file"
                                                class=" btn btn-primary input-sm"
                                                style=" margin-top: -26px"
                                                ng-file-select
                                                ng-file-change="process_file($files)"
                                                ng-multiple="false"
                                                ><span class="glyphicon glyphicon-upload"></span>
                                        </button>
                                        </span>
                    <br/><br/>
                </div>
                <div ng-show="file.length > 0">
                    <span class="sel-file" id="content-upload"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-8">
                <label>Observaciones</label>

                <div class="input-group">
                    <textarea
                            placeholder="Ejemp: Fue enviada en formato Imagen, el cliente pero debe enviar documento lo antes posible!"
                            name="observaciones"
                            validator="required" valid-method="submit"
                            cols="38"
                            rows="4"
                            class="form-control input-sm"
                            ng-model="datos.observaciones"></textarea>

                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="orden_servicio_form.submit(ordenServicioForm)">Agregar</button>
    <button class="btn" ng-click="cancel()">Cancelar</button>
</div>