<br/>
<div class="container-fluid">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>PROVEEDOR</th>
                    <th>MEDIO</th>
                    <th>VERSIÓN</th>
                    <th>FECHA INICIO</th>
                    <th>FECHA FIN</th>
                    <th>DESCRIPCIÓN</th>
                    <th>SUBTOTAL</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datos.versiones" ng-class="{success: data.aprobada == 1}">
                    <td>{{data.nombre_comercial}}</td>
                    <td>{{data.servicio}}</td>
                    <td>{{data.version_nombre}}</td>
                    <td>{{data.version_publicacion_fecha_inicio | date:'dd-MM-yyyy' }}</td>
                    <td>{{data.version_publicacion_fecha_fin | date:'dd-MM-yyyy' }}</td>
                    <td>
                        <div ng-bind-html="data.condiciones | listado_key"></div>
                        <ul ng-if="data.tipo_publicacion=='Radial' || data.tipo_publicacion=='Televisivo'">
                            <li>Seg/Rotación({{data.version_segundos}}/{{data.version_apariciones}})</li>
                        </ul>
                    </td>
                    <td>{{data.subtotal | formatNumberMoney}} Bs</td>
                </tr>
                <tr ng-if="datos.versiones.length==0">
                    <td colspan="7" class="text-center">Aun no hay datos cargados</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="alert alert-info">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6">
                SubTotal Publicaciones
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-right">
                {{datos.msubtotal | formatNumberMoney}} Bs.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6">
                Gestión de Medios AVP ({{datos.porcentaje_avp | formatNumberMoney}}%)
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-right">
                {{datos.total_impuesto_avp | formatNumberMoney}} Bs.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6">
                Subtotal
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-right">
                {{datos.subtotal | formatNumberMoney}} Bs.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6">
                I.V.A. ({{datos.porcentaje_impuesto | formatNumberMoney}}%)
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-right">
                {{datos.total_impuesto | formatNumberMoney}} Bs.
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6">
                <h4>Total a Pagar</h4>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-right">
                <h4>{{datos.total | formatNumberMoney}} Bs.</h4>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="modal_send_email.html">
    <form name="formName" id="formObject">
        <div class="modal-header">
            <h4 class="modal-title">Enviar cotización a:</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-striped table-">
                <thead>
                <tr>
                    <th colspan="2"><h5><b>De: </b>Sistema de Gestión Publicitaria de AVP</h5></th>
                </tr>
                <tr>
                    <th colspan="2"><h5><b>Asunto: </b>Generada Cotización AVP para
                        <b>{{cliente.razon_social}}</b></h5></th>
                </tr>

                <tr>
                    <td><h5><b>Para:</b></h5></td>
                    <td>
                        <table class="table table-bordered table-striped table-">
                            <thead>
                            <tr ng-repeat="item in datosView.email_send">
                                <td>
                                    <h4>{{item.mail}}</h4>
                                </td>
                                <td>
                                    <toggle-switch ng-model="item.activo" on-label="SI" off-label="NO"></toggle-switch>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><h5><b>Cc:</b></h5></td>
                    <td ng-if="datosView.contactos.length>0">
                        <table class="table table-bordered table-striped ">
                            <thead>
                            <tr ng-repeat="item in datosView.contactos" ng-if="item.tipo=='administrativo'">
                                <td>
                                    <span>Contacto(s) Administrativo(s)</span>
                                    <h4>{{item.nombre}} {{item.apellido}}</h4>
                                </td>
                                <td>
                                    <table class="table table-bordered table-striped ">
                                        <thead>
                                        <tr ng-repeat="correos in item.correos_electronicos" ng-if="correos.a">
                                            <td>
                                                <h4>{{correos.a}}</h4>
                                            </td>
                                            <td style="width: 50px">
                                                <toggle-switch
                                                        ng-model="correos.activo" on-label="SI" off-label="NO"
                                                        >
                                                </toggle-switch>
                                            </td>
                                        </tr>
                                        <tr ng-if="item.correos_electronicos==null || item.correos_electronicos.length==0">
                                            <td>
                                                El Contacto no posee correos asociados
                                            </td>
                                        </tr>
                                        </thead>
                                    </table>

                                </td>
                            </tr>
                            <tr ng-repeat="item in datosView.contactos" ng-if="item.tipo=='publicitario'">
                                <td>
                                    <span>Contacto(s) Publicitario(s)</span>
                                    <h4>{{item.nombre}} {{item.apellido}}</h4>
                                </td>
                                <td>
                                    <table class="table table-bordered table-striped ">
                                        <thead>
                                        <tr ng-repeat="correos in item.correos_electronicos">
                                            <td>
                                                <h4>{{correos.a}}</h4>
                                            </td>
                                            <td style="width: 50px">
                                                <toggle-switch
                                                        ng-model="correos.activo" on-label="SI" off-label="NO"
                                                        >
                                                </toggle-switch>
                                            </td>
                                        </tr>
                                        <tr ng-if="item.correos_electronicos==null || item.correos_electronicos.length==0">
                                            <td>
                                                El Contacto no posee correos asociados
                                            </td>
                                        </tr>
                                        </thead>
                                    </table>

                                </td>
                            </tr>
                            </thead>
                        </table>
                    </td>
                    <td ng-if="datosView.contactos.length==0">
                        El cliente no posee contactos asociados.
                    </td>
                </tr>
                <tr>
                    <td><h5><b>Cc:</b></h5></td>
                    <td>
                        <input

                                ng-disabled="datosView.todos"
                                placeholder="ejemplo@correo.com"
                                class="form-control" type="text"
                                validator="email" valid-method="submit" name="cc" ng-model="datosView.cc"/>

                    </td>
                </tr>
                </thead>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="formObject.submit(formName)">Finalizar y Enviar</button>
            <button class="btn" ng-click="cancel()">Cancelar</button>
        </div>
    </form>
</script>