<br/>
<div class="row alert alert-info">
    Al seleccionar el contrato se validará que las pautas asociadas a la cotización.
</div>
<div class="row">
    <div class="col-md-6">
        <label for="xContrato">Contratos:</label>
        <span class="span-requerido">*</span>
        <!--ng-disabled="view.contrato_bloqueado"-->
        <select name="xContrato" id="xContrato" class="form-control"
                ng-model="datos.contrato"
                ng-options="item.codigo for item in contratos track by item.id"
                ng-change="verificarContrato(datos.contrato)"
                ng-disabled="datos.aprobada">
                <!--options-disabled="item.disabled == 'out' for item in contratos">-->
        </select>
    </div>
    <div class="col-md-6">
        <label>Disponible en Contrato</label>
        <input type="text" value="{{datos.contrato.balance.contrato_saldo | formatNumberMoney}}"
               class="form-control" disabled="disabled"/>
    </div>
</div>
<hr/>
<div class="container-fluid" ng-if="datos.contrato">
    <div class="row">
        <div class="col-md-6">
            <label>Fecha de Inicio del contrato:</label>
            <input type="text" disabled="disabled" class="form-control"
                   value="{{datos.contrato.fecha_inicio | datetimeToDate }}"/>
        </div>
        <div class="col-md-6">
            <label>Fecha de Fin del contrato:</label>
            <input type="text" disabled="disabled" class="form-control"
                   value="{{datos.contrato.fecha_fin | datetimeToDate }}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Tipo de contrato</label>
            <input type="text" disabled="disabled" class="form-control" value="{{datos.contrato.tipo._label}}"/>
        </div>

        <div class="col-md-6">
            <label>Fecha de Creación del contrato:</label>
            <input type="text" disabled="disabled" class="form-control"
                   value="{{datos.contrato.fecha_creacion | datetimeToDate }}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Código del Contrato</label>
            <input type="text" disabled="disabled" class="form-control" value="{{datos.contrato.codigo}}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>Monto (Bs.)</label>
            <input type="text" disabled="disabled" class="form-control"
                   value="{{ datos.contrato.tarifa | formatNumberMoney}}"/>
        </div>
        <div class="col-md-4">
            <label>Valor del IVA (Bs.)</label>
            <input type="text" disabled="disabled" class="form-control"
                   value="{{datos.contrato.monto_iva | formatNumberMoney}}"/>
        </div>
        <div class="col-md-4">
            <label>Total Contrato (Bs.)</label>
            <input type="text" disabled="disabled" class="form-control"
                   value="{{datos.contrato.total | formatNumberMoney}}"/>
        </div>
    </div>

    <div class="row col-md-12">
        <label>Descripción general del contrato</label>
        <textarea class="form-control" ng-model="datos.contrato.descripcion" disabled="disabled"></textarea>
    </div>

    <div class="row col-md-12" ng-show="datos.contrato.por_publicacion">
        <!--<br/>-->
        <b>Contra Publicación Efectuada</b>
        <small>Los cobros se realizan facturando las publicaciones y no por cuotas</small>
        .
    </div>

    <br/>

    <div class="row col-md-12">
        <!-- Table -->
        <table class="table table-responsive">
            <caption> Detalle de pautas:</caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Tipo de Pub.</th>
                <!--<th># Pautas</th>-->
                <th>Monto (Bs.)</th>
                <th>Monto del IVA (Bs.)</th>
                <th>Total Pub. (Bs.)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pauta in datos.contrato.pautas">
                <td> {{$index + 1}}</td>
                <td> {{pauta.tipo.nombre}}</td>
                <!-- <td> {{pauta.cantidad}}</td> -->
                <td> {{pauta.monto | formatNumberMoney}}</td>
                <td> {{pauta.monto_iva | formatNumberMoney}}</td>
                <td> {{pauta.total | formatNumberMoney}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- #######################################################-->
    <!-- #######################################################-->
    <!-- #######################################################-->

    <div class="row col-md-12" ng-if="(datos.contrato.por_publicacion == false)">
        <!-- Table -->
        <table class="table table-responsive">
            <caption>Detalle de Cuotas:</caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Monto (Bs.)</th>
                <th>Monto del IVA (Bs.)</th>
                <th>Total (Bs.)</th>
                <th width="20%">Fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cuota in datos.contrato.cuotas">
                <td> Cuota {{$index + 1}}</td>
                <td> {{cuota.monto | formatNumberMoney}}</td>
                <td> {{cuota.monto_iva | formatNumberMoney}}</td>
                <td> {{cuota.total | formatNumberMoney}}</td>
                <td> {{cuota.fecha | datetimeToDate }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row col-md-12" ng-if="(datos.contrato.children.length > 0)">
        <h3>Addemduns del Contrato.</h3>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Código</th>
                <th>Monto (Bs)</th>
                <th>IVA (Bs)</th>
                <th>F. Inicio</th>
                <th>F. Fin</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in datos.contrato.children">
                <td>{{row.codigo}}</td>
                <td>{{row.tarifa | formatNumberMoney}}</td>
                <td>{{row.monto_iva | formatNumberMoney}}</td>
                <td>{{row.fecha_inicio | datetimeToDate }}</td>
                <td>{{row.fecha_fin | datetimeToDate }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>