<div class="panel">
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Opc.</th>
                <th>Proveedor</th>
                <th>Medio</th>
                <th>Tipo Publicación</th>
                <th>Versión</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Tarifa</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fila in datos.versiones" ng-class="{success: fila.aprobada == 1}">
                <td>
                    <button ng-click="agregarMedio(fila.id)" class="btn btn-default btn-xs"><span
                            class="glyphicon glyphicon-zoom-in"></span></button>
                    <button ng-if="!datos.es_terminada" ng-click="agregarMedio(fila.id,true)"
                            class="btn btn-default btn-xs"><span
                            class="glyphicon glyphicon-copy"></span></button>
                    <button ng-if="!datos.es_terminada" ng-click="suprimirVersion(fila.id)"
                            class="btn btn-default btn-xs"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </td>
                <td>{{fila.nombre_comercial}}</td>
                <td>{{fila.servicio}}</td>
                <td>{{fila.tipo_publicacion}}</td>
                <td>{{fila.version_nombre}}</td>
                <td>{{fila.version_publicacion_fecha_inicio | date:"dd/MM/yyyy"}}</td>
                <td>{{fila.version_publicacion_fecha_fin | date:"dd/MM/yyyy"}}</td>
                <td>
                    <div ng-bind-html="fila.condiciones | listado_key"></div>
                    <ul ng-if="fila.tipo_publicacion=='Radial' || fila.tipo_publicacion=='Televisivo'">
                        <li>Seg/Rotación({{fila.version_segundos}}/{{fila.version_apariciones}})</li>
                        <li>Spot({{fila.diasporpublicacion * fila.version_apariciones}})</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="text-center" ng-if="datos.versiones==0" colspan="8">No hay datos cargados</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>