<br/>
<table class="table table-bordered table-striped table-responsive table-hover table-condensed">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo(s)</th>
        <th>Teléfono(s)</th>
        <th>Tipo de Contacto</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in datos.cliente.contactos" ng-if="item.tipo=='administrativo'">
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td ng-bind-html="item.correos_electronicos | listado_key:true:'a'"></td>
        <td ng-bind-html="item.telefonos | listado_key:true:'a'"></td>
        <td class="text-center ">
            <b>ADMINISTRATIVO</b>
        </td>
    </tr>
    <tr ng-repeat="item in datos.cliente.contactos" ng-if="item.tipo=='publicitario'">
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td ng-bind-html="item.correos_electronicos | listado_key:true:'a'"></td>
        <td ng-bind-html="item.telefonos | listado_key:true:'a'"></td>
        <td class="text-center ">
            <b>PUBLICITARIO</b>
        </td>
    </tr>
    </tbody>
</table>
