<div class="panel">
    <div ng-if="!datos.aprobada" class="row">
        <div  class="col-sm-4">
            <div class="form-group">
                <br/>
                <button ng-click="agregarOrden()"
                        class="btn btn-success btn-sm">Agregar
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Nro</th>
                    <th>Recibida via</th>
                    <th>Fecha de Recepcion</th>
                    <th>Usuario</th>
                    <th>Observaciones</th>
                    <th>Archivo</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datos.orden_servicio">
                    <td>{{$index+1}}</td>
                    <td>{{data.via_recepcion_orden_servicio.nombre}}</td>
                    <td>{{data.fecha_envio}}</td>
                    <td>{{data.user.first_name}} {{data.user.last_name}}</td>
                    <td>{{data.observaciones}}</td>
                    <td>
                        <a ng-disabled="!data.file_exist" target="_blank" type="button" class="btn btn-sm btn-success"
                           href="{{data.file}}">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="datos.orden_servicio.length==0">
                    <td colspan="6" class="text-center">No hay Ordenes de Servicios Agregadas</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>