<div style="padding: 5px 0px;">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 checkbox">
            Porcentaje de Iva:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="input-group">
                <input type="text" ng-readonly="true" class="form-control" ng-model="datos.porcentaje_impuesto"
                       required="true" aria-describedby="addon_descuento">
                <span class="input-group-addon" id="addon_iva">%</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 checkbox">
            Porcentaje de AVP:
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="input-group">
                <input type="text" ng-readonly="true" class="form-control" ng-model="datos.porcentaje_avp"
                       required="true" aria-describedby="addon_descuento">
                <span class="input-group-addon" id="addon_avp">%</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 checkbox">Cotización creada el:</div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="input-group">
                <input type="text" ng-readonly="true" class="form-control" ng-model="datos.fecha_creacion_label"
                       required="true" aria-describedby="addon_descuento">
                <span class="input-group-addon" id="creacion_avp">Fc</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 checkbox">Cotización válida hasta:</div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="input-group">
                <input type="text" ng-readonly="true" class="form-control" ng-model="datos.fechaa_expiracion"
                       required="true" aria-describedby="addon_descuento">
                <span class="input-group-addon" id="validez_avp">Fv</span>
            </div>
        </div>
    </div>

    <div style=" width: 70%; margin: 0 auto; text-align: center">
        <p class="text-warning">
            <span class="glyphicon glyphicon-info-sign"></span>
            <b>INFO: </b> La cotización tiene una validez de <b>{{datos.dias_validez}}</b>
            días a partir de la fecha de creación.
        </p>
    </div>
</div>

<!--<pre>{{datos | json}}</pre>-->
