<!-- Página 0 del Wizard,-->
<div class="container-fluid" ng-show="(wizard.current == 1)">
    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label>Proveedor</label>
            <textarea class="form-control" ng-show="!angular.isDefined(form.medio.razon_social)">{{form.medio.razon_social}}
            </textarea>
            <input type="hidden" ng-model="form.medio_id"/>
        </div>

        <div class="col-xs-8 col-sm-5 form-group">
            <label for="form-servicio">Medio</label>
            <select class="form-control" name="servicio" id="form-servicio"
                    ng-options="item.nombre for item in form.servicios track by item.id"
                    ng-model="form.servicio">
                <option value="">- Seleccione -</option>
            </select>
        </div>
        <div class="col-xs-1 col-sm1">
            <label>&nbsp;<span class="hidden">T</span></label>
            <button class="btn btn-default" ng-disabled="!form.servicio" ng-click="formObject.addAgreement('Servicio')">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-5 form-group">
            <label for="form-condicion">Tarifas</label>
            <select class="form-control" id="form-condicion"
                    ng-options="item.nombre for item in form.servicio.condiciones track by item.id"
                    ng-model="form.condicion" ng-disabled="!form.servicio">
                <option value="">- Seleccione -</option>
            </select>
        </div>
        <div class="col-xs-1 col-sm1">
            <label>&nbsp;<span class="hidden">T</span></label>
            <button class="btn btn-default" ng-disabled="!form.condicion"
                    ng-click="formObject.addAgreement('Condicion')">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>

        <div class="col-xs-8 col-sm-5 form-group">
            <label for="form-condicion-detalle">Detalles de la Tarifa</label>
            <select class="form-control" id="form-condicion-detalle"
                    ng-options="item.nombre for item in form.condicion.detalles track by item.id"
                    ng-model="form.condicion_detalle" ng-disabled="!form.servicio && !form.condicion">
                <option value="">- Seleccione -</option>
            </select>
        </div>
        <div class="col-xs-1 col-sm1">
            <label>&nbsp;<span class="hidden">T</span></label>
            <button class="btn btn-default" ng-disabled="!form.condicion_detalle"
                    ng-click="formObject.addAgreement('Detalle')">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-warning">
                <div class="panel-heading">Importante:</div>
                <div class="panel-body">
                    <p>Para Exonerar un Medio, Tarifa o Detalle, colocar exonerado en "SI".</p>
                    <p>Si el Medio no esta exonerado, se aplicara el Monto de descuento en forma de % a cada publicación realizada en el Medio.</p>
                    <p>Las Tarifa solo pueden ser exoneradas.</p>
                    <p>Los Detalles de Tarifa, si pertenecen a una Tarifa "Base" su valor solo puede ser sustituido con un monto en Bs.</p>
                    <p>Si la opción sustituye indica "NO", el valor del campo Monto sera restado del valor actual.</p>
                    <p>Los Detalles de Tarifa que no pertenecen a una base, se pueden exonerar sustituir o descontar.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Row Table-->
    <div class="row table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th colspan="6" class="app-center">Registrar descuento en la Negociación</th>
            </tr>
            <tr>
                <th>Tarifas</th>
                <th>¿Exonerado?</th>
                <th>¿Sustituye?</th>
                <th>Monto</th>
                <th>Aplicado en</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in negociacion.acuerdos">
                <td>
                            <span>
                                Medio:<b>{{item.servicio.nombre}}</b>
                            </span><br/>

                            <span ng-show="item.condition">
                                Tarifa:<b>{{item.condition.nombre}}</b>
                            </span><br/>

                            <span ng-show="item.detalle">
                                Detalle:<b>{{item.detalle.nombre}}</b>
                                <span ng-show="item.condition.es_base == 1"
                                      class="app-resaltado blink_me">Es Base</span>
                                <br/>
                                <span>Valor Actual: <b>
                                    {{item.detalle.tarifa}} {{(item.condition.es_porcentaje == 1) ? '%' : 'Bs'}}
                                </b></span>
                            </span>
                </td>
                <td>
                    <toggle-switch ng-model="item.exonerado" on-label="SI" off-label="NO"
                                   ng-change="formObject.evalSpecs(item, 'exonerado')"
                            ></toggle-switch>
                </td>
                <td>
                    <toggle-switch
                            ng-model="item.detalle.sustituye" on-label="SI" off-label="NO"
                            ng-change="formObject.evalSpecs(item, 'sustituye')"
                            ng-disabled="item.exonerado || !item.detalle ||
                                (item.to == 'Detalle' && item.condition.es_base == 1) || item.to == 'Condicion'">
                    </toggle-switch>
                </td>
                <td>
                    <input class="form-control" name="m{{$index}}" ng-model="item.monto"
                           validator="{{item.exonerado || 'required'}}"
                           data-less-than="{{item.detalle.tarifa || 100}}"
                           valid-method="submit" mask-money
                           data-msg-with="{{item.detalle.tarifa || 100}}"
                           ng-disabled="item.exonerado || item.to == 'Condicion'"/>
                </td>
                <td>
                    <select class="form-control" name="a{{$index}}" validator="required" valid-method="submit"
                            ng-options="item.nombre for item in form.aplicaciones track by item.id"
                            ng-model="item.aplicado_en" ng-init="formObject.evalSpecs(item, 'aplicado_en')"
                            ng-disabled="
                                        item.to == 'Servicio' ||
                                        item.to == 'Condicion' ||
                                        (item.to == 'Detalle' && (item.condition.es_base == 1 || (item.condition.es_porcentaje == 1 && !item.detalle.sustituye)))"
                            >
                        <option value="">- Seleccione -</option>
                    </select>
                </td>
                <td>
                    <button class="btn-default" ng-click="formObject.removeAgreement($index)">
                        <i class="glyphicon glyphicon-minus"></i>
                    </button>
                </td>
            </tr>

            <!-- Se muestra si no hay acuerdos registrados-->
            <tr ng-show="!negociacion.acuerdos.length">
                <td colspan="6" class="app-center">Sin información. <i class="glyphicon glyphicon-tent"></i></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <label for="form-observaciones">Observaciones</label>
        <textarea class="form-control" name="qa2w" id="form-observaciones" ng-model="negociacion.observaciones"
                  cols="10" rows="3"></textarea>
    </div>
</div>