<!-- Página 0 del Wizard,-->
<div class="container-fluid" ng-show="(wizard.current == 2)">
    <div class="row">
        <div class="col-xs-9 col-sm-6">
            <label for="tarifa">Monto Pre-Pagado</label>

            <div class="input-group">
                <input class="form-control" id="tarifa" type="text" name="tarifa" mask-money ng-value="0"
                       ng-model="negociacion.tarifa"/>
                <!--validator="required"-->
                <!--valid-method="submit"-->
                <span class="input-group-addon">Bs.</span>
            </div>
        </div>

        <!--<div class="col-xs-9 col-sm-6">-->
            <!--<label for="techo_consumo">Monto Máximo de Exceso Permitido</label>-->

            <!--<div class="input-group">-->
                <!--<input class="form-control" id="techo_consumo" type="text" name="techo_consumo" mask-money ng-value="0"-->
                       <!--ng-model="negociacion.techo_consumo"/>-->
                <!--<span class="input-group-addon">Bs.</span>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>