<!-- Página 0 del Wizard,-->
<div class="container-fluid" ng-show="(wizard.current == 3)">
    <div class="row">
        <div class="col-xs-9 col-sm-6" ng-show="!form.isTab">
            <label>Medio</label>
            <textarea class="form-control">{{form.medio.razon_social}}
            </textarea>
        </div>

        <div class="col-xs-9 col-sm-6" ng-show="form.isTab">
            <label>Código</label>
            <span class="form-control">{{negociacion.codigo}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label>Fecha de Negociación</label>
            <span class="form-control">{{form.moment(negociacion.fecha)}}</span>
        </div>

        <!--<div class="col-xs-6 col-sm-4 form-group">-->
            <!--<label>Ejecutar desde</label>-->
            <!--<span class="form-control">{{form.moment(negociacion.start)}}</span>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-sm-4 form-group">-->
            <!--<label>Hasta</label>-->
            <!--<span class="form-control">{{form.moment(negociacion.end)}}</span>-->
        <!--</div>-->
    </div>

    <div class="row table-responsive" ng-show="negociacion.acuerdos.length > 0">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th colspan="5" class="app-center">Condiciones</th>
            </tr>
            <tr>
                <th>Tarifas</th>
                <th>¿Exonerado?</th>
                <th>¿Sustituye?</th>
                <th>Monto</th>
                <th>Aplicado en</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in negociacion.acuerdos">
                <td>
                    <span>
                        Medio:<b>{{item.servicio.nombre}}</b>
                    </span><br/>

                    <span ng-show="item.condition">
                        Tarifa:<b>{{item.condition.nombre}}</b>
                    </span><br/>

                    <span ng-show="item.detalle">
                        Detalle:<b>{{item.detalle.nombre}}</b>
                        <span ng-show="item.condition.es_base == 1"
                              class="app-resaltado blink_me">Es Base</span>
                        <br/>
                        <span>Valor Actual: <b>
                            {{item.detalle.tarifa}} {{(item.condition.es_porcentaje == 1) ? '%' : 'Bs'}}
                        </b></span>
                    </span>
                </td>
                <td>
                    <span class="form-control">{{(item.exonerado) ? 'Si' : 'No'}}</span>
                </td>
                <td>
                    <span class="form-control">{{(item.detalle.sustituye) ? 'Si' : 'No'}}</span>
                </td>
                <td>
                    <span class="form-control">{{item.monto | formatNumberMoney}}</span>
                </td>
                <td>
                    <span class="form-control">{{(item.aplicado_en.id == 1 ) ? '%' : 'Bs'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row" ng-show="negociacion.acuerdos.length > 0">
        <label>Observaciones</label>
        <span class="form-control">{{negociacion.observaciones}}</span>
    </div>

    <hr/>
    <div class="row" ng-show="negociacion.tarifa">
        <div class="col-xs-9 col-sm-6">
            <label>Monto Pre-Pagado</label>
            <span class="form-control">{{negociacion.tarifa | formatNumberMoney}}</span>

        </div>

        <!--
        <div class="col-xs-9 col-sm-6">
            <label>Monto Máximo de Exceso Permitido</label>
            <span class="form-control">{{negociacion.techo_consumo | formatNumberMoney}}</span>
        </div>
        -->
    </div>
</div>