<!-- Página 0 del Wizard,-->
<div class="container-fluid" ng-show="(wizard.current == 0)">
    <!-- Row Fecha Neg-->
    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="form-fecha-neg">Fecha de Negociación</label>
            <span class="span-requerido">*</span>

            <p class="input-group">
                <input id="form-fecha-neg" type="text" class="form-control" ng-model="negociacion.fecha"
                       datepicker-popup="{{calendar.format}}" is-open="calendar.opened.fecha"
                       min-date="calendar.minDate" max-date="calendar.maxDate"
                       datepicker-options="calendar.dateOptions"
                       date-disabled="calendar.disabled(date, mode)" readonly="readonly"
                       close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="calendar.open($event,'fecha')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="form-fecha-inicio">Ejecutar desde</label>
            <span class="span-requerido">*</span>

            <p class="input-group">
                <input id="form-fecha-inicio" type="text" class="form-control" ng-model="negociacion.start"
                       datepicker-popup="{{calendar.format}}" is-open="calendar.opened.start"
                       min-date="negociacion.fecha" max-date="calendar.maxDate"
                       datepicker-options="calendar.dateOptions"
                       date-disabled="calendar.disabled(date, mode)" readonly="readonly"
                       close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="calendar.open($event,'start')">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
            </p>
        </div>
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="form-fecha-fin">Hasta</label>
            <p class="input-group">
                <input id="form-fecha-fin" type="text" class="form-control" ng-model="negociacion.end"
                       datepicker-popup="{{calendar.format}}" is-open="calendar.opened.end"
                       min-date="negociacion.start" max-date="calendar.maxDate"
                       datepicker-options="calendar.dateOptions"
                       date-disabled="calendar.disabled(date, mode)" readonly="readonly"
                       close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="calendar.open($event,'end')">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
            </p>
        </div>
    </div>
    -->

    <hr/>
    <div class="row form-group">
        <div class="col-xs-9 col-sm-6">
            <label>¿Desea aplicar descuento para las tarifas registradas?</label>
            <br/>
            <toggle-switch ng-model="negociacion.con_condiciones" on-label="SI" off-label="NO"></toggle-switch>
        </div>

        <div class="col-xs-9 col-sm-6">
            <label>¿Desea registrar un abono?</label>
            <br/>
            <toggle-switch ng-model="negociacion.con_contrato" on-label="SI" off-label="NO"></toggle-switch>
        </div>
    </div>

</div>