<!-- Mixed: mobile, tablet, and desktop -->
<form name="RecursoForm" id="recurso_form">
    <div class="row">
        <h3>Recurso</h3>
        <hr/>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="codigo">Código</label>
            <span class="span-requerido">*</span>
            <input type="text" id="codigo" name="codigo" ng-model="recurso.codigo" class="form-control"
                   placeholder="Indique código del recurso" validator="alpha_numeric_space, required"
                   valid-method="submit"/>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <span class="span-requerido">*</span>
            <input type="text" id="descripcion" name="descripcion" ng-model="recurso.descripcion" class="form-control"
                   placeholder="Indique la descripción del recurso" validator="alpha_numeric_space, required"
                   valid-method="submit"/>
        </div>
        <div ng-if="recurso.informacion_adicional.length > 0">
            <h4>Información Adicional</h4>
            <tabset>
                <tab ng-repeat="informacion in recurso.informacion_adicional">
                    <tab-heading>
                        <span>{{informacion.titulo}}</span>
                        <button class="btn btn-xs btn-default" ng-click="tabMoveLeft($index)" ng-show="$index != 0">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button class="btn btn-xs btn-default" ng-click="tabMoveRight($index)"
                                ng-show="$index != (recurso.informacion_adicional.length - 1)">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </tab-heading>
                    <div class="row pull-right">
                        <button class="btn btn-primary btn-sm" ng-click="editarInfo($index)" title="Editar">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn btn-primary btn-sm" ng-click="eliminarInfo($index)" title="Eliminar"
                                confirmation-needed="¿Realmente desea eliminar la información?">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div ta-bind ng-model="informacion.descripcion"></div>
                </tab>
            </tabset>
        </div>
        <hr>
        <div class="form-group">
            <button class="btn btn-primary btn-sm" ng-click="showInformacion = !showInformacion">
                <span class="glyphicon glyphicon-plus"></span>
                Agregar Información
            </button>
        </div>
        <div class="thumbnail" ng-show="showInformacion">
            <h4>Información Adicional</h4>

            <p>Agregue información adicional al recurso como perfil, características, funciones, entre otras, para
                enriquecer la información a montar en las plantillas del pdf.</p>

            <div class="form-group">
                <label for="info-title">Título</label>
                <input type="text" id="info-title" class="form-control" ng-model="informacion_adicional.titulo">
            </div>
            <div class="form-group">
                <div text-angular-toolbar name="tools1"
                     ta-toolbar="[['bold','italics'],['justifyLeft','justifyCenter','justifyRight'],['undo','redo','clear'],['ul','ol'],['indent','outdent']]"></div>
                <div text-angular-toolbar name="tools2" ta-toolbar="[['h1','h2','h3','h4','h5','p','quote']]"></div>
                <div text-angular ng-model="informacion_adicional.descripcion" ta-target-toolbars="tools1,tools2"></div>
            </div>
            <div class="row text-center">
                <button class="btn btn-primary" ng-click="addInfo()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span ng-if="itemEdit === null">Agregar</span>
                    <span ng-if="itemEdit !== null">Actualizar</span>
                </button>
            </div>
        </div>
        <div class="row text-center">
            <button type="button" class="btn btn-primary" ng-click="recurso_form.submit(RecursoForm)">
                <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
            </button>
            <button type="button" class="btn" ng-click="recurso_form.back()">
                <span class="glyphicon glyphicon-chevron-left"></span> Volver
            </button>
        </div>
    </div>
</form>