<!-- Mixed: mobile, tablet, and desktop -->
<form name="TipoIncideniciaForm" id="tipo_incidenicia_form">
    <div class="row">
        <h3>Tipos de Incidencias</h3>
        <hr/>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="tipoPublicacion">Tipo de Publicación</label><span class="span-requerido">*</span>
            <select name="tipoPublicacion" id="tipoPublicacion" class="form-control"
                    ng-model="tipoIncidencia.tipo_publicacion"
                    ng-options="item.nombre for item in tipos_publicaciones track by item.id"
                    placeholder="Seleccione el tipo de publicación relacionada al tipo de incidencia."
                    validator="required" valid-method="submit" ng-if="!viewMode">
            </select>

            <input id="tipoPublicaci"
                   ng-model="tipoIncidencia.tipo_publicacion.descripcion"
                   class="form-control"
                   ng-if="viewMode"
                   ng-readonly="true"
                   ng-show="viewMode"/>

        </div>

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <span class="span-requerido">*</span>
            <input type="text" id="nombre" name="nombre" ng-model="tipoIncidencia.nombre" class="form-control"
                   placeholder="Ejemplo: No publicado, Pospuesta, entre otras." validator="required,alpha_numeric_space"
                   valid-method="submit" ng-readonly="viewMode"/>
        </div>
        <br/>

        <div class="row text-center" ng-show="!viewMode">
			<span class="input-group-btn">
		        <button type="button" class="btn btn-primary"
                        ng-click="tipo_incidenicia_form.submit(TipoIncideniciaForm)"><span
                        class="glyphicon glyphicon-floppy-disk"> Guardar</span></button>
		    </span>
        </div>
    </div>
</form>