<!-- Mixed: mobile, tablet, and desktop -->
<form name="formName" id="formObject">
    <div class="row">
        <h3>{{accion}} Operación</h3>
        <hr/>
    </div>
    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="id">ID</label>
            <span class="span-requerido">*</span>
            <input type="text" id="id" name="id" class="form-control"
                   placeholder="Indique el ID de la Operación"
                   ng-model="model.id" ng-readonly="viewMode"
                   validator="required,integer" valid-method="submit"/>
        </div>
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="id_operation">Operación Padre</label>
            <select name="id_operation" id="id_operation" class="form-control"
                    ng-model="model.id_operation" ng-readonly="viewMode"
                    ng-options="item.id + ' - ' + item._name for item in form.operations track by item.id">
                <option value="0">Seleccione</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="_name">Nombre</label>
            <span class="span-requerido">*</span>
            <input type="text" id="_name" name="_name" class="form-control"
                   placeholder="Indique el Nombre de la Operación"
                   ng-model="model._name" ng-readonly="viewMode"
                   validator="required" valid-method="submit"/>
        </div>
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="url">URL</label>
            <span class="span-requerido">*</span>
            <input type="text" id="url" name="url" class="form-control"
                   placeholder="Indique la URL de la Operación"
                   ng-model="model.url" ng-readonly="viewMode"
                   validator="required" valid-method="submit"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-18 col-sm-12 form-group">
            <label for="descripcion">Descripción</label>
            <span class="span-requerido">*</span>
            <textarea name="descripcion" id="descripcion" cols="30" rows="10" class="form-control"
                      ng-model="model.descripcion" ng-readonly="viewMode"
                      validator="required" valid-method="submit">
            </textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="_order">Orden</label>
            <span class="span-requerido">*</span>
            <select name="_order" id="_order" class="form-control"
                    ng-model="model._order" ng-readonly="viewMode"
                    ng-options="item for item in form.orders track by item"
                    validator="required" valid-method="submit">
            </select>
        </div>
        <div class="col-xs-9 col-sm-6 form-group">
            <label>Visible</label>
            <span class="span-requerido">*</span>
            <toggle-switch ng-model="model.visible" on-label="SI" off-label="NO"></toggle-switch>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="icon">Icono</label>
            <!--<span class="span-requerido">*</span>-->
            <div class="input-group">
                <select name="icon" id="icon" class="form-control"
                        ng-model="model.icon" ng-readonly="viewMode"
                        ng-options="item for item in form.icons track by item">
                    <option value="0">Seleccione</option>
                </select>
                <span class="input-group-addon {{model.icon}}" aria-hidden="true"> </span>
            </div>
        </div>

        <div class="col-xs-9 col-sm-6 form-group">
            <label for="chk_render_on">chk_render_on</label>
            <span class="span-requerido">*</span>
            <select name="chk_render_on" id="chk_render_on" class="form-control"
                    ng-model="model.chk_render_on" ng-readonly="viewMode"
                    ng-options="item for item in form.renders track by item"
                    validator="required" valid-method="submit">
                <option value="0">Seleccione</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="chk_visual_type">chk_visual_type</label>
            <span class="span-requerido">*</span>
            <select name="chk_visual_type" id="chk_visual_type" class="form-control"
                    ng-model="model.chk_visual_type" ng-readonly="viewMode"
                    ng-options="item for item in form.visuals track by item"
                    validator="required" valid-method="submit">
                <option value="0">Seleccione</option>
            </select>
        </div>

        <div class="col-xs-9 col-sm-6 form-group">
            <label for="chk_target_on">chk_target_on</label>
            <span class="span-requerido">*</span>
            <select name="chk_target_on" id="chk_target_on" class="form-control"
                    ng-model="model.chk_target_on" ng-readonly="viewMode"
                    ng-options="item for item in form.targets track by item"
                    validator="required" valid-method="submit">
                <option value="0">Seleccione</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="help">Ayuda</label>
            <span class="span-requerido">*</span>
            <input type="text" id="help" name="help" class="form-control"
                   placeholder="Indique la Ayuda de la Operación"
                   ng-model="model.help" ng-readonly="viewMode"
                   validator="required" valid-method="submit"/>
        </div>
        <div class="col-xs-9 col-sm-6 form-group">
            <label for="tooltip">tooltip</label>
            <span class="span-requerido">*</span>
            <input type="text" id="tooltip" name="tooltip" class="form-control"
                   placeholder="Indique el tooltip de la Operación"
                   ng-model="model.tooltip" ng-readonly="viewMode"
                   validator="required" valid-method="submit"/>
        </div>
    </div>

    <div class="row text-center" ng-show="!viewMode">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="formObject.submit(formName)">
                <span class="glyphicon glyphicon-floppy-disk">&nbsp;Guardar</span>
            </button>
        </span>
    </div>
</form>