<h3 ng-if="title">{{title}}</h3>

<div class="alert alert-info" role="alert">

    <div class="row" >
    
        <p style="color:green"><b>{{title_detalle_saldo}}</b> <span ng-bind-html="saldo | moneySaldo"></span> Bs.</p>
    </div>
      <!--<div class="row" >-->
    <!---->
        <!--<p style="color:red"><b>{{title_detalle_deuda}}</b> <span ng-bind-html="deuda | moneySaldo"></span> Bs.</p>-->
    <!--</div>-->

</div>

<form class="form-inline">
    <div class="form-group">
        <label for="tipo">Todos los registros</label>
        <toggle-switch
                ng-model="filtro.todos" on-label="SI" off-label="NO"
                >
        </toggle-switch>
    </div>
</form></br>
<form class="form-inline">
    <div class="form-group">
        <label for="tipo">Tipo de movimiento:</label>
        <select
                name="tipo" id="tipo" class="form-control"
                placeholder="Tipo de de contrato"
                ng-model="filtro.tipo"
                ng-options="item.nombre for item in tipo track by item.nombre"
                ng-disabled="(filtro.todos)"
                ></select>
    </div>
</form></br>
<form class="form-inline">

    <div class="form-group">
        <input id="date_desde" name="date_desde" type="text" class="form-control"
               datepicker-popup="{{calendar.dateFormat}}"
               ng-model="filtro.fecha_desde"
               is-open="calendar.opened.desde"
               max-date="calendar.now"
               datepicker-options="calendar.dateOptions"
               close-text="Cerrar" placeholder="Desde"
               current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
               show-button-bar="true"
               ng-disabled="(filtro.todos)"
               require-void>
                        <span class="form-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'desde')"
                                    ng-disabled="(filtro.todos)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

        <div class="has-error" style="position: absolute; margin-top: -8px">
            <small class="help-block"
                   ng-show="formmedio.date_desde.$error.requireVoid && formmedio.submitted ">
                <strong></strong>
            </small>
        </div>
    </div>
    <div class="form-group">
        <input id="date_hasta" name="date_hasta" type="text" class="form-control"
               datepicker-popup="{{calendar.dateFormat}}"
               ng-model="filtro.fecha_hasta"
               is-open="calendar.opened.hasta"
               max-date="calendar.now"
               datepicker-options="calendar.dateOptions"
               close-text="Cerrar" placeholder="Hasta"
               current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
               show-button-bar="true"
               ng-disabled="(filtro.todos)"
               require-void>
                        <span class="form-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'hasta')"
                                    ng-disabled="(filtro.todos)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

        <div class="has-error" style="position: absolute; margin-top: -8px">
            <small class="help-block"
                   ng-show="formmedio.date_hasta.$error.requireVoid && formmedio.submitted ">
                <strong></strong>
            </small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="filtrar()">Filtrar</button>
</form>
<div crud-template=""></div><br/>
<div class="row text-center" style="margin: 20px;" ng-show="(false)">
    <button class="btn btn-primary" ng-click="imprimir()"><span class="glyphicon glyphicon-print"></span>&nbsp;Imprimir</button>
</div>