<div class="row" ng-show="(habilitado == true)">
    <h2>{{title[current]}}</h2>

    <div style="float: right" class=" btn-group">
        <button ng-show="showButtonWizard()" ng-click="current = (current - 1)" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-arrow-left glyphicon-white"></i>Anterior
        </button>
        <button ng-show="(current < 2)" ng-disabled="disabledNext" ng-click="wizardNext()"
                class="btn btn-sm btn-primary">
            Siguiente
            <i class="glyphicon glyphicon-arrow-right glyphicon-white"></i>
        </button>
        <button ng-show="(current == 2)" ng-click="create()" class="btn btn-sm btn-success">
            <i class="fa fa-exchange"></i>&nbsp;Guardar
        </button>
    </div>
</div>

<!-- Formulario Ficha de Medio -->
<div class="container-fluid" ng-show="(current == 0)">
    <form role="form" name="formmedio" id="formmedio">
        <!--<h2>Ficha del medio</h2>-->
        <div class="row">
            <div class="col-md-6">
                <label for="rif">RIF:</label>
                <span class="span-requerido">*</span>

                <div class="input-group" style="">
                    <input id="rif" class="form-control" ng-model="dataForm.medio.detalles.rif" mask-rif required/>
                    <span class="input-group-btn">
                        <button type="button" class=" btn btn-primary" style=" margin-top: 0" title="Consultar RIF"
                                ng-click="consulta(dataForm.medio.detalles.rif)">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">Importante:</div>
                    <div class="panel-body">
                        <p>Recuerde por favor ingresar un número de RIF válido y pulsar el botón con el símbolo de
                            la lupa junto a él</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="razonsocial">Razón Social:</label>
                    <textarea class="form-control" id="razonsocial" placeholder="Razón social" rows="4"
                              ng-model="dataForm.medio.detalles.razon_social" ng-disabled="(!habilitado_razon_social)"
                              required>
                    </textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="direccion">Dirección fiscal:</label>
                    <span class="span-requerido">*</span>
                    <textarea class="form-control" ng-model="dataForm.medio.detalles.direccion_fiscal"
                              id="direccion" name="direccion" rows="4" cols="40"
                              placeholder="Ej: Calle los mangos, cruce con avenida 3, boleita, caracas, Edo Miranda"
                              required require-void ng-readonly="(habilitado == false)"></textarea>
                    <div class="has-error" style="position: absolute; margin-top: -8px">
                        <small class="help-block" ng-show="formmedio.direccion.$error.required && formmedio.submitted ">
                            <strong>La Dirección es requerida!!</strong>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nom_comercial">Nombre Comercial</label>
                    <input type="text" class="form-control" id="nom_comercial" placeholder="Nombre comercial"
                           ng-model="dataForm.medio.detalles.nombre_comercial"
                           ng-readonly="(habilitado == false)" name="nom_comercial"/>

                    <div class="has-error">
                        <small class="help-block"
                               ng-show="formmedio.nom_comercial.$error.required && formmedio.submitted">
                            <strong> El Nombre Comercial es Requerido!!</strong>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="date_fundacion">Fecha de Fundación:</label>
                <!--<span class="span-requerido">*</span>-->

                <div class="input-group">
                    <input id="date_fundacion" name="date_fundacion" type="text" class="form-control"
                           datepicker-popup="{{calendar.dateFormat}}"
                           ng-model="dataForm.medio.detalles.fecha_fundacion"
                           is-open="calendar.opened.fundacion"
                           min-date="calendar.now"
                           datepicker-options="calendar.dateOptions"
                           close-text="Cerrar" placeholder="Fecha de Fundación"
                           current-text="Hoy" clear-text="Limpiar" ng-readonly="true" />
                           <!--require-void required>-->
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'fundacion')"
                                    ng-disabled="(habilitado == false)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    <div class="has-error" style="position: absolute; margin-top: -8px; margin-left: -317px">
                        <small class="help-block"
                               ng-show="formmedio.date_fundacion.$error.required && formmedio.submitted ">
                            <strong>La Fecha de Fundación es Requerido!!</strong>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="rnc_estatus">Estatus RNC:</label>
                    <textarea class="form-control" id="rnc_estatus" ng-model="respuestaconsulta.rnc.estatus" rows="4"
                              ng-disabled="(!habilitadornc)"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="rnc_nivel">Nivel RNC:</label>
                    <input type="text" class="form-control" id="rnc_nivel" ng-model="respuestaconsulta.rnc.nivel"
                           ng-disabled="(!habilitadornc)"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="solvencia_laboral">Solvencia Laboral:</label>
                    <input type="text" class="form-control" id="solvencia_laboral"
                           ng-model="respuestaconsulta.solvencia.estatus"
                           ng-disabled="(!habilitadosolvencia)"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ultima_sol">Ultima Solicitud de Solvencia:</label>
                    <input type="text" class="form-control" id="ultima_sol"
                           ng-model="respuestaconsulta.solvencia.ultima_solicitud"
                           ng-disabled="(!habilitadosolvencia)"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="r-iva">Agente de Retención IVA:</label>
                    <input type="text" class="form-control" id="r-iva"
                           ng-model="respuestaconsulta.seniat.agenteretencioniva" ng-disabled="(!habilitadoseniat)"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="civa">Contribuyente IVA:</label>
                    <input type="text" class="form-control" id="civa" placeholder=""
                           ng-model="respuestaconsulta.seniat.contribuyenteiva"
                           ng-disabled="(!habilitadoseniat)"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tiva">Tasa de Retención ( % ):</label>
                    <input type="text" class="form-control" id="tiva"
                           ng-model="respuestaconsulta.seniat.tasa" ng-disabled="(!habilitadoseniat)"/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="sitio_web">Sitio Web:</label>
                    <input type="text" class="form-control" id="sitio_web" placeholder="http://www.misitio.com"
                           ng-model="dataForm.medio.detalles.sitio_web" ng-readonly="(habilitado == false)"/>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container-fluid" ng-show="(current == 1)">
    <div class="row">
        <table class="table table-bordered table-striped ">
            <thead>
            <tr>
                <th>Nombre del Medio</th>
                <th>Tipo de publicación</th>
                <th>Descripción</th>
                <th ng-show="(selectTipo.nombre == 'Radial' || selectTipo.nombre == 'Televisivo')">Circuito</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label style="width: 100%">
                            <input type="text" name="nombre" class="form-control" ng-model="nuevo.nombre"
                                   placeholder="Ej: Diario universal, Estampas..."
                                   data-toggle="tooltip" data-placement="nombre"
                                   title="Debe indicar el nombre del medio correctamente"/>
                        </label>
                    </div>
                </td>
                <td>
                    <select class="form-control" id="tipopublicacion" ng-model="selectTipo" validator="required"
                            ng-options="item.nombre for item in tipospublicaciones track by item.id">
                        <option value="">Seleccione Medio</option>
                    </select>
                </td>
                <td>
                    <div class="form-group">
                        <label style="width: 100%">
                            <textarea class="form-control" ng-model="nuevo.descripcion"
                                      placeholder="Ej: Descripción del Medio"></textarea>
                        </label>
                    </div>
                </td>
                <td>
                    <div ng-show="(selectTipo.nombre == 'Radial' || selectTipo.nombre == 'Televisivo')" class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="nuevo.es_cadena" name="chkescadena"
                                   ng-true-value="'true'" ng-false-value="'false'"
                                   ng-init="nuevo.es_cadena = 'false'"/>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <button type="button" ng-click="addNewService()" class="btn btn-primary btn-sm"><i
                                class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </td>

            </tr>
            <tr ng-show="(nuevo.es_cadena == 'true')">
                <td colspan="5">
                    <div class="panel panel-default" style="margin: 10px 10px;">
                        <div class="panel-heading clearfix">
                            <span>Medios Asociados</span>

                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-xs btn-primary" ng-click="agregarHijo()">
                                    <span class="glyphicon glyphicon-plus">Agregar</span>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table ng-if="nuevo.hijos.length>0" style="width: 100%"
                                   class="table-bordered table-striped">
                                <thead>
                                <tr style="font-size: 0.7em">
                                    <th>Nombre del Medio</th>
                                    <th>Tipo de publicación</th>
                                    <th>Descripción</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="hijo in nuevo.hijos">
                                    <td>
                                        <div class="form-group">
                                            <label>
                                                <input type="text" name="nombre" class="form-control"
                                                       ng-model="hijo.nombre"
                                                       placeholder="Ej: Diario universal, Estampas..."
                                                       data-toggle="tooltip" data-placement="nombre"
                                                       title="Debe indicar el nombre del Medio correctamente"/>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" id="tipopublicacion2" ng-model="hijo.selectTipo"
                                                validator="required"
                                                ng-options="item.nombre for item in tipospublicaciones track by item.id">
                                            <option value="">Seleccione Medio</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label>
                                                <textarea class="form-control" ng-model="hijo.descripcion"
                                                          placeholder="Ej: Descripción del Medio"></textarea>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a>
                                            <span ng-click="removeHijo($index)" class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="panel panel-default " id="list-servicios">
            <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title alert alert-success"><b>Servicios que se agregaran al medio</b></h3>-->
            <!--</div>-->
            <div class="panel-heading">
                <h3 class="panel-title alert alert-warning">
                    <b>Para agregar los detalles del medio debe pulsar el botón
                        <span class="glyphicon glyphicon-tags"></span> que se encuentra en la columna
                    acción </b>
                </h3>

                <h3 class="panel-title alert alert-warning">
                    <b>Para administrar los medios "hijos" de las cadenas pulsar el botón
                        <span class="glyphicon glyphicon-align-left"></span> que se encuentra en la columna
                    acción </b>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th style=" width: 30%">Nombre del Medio</th>
                        <th>Tipo de Publicación</th>
                        <th>Detalles</th>
                        <th>Descripción</th>
                        <th>Circuito </th>
                        <th>Medios Asociados</th>
                        <th style=" width: 10%">acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style=" width: 100%" ng-repeat="servicio in dataForm.servicios.detalles"
                        class="list-inline">

                        <td>{{$index + 1}}</td>
                        <td>{{servicio.nombre}}</td>
                        <td style=" width: 20%">{{servicio.tipo_publicacion_nombre}}</td>
                        <td>
                            <div ng-repeat="detalle in servicio.otros_detalles">
                                <div ng-repeat="(key, value) in detalle">
                                    <span ng-if="value!='' || value.length>0" class="label label-primary">{{key}}</span>
                                    <br/>
                                </div>
                            </div>
                            <!--                <div ng-if="servicio.otros_detalles.length==0">
                                                <span class="label label-primary">Sin detalles</span>
                                            </div>-->
                        </td>
                        <td style=" width: 40%">{{servicio.descripcion}}</td>
                        <td>
                            <div ng-show="(servicio.tipo_publicacion_nombre == 'Radial' || servicio.tipo_publicacion_nombre == 'Televisivo')" class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="servicio.es_cadena" name="chkescadena"
                                           ng-true-value="'true'" ng-false-value="'false'"/>
                                </label>
                            </div>

                        </td>

                        <td>
                            <div ng-bind-html="servicio.hijos | listadoNombreValor"></div>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="removeService($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button class="btn btn-default btn-xs"
                                    ng-click="serviceDetailModal($index,servicio.otros_detalles, servicio, dataForm.medio.detalles.nombre_comercial)">
                                <span class="glyphicon glyphicon-tags"></span>
                            </button>
                            <!--<button class="btn btn-default btn-xs"-->
                                    <!--ng-click="serviceChildrenModal($index,servicio, servicio, dataForm.medio.detalles.nombre_comercial)"-->
                                    <!--ng-disabled="(servicio.es_cadena != 'true')">-->
                                <!--<span class="glyphicon glyphicon-align-left"></span>-->
                            <!--</button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="(current == 2)">
    <div class="row">
        <table class="table table-bordered table-striped ">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th style="width: 18%">Cargo</th>
                <th>Teléfonos</th>
                <th>Correos</th>
                <th>Tipo</th>
                <th>Interno</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" ng-model="contactonuevo.nombre"/>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" ng-model="contactonuevo.apellido"/>
                        </label>
                    </div>
                </td>
                <td>
                    <select class="form-control" id="cargosContacto" ng-model="cargos" validator="required"
                            ng-options="item.descripcion for item in cargosContacto track by item.id">
                        <option style="width: 16%" value="">Seleccione el cargo</option>
                    </select>
                </td>
                <td>
                    <button ng-click="addTelefonoCont()" type="button" class="btn btn-default btn-sm"
                            ng-disabled="(habilitado == false)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <div ng-repeat="telefonocontacto in contactonuevo.telefonos">
                        <input type="text" class="form-control" id="telefonoscontacto" placeholder="04142356789"
                               name="telefonocont" ng-model="telefonocontacto.a" mask-Telefono
                               ng-readonly="(habilitado == false)"/>
                        <button ng-click="removeTelefonoCont($index)" type="button"
                                ng-show="(contactonuevo.telefonos.length > 1)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </td>
                <td>
                    <button ng-click="addCorreoCont()" type="button" class="btn btn-default btn-sm"
                            ng-disabled="(habilitado == false)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <div ng-repeat="correocontacto in contactonuevo.correos_electronicos">
                        <input type="text" class="form-control" id="correoscontacto"
                               placeholder="micorreo@gmail.com" name="correocont"
                               ng-model="correocontacto.a" ng-readonly="(habilitado == false)">
                        <button ng-click="removeCorreoCont($index)" type="button"
                                ng-show="(contactonuevo.correos_electronicos.length > 1)"><span
                                class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </td>
                <td>
                    <select class="form-control" id="tipoContacto" ng-model="tipo" validator="required"
                            ng-options="item.descripcion for item in tiposContacto track by item.descripcion">
                        <option style="width: 16%" value="">Seleccione el tipo</option>
                    </select>
                </td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="contactonuevo.es_interno" name="chkesinterno"
                                   ng-true-value="'true'" ng-false-value="'false'"
                                   ng-init="contactonuevo.es_interno = 'true'"/>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <button type="button" ng-click="addNewContacto()" class="btn btn-primary btn-sm">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <!-- Listado de Contactos Agregados-->
        <div class="panel panel-default " id="list-contactos">
            <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title alert alert-success"><b>Contactos que se agregaran al medio</b></h3>-->
            <!--</div>-->
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cargo</th>
                        <th>Teléfonos</th>
                        <th>Correos</th>
                        <th>Tipo</th>
                        <th>Interno</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style=" width: 100%" ng-repeat="contacto in dataForm.contactos.detalles"
                        class="list-inline" ng-init="editableContact[$index] = false">
                        <td>{{$index + 1}}</td>
                        <td>
                            <div ng-show="(editableContact[$index] == false)">{{contacto.nombre}}</div>
                            <div class="form-group" ng-show="(editableContact[$index] == true)">
                                <label>
                                    <input type="text" class="form-control" ng-model="contacto.nombre"/>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div ng-show="(editableContact[$index] == false)">{{contacto.apellido}}</div>
                            <div class="form-group" ng-show="(editableContact[$index] == true)">
                                <label>
                                    <input type="text" class="form-control" ng-model="contacto.apellido"/>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div ng-show="(editableContact[$index] == false)">{{contacto.cargo.descripcion}}</div>
                            <select class="form-control" id="cargos" ng-model="contacto.cargo" validator="required"
                                    ng-options="item.descripcion for item in cargosContacto track by item.id"
                                    ng-show="(editableContact[$index] == true)" >
                                <option style="width: 16%" value="">Seleccione el cargo</option>
                            </select>
                        </td>
                        <td>
                            <div ng-bind-html="contacto.telefonos |  listadoContMed"
                                 ng-show="(editableContact[$index] == false)"></div>

                            <div ng-show="(editableContact[$index] == true)">
                                <button ng-click="addTelefonoContAdded($index)" type="button"
                                        class="btn btn-default btn-sm" ng-disabled="(habilitado == false)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <div ng-repeat="telefonocontacto in contacto.telefonos">
                                    <input type="text" class="form-control" id="telefonoscontact"
                                           placeholder="04142356789" name="telefonocont"
                                           ng-model="telefonocontacto.a" ng-readonly="(habilitado == false)"/>
                                    <button ng-click="removeTelefonoContAdded($index, $parent.$index)" type="button"
                                            ng-show="(contacto.telefonos.length > 1)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-bind-html="contacto.correos_electronicos | listadoContMed"
                                 ng-show="(editableContact[$index] == false)"></div>
                            <div ng-show="(editableContact[$index] == true)">
                                <button ng-click="addCorreoContAdded($index)" type="button"
                                        class="btn btn-default btn-sm" ng-disabled="(habilitado == false)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <div ng-repeat="correocontacto in contacto.correos_electronicos">
                                    <input type="text" class="form-control" id="correoscontact"
                                           placeholder="micorreo@gmail.com" name="correocont"
                                           ng-model="correocontacto.a" ng-readonly="(habilitado == false)"/>
                                    <button ng-click="removeCorreoContAdded($index, $parent.$index)" type="button"
                                            ng-show="(contacto.correos_electronicos.length > 1)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-show="(editableContact[$index] == false)">{{ contacto.tipo.descripcion }}</div>
                            <select class="form-control" id="tipo" ng-model="contacto.tipo" validator="required"
                                    ng-options="item.descripcion for item in tiposContacto track by item.descripcion"
                                    ng-show="(editableContact[$index] == true)">
                                <option style="width: 16%" value="">Seleccione el tipo</option>
                            </select>
                        </td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="contacto.es_interno" name="chkesinterno"
                                           ng-true-value="'true'" ng-false-value="'false'"
                                           ng-disabled="(editableContact[$index] == false)"/>
                                </label>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="removeContacto($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button class="btn btn-default btn-xs" ng-click="toggleEditableContact($index)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myTooltipTemplate.html">
    <div ng-show="tooltipdata.length > 0">
        <p ng-repeat="row in tooltipdata"><b>{{ row.nombre }}:{{row.descripcion}}</b></p>
    </div>
    <div ng-show="tooltipdata.length == 0">No hay detalles extra agregados</div>
</script>

<style>
    /* Specify styling for tooltip contents */
    .tooltip.customClass .tooltip-inner {
        color: #880000;
        background-color: #D9EDF7;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    /* Hide arrow */
    .tooltip.customClass .tooltip-arrow {
        display: none;
    }
</style>
