<form>
    <!--<h2>Ficha del medio</h2>-->
    <div class="row">
        <div class="col-md-6">
            <label for="rif">RIF:</label>
            <span class="span-requerido">*</span>

            <div class="input-group" style="">
                <input id="rif" class="form-control" ng-model="dataForm.medio.detalles.rif" mask-rif/>
                <span class="input-group-btn">
                    <button type="button" class=" btn btn-primary" style=" margin-top: 0px" title="Consultar RIF"
                            ng-click="consulta(dataForm.medio.detalles.rif)">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Importante:</div>
                <div class="panel-body">
                    <p>Recuerde por favor ingresar un número de RIF válido y pulsar el botón con el símbolo de
                        la lupa junto a él</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="razonsocial">Razón Social:</label>
            <textarea class="form-control" id="razonsocial" placeholder="Razon social" rows="4"
                      ng-model="dataForm.medio.detalles.razon_social"
                      ></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="direccion">Dirección Fiscal:</label>
                <span class="span-requerido">*</span>
            <textarea class="form-control" ng-model="dataForm.medio.detalles.direccion_fiscal"
                      id="direccion" name="direccion"
                      placeholder="Ej: Calle los mangos, cruce con avenida 3, boleita, caracas, Edo Miranda"
                      require-void rows="4" cols="40"
                      required
                      ng-readonly="(habilitado == false)">

            </textarea>

                <div class="has-error" style="position: absolute; margin-top: -8px">
                    <small class="help-block"
                           ng-show="formmedio.direccion.$error.required && formmedio.submitted ">
                        <strong>La Dirección es requerida!!</strong>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nom_comercial">Nombre Comercial</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="nom_comercial"
                       placeholder="Nombre comercial"
                       ng-model="dataForm.medio.detalles.nombre_comercial"
                       ng-readonly="(habilitado == false)"
                       name="nom_comercial"
                       required
                        />

                <div class="has-error">
                    <small class="help-block"
                           ng-show="formmedio.nom_comercial.$error.required && formmedio.submitted">
                        <strong> El Nombre Comercial es Requerido!!</strong>
                    </small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="date_fundacion">Fecha de Fundación:</label>
            <!--<span class="span-requerido">*</span>-->

            <div class="input-group">
                <input id="date_fundacion" name="date_fundacion" type="text" class="form-control"
                       datepicker-popup="{{calendar.dateFormat}}"
                       ng-model="dataForm.medio.detalles.fecha_fundacion"
                       is-open="calendar.opened.fundacion"
                       min-date="calendar.now"
                       datepicker-options="calendar.dateOptions"
                       close-text="Cerrar" placeholder="Fecha de Fundación"
                       current-text="Hoy" clear-text="Limpiar" ng-readonly="true" />
                       <!-- require-void required> -->
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'fundacion')"
                                    ng-disabled="(habilitado == false)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                <div class="has-error" style="position: absolute; margin-top: -8px; margin-left: -317px">
                    <small class="help-block"
                           ng-show="formmedio.date_fundacion.$error.required && formmedio.submitted ">
                        <strong>La fecha de Fundación es Requerido!!</strong>
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="rnc_estatus">Estatus RNC:</label>
            <textarea class="form-control" id="rnc_estatus" ng-model="dataForm.medio.detalles.rnc.estatus" rows="4"
                      ng-disabled="(!habilitadornc)"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="rnc_estatus">Nivel RNC:</label>
                <input type="text" class="form-control" id="rnc_nivel" ng-model="dataForm.medio.detalles.rnc.nivel"
                       ng-disabled="(!habilitadornc)"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="solvencia_laboral">Solvencia laboral:</label>
                <input type="text" class="form-control" id="solvencia_laboral" placeholder=""
                       ng-model="dataForm.medio.detalles.solvencia.estatus"
                       ng-disabled="(!habilitadosolvencia)"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ultima_sol">Ultima solicitud de solvencia:</label>
                <input type="text" class="form-control" id="ultima_sol" placeholder=""
                       ng-model="dataForm.medio.detalles.solvencia.ultima_solicitud"
                       ng-disabled="(!habilitadosolvencia)"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="r-iva">Agente de Retención IVA:</label>
                <input type="text" class="form-control" id="r-iva" placeholder=""
                       ng-model="dataForm.medio.detalles.seniat.agenteretencioniva"
                       ng-disabled="(!habilitadoseniat)"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="civa">Contribuyente IVA:</label>
                <input type="text" class="form-control" id="civa" placeholder=""
                       ng-model="dataForm.medio.detalles.seniat.contribuyenteiva"
                       ng-disabled="(!habilitadoseniat)"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="tiva">Tasa de Retención ( % ):</label>
                <input type="text" class="form-control" id="tiva" placeholder=""
                       ng-model="dataForm.medio.detalles.seniat.tasa"
                       ng-disabled="(!habilitadoseniat)"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="sitio_web">Sitio Web:</label>
                <input type="text" class="form-control" id="sitio_web" placeholder="http://www.misitio.com"
                       ng-model="dataForm.medio.detalles.sitio_web"
                       ng-readonly="(habilitado == false)"/>
            </div>
        </div>
    </div>
</form>