<div class="page-header"><h2>Datos del Proveedor</h2></div>
<div class="container">
    <div class="row"><b>R.I.F.:</b> {{detalles.rif}}</div>
    <div class="row"><b>Razón social:</b> {{detalles.razon_social}}</div>

    <div class="row"><b>Fecha de Fundación:</b> {{detalles.fecha_fundacion | date}}</div>
    <div class="row"><b>Dirección Fiscal:</b> {{detalles.direccion_fiscal}}</div>
    <div class="row"><b>Nombre Comercial:</b> {{detalles.nombre_comercial}}</div>
    <div class="row"><b>Sitio web:</b> {{detalles.sitio_web}}</div>

    <div ng-repeat="adicional in detalles.otros_detalles">
        <div class="row"><b>{{adicional.nombre}}:</b> {{adicional.descripcion}}</div>
    </div>

    <hr/>
    <h4>SENIAT</h4>

    <div class="row"><b>Agente de Retención de IVA:</b> {{detalles.seniat.agenteretencioniva}}</div>
    <div class="row"><b>Contribuyente IVA:</b> {{detalles.seniat.contribuyenteiva}}</div>
    <div class="row"><b>Tasa:</b> {{detalles.seniat.tasa}}</div>

    <hr/>
    <h4>RNC</h4>

    <div class="row"><b>Estatus:</b> {{detalles.rnc.estatus}}</div>
    <div class="row"><b>Nivel:</b> {{detalles.rnc.nivel}}</div>

    <hr/>
    <h4>Solvencia Laboral</h4>

    <div class="row"><b>Estatus:</b> {{detalles.solvencia.estatus}}</div>
    <div class="row"><b>Ultima Solicitud:</b> {{detalles.stringToDate(detalles.solvencia.ultima_solicitud) | date }}</div>
</div>
