<form role="form" name="MediocontactoForm" id="mediocontacto_form">
    <div class="modal-header">
        <h3 class="modal-title">Cambiar Imagen</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 form-group ">
                <div class="input-group" style="">
                    <input
                            ng-disabled="true"
                            id="adjunto_name"
                            name="adjunto_name"
                            class="form-control input-sm"
                            ng-model="datos.file_name"/>
                                    <span class="input-group-btn">
                                        <button

                                                placeholder="Adjunto"
                                                id="adjunto_file"
                                                type="file"
                                                class=" btn btn-primary input-sm"
                                                style=" margin-top: 0px"
                                                ng-file-select
                                                ng-file-change="process_file($files)"
                                                ng-multiple="false"
                                                ><span class="glyphicon glyphicon-upload"></span></button>
                                        </span>
                </div>
                <div ng-show="file.length > 0">
                    <span class="sel-file" id="content-upload"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="guardar(datos.file_name)" class="btn btn-primary"> Guardar</button>
    </div>
</form>