
<div class="container-fluid" ng-show="(current == 0)" ng-include="'modules/medios/views/medios/data_medio_form.html'">

</div>
<button  ng-click="update()" class="btn btn-sm btn-success">
    <i class="fa fa-exchange"></i>&nbsp;Guardar
</button>