<div class="row">
    <div class="col-md-2">
        <div class="">
            <img src="{{patAdminApi}}img/avatar.jpg" alt="..." class="img-responsive img-thumbnail">

            <div class="caption">
                <h5>{{detalles.razon_social}}</h5>
                <a href="#/admin/editar_medio/{{idMedio}}" class="btn btn-default" role="button"><i
                        class="glyphicon glyphicon-edit"></i>Editar Proveedor</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="btn-block">
            <div style="text-align:left; padding: 5px" class="header-btn">
                <p><a class="btn btn-primary" href="#" title="Agregar nuevo contacto">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Contacto
                </a>&nbsp;&nbsp;<a class="btn btn-primary" href="#" title="Crear nueva cotizacion">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Cotizacion
                </a>&nbsp;&nbsp;<a class="btn btn-primary" href="#" title="Crea nueva pauta">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Pauta
                </a>&nbsp;&nbsp;<a class="btn btn-primary" href="#" title="Cargar nuevo contrato">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Contratos
                </a>&nbsp;&nbsp;<a class="btn btn-primary" href="#" title="Ver reportes">
                    <i class="glyphicon glyphicon-eye-open"></i>&nbsp;Reportes
                </a>&nbsp;&nbsp;</p>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div>
        <tabset>
            <tab ng-repeat="tab in tabsMedio" heading="{{tab.title}}" active="tab.active" disable="tab.disabled"
                 ng-click="tabClick($index)">
                <div ng-include="tab.template"></div>

            </tab>
        </tabset>
    </div>
</div>