<!-- Mixed: mobile, tablet, and desktop -->
<form name="TipoPublicacionForm" id="tipo_publicacion_form">
    <div class="row">
        <h3>Tipo de Publicación</h3>
        <hr/>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="nombre">Descripción</label>
            <span class="span-requerido">*</span>
            <input type="text" id="nombre" name="nombre" ng-model="TipoPublicacion.nombre" class="form-control"
                   placeholder="Indique el Nombre del Tipo de Publicación" validator="alpha_numeric_space, required"
                   valid-method="submit" ng-readonly="viewMode"/>
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción (Maximo:75 Caractres)</label>
            <span class="span-requerido">*</span>
            <textarea id="descripcion" name="descripcion" ng-model="TipoPublicacion.descripcion" class="form-control"
                      placeholder="Descripción del Tipo de Publicación"
                      validator="alpha_numeric_space,required,max_length" valid-method="submit" ng-readonly="viewMode"
                      data-max-length="75"></textarea>
        </div>
        <br/>

        <div class="row text-center" ng-show="!viewMode">
			<span class="input-group-btn">
		        <button type="button" class="btn btn-primary"
                        ng-click="tipo_publicacion_form.submit(TipoPublicacionForm)"><span
                        class="glyphicon glyphicon-floppy-disk"> Guardar</span></button>
		    </span>
        </div>
    </div>
</form>