<!-- Listado de Servicio Agregados-->
<div class="panel panel-default " id="list-product">
    <div class="panel-heading">
        <h3 class="panel-title alert alert-success"><b>Medios que se agregaran al Proveedor</b></h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
            <th>#</th>
            <th style=" width: 20%">Nombre</th>
            <th style=" width: 40%">Tipo de publicación</th>
            <th>Descripción</th>
            <th style=" width: 10%">Acción</th>
            </thead>
            <tbody>
            <tr style=" width: 100%" ng-repeat="servicio in dataForm.servicios.detalles" class="list-inline">

                <td>{{$index + 1}}</td>
                <td>{{servicio.nombre}}</td>
                <td style=" width: 20%">{{servicio.tipo_publicacion}}</td>
                <td style=" width: 40%">{{servicio.descripcion}}</td>
                <td>
                    <button class="btn btn-default btn-xs" ng-click="removeService($index)">
                            <span class="glyphicon glyphicon-trash">

                            </span>
                    </button>
                </td>

            </tr>
            <tr ng-if="dataForm.articles.length == 0">
                <td align="center" colspan="6">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    Seleccione los Servicio a agregar
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>