<div class="row">
    <div class="modal-header">
        <h3 class="modal-title">Medios asociados al Circuito - <b>{{titulo.nombre}}</b>  </b>
        </h3>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style="margin: 10px 10px;">
            <div class="panel-heading clearfix">
                <span class="pull-left" style="padding-top: 5px;"></span>

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-xs btn-primary"
                            ng-click="agregarHijo()">
                        <span class="glyphicon glyphicon-plus"></span>Agregar
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <table ng-if="nuevo.hijos.length>0" style="width: 100%"
                       class="table-bordered table-striped">
                    <thead>
                    <tr style="font-size: 0.7em">
                        <th>#</th>
                        <th>Nombre del Medio</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="hijo in nuevo.hijos">
                        <td>
                            {{ $index + 1 }}
                        </td>
                        <td>
                            <select class="form-control" id="tipopublicacion"
                                    ng-model="hijo.medio"
                                    validator="required"
                                    ng-options="item.nombre for item in medio_servicios track by item.id">
                                <option value="">Seleccione Medio</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <a><span ng-click="removeHijo($index)"
                                     class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div style="text-align: center">
    <button type="button" ng-click="guardarDetallesServicio()" class="btn btn-primary"> Guardar</button>
</div>