<form name="gestionForm" id="recargo_form">
    <div class="row">
        <h3>Actualizar porcentaje por gestion</h3>
        <hr/>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="porcentajeinput">Valor del Porcentaje</label>
            <span class="span-requerido">*</span>
            <input type="text" id="porcentajeinput" name="porcentaje" class="form-control" placeholder="Indique el valor actual del porcentaje por gestion ej: 12"
                   ng-model="recargo_gestion.porcentaje" ng-readonly="viewMode"
                   validator="required, decimal" valid-method="submit" />
        </div>

        <br/>
        <div class="row text-center" ng-show="!viewMode">
			<span class="input-group-btn">
		        <button type="button"  class="btn btn-primary" ng-click="recargo_form.submit(gestionForm)"><span class="glyphicon glyphicon-floppy-disk">&nbsp;Guardar</span></button>
		    </span>
        </div>
    </div>
</form>

        {{correcto}}