<form role="form" name="ContratosForm" id="contrato_form">
    <div class="modal-header">
        <h3 class="modal-title">Editar Configuracion</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 form-group ">
                <label for="descrip">Descripcion:</label>
                <span class="span-requerido">*</span>
                <textarea
                       class="form-control"
                       id="descrip"
                       name="descrip"
                       ng-model="generic_configuration.description"
                       validator="required"
                       valid-method="submit"
                        readonly>
                </textarea>
            </div>
            <div class="col-md-6 form-group">
                <label for="valorr">Valor:</label>
                <span class="span-requerido">*</span>
                <textarea
                       class="form-control"
                       id="valorr"
                       name="valorr"
                       ng-model="generic_configuration.value"
                       validator="{{generic_configuration.validacion}}"
                       valid-method="submit">
                    </textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="tipo">Tipo Publicacion:</label>
                <span class="span-requerido">*</span>
                <input  type="text"
                        class="form-control"
                        id="tipo"
                        name="tipo"
                        ng-model="generic_configuration.tipo_publicacion.nombre"
                        valid-method="submit"
                        readonly>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="contrato_form.submit(ContratosForm)" class="btn btn-primary"> Guardar</button>
        </div>
    </div>
</form>