<form role="form" name="MediocontactoForm" id="mediocontacto_form">
    <div class="modal-header">
        <h3 class="modal-title">Crear contacto</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 form-group ">
                <label for="nombre">Nombre:</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="nombre"
                       name="nombre"
                       placeholder="Nombre"
                       ng-model="detalles.nombre"
                       validator="required"
                       valid-method="submit">
            </div>
            <div class="col-md-6 form-group">
                <label for="apellido">Apellido:</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="apellido"
                       name="apellido"
                       placeholder="Apellido"
                       ng-model="detalles.apellido"
                       validator="required"
                       valid-method="submit">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="cargocontacto">Cargo Contacto:</label>
                <span class="span-requerido">*</span>
                <select class="form-control"
                        id="cargocontacto"
                        name="cargocontactog"
                        ng-options="item.descripcion for item in detalles.cargos track by item.id"
                        ng-model="detalles.cargo"
                        validator="required"
                        valid-method="submit">
                    <option value="">Seleccione el cargo</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="tipo">Tipo de Contacto:</label>
                <span class="span-requerido">*</span>
                <select class="form-control" id="tipo" ng-model="tipo"
                        validator="required"
                        ng-options="item.descripcion for item in tiposContacto track by item.id">
                    <option style="width: 16%" value="">Seleccione el tipo</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="telefonos">Telefonos: </label>

                <button ng-click="addTelefono()" type="button" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-plus"></span></button>
                <span class="span-requerido">*</span>

                <div ng-repeat="telefono in detalles.telefonos">
                    <input type="text"
                           class="form-control"
                           id="telefonos"
                           placeholder="Ejm: 04121233443"
                           name="telefono"
                           mask-Telefono
                           ng-model="telefono.a"
                           validator="required"
                           valid-method="submit">
                    <button ng-click="removeTelefono($index)" type="button"><span
                            class="glyphicon glyphicon-remove"></span>
                    </button>
                    <br/>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="correos">Correos electronicos: </label>

                <button ng-click="addCorreo()" type="button" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-plus"></span></button>

                <div ng-repeat="correo in detalles.correos_electronicos">
                    <input type="text"
                           class="form-control"
                           id="correos"
                           placeholder="correos"
                           name="correo"
                           ng-model="correo.a"
                           validator="email"
                           valid-method="submit">
                    <button ng-click="removeCorreo($index)" type="button"><span
                            class="glyphicon glyphicon-remove"></span>
                    </button>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="interno">Tipo interno: </label>
                <span class="span-requerido">*</span>
                <toggle-switch
                        ng-model="detalles.es_interno"
                        on-label="SI" off-label="NO"
                        ng-init="detalles.es_interno = 'true'">
                </toggle-switch>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button ng-click="mediocontacto_form.submit(MediocontactoForm)" class="btn btn-primary"> Guardar</button>
    </div>
    </div>
</form>