<div class="page-header">
    <h2>Datos del Contacto</h2>
</div>
<div class="container">
    <div class="row">
        <b>Nombre:</b> {{detalles.nombre}}
    </div>
    <div class="row"><b>Apellido:</b>{{detalles.apellido}}</div>
    <div class="row"><b>Cargo:</b> {{detalles.cargo.descripcion}}</div>
    <div class="row"><b>Tipo Contacto:</b>{{detalles.tipo}}</div>
    <div class="row"><b>Interno:</b>{{detalles.es_interno | si_no}}</div>
    <div class="row"><b>Teléfonos:</b></div>
    <div class="row listado" ng-bind-html="detalles.telefonos | listadoContMed"></div>
    <div class="row"><b>Correos Electrónicos:</b></div>
    <div class="row listado" ng-bind-html="detalles.correos_electronicos | listadoContMed"></div>
</div>