<form role="form" name="MediocontactoForm" id="mediocontacto_form">

    <div ng-show=" lugar == 'mensajero'">
        <div class="modal-header">
            <h3 class="modal-title">Entregado al mensajero el:</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <label for="date_fundacion">Entregado al mensajero el:</label>
                    <span class="span-requerido">*</span>

                    <div class="input-group">
                        <input id="date_fundacionv" name="date_fundacion" type="text" class="form-control"
                               datepicker-popup="{{calendar.dateFormat}}"
                               ng-model="detalles.fecha_motorizado"
                               is-open="calendar.opened.fundacion"
                               min-date="calendar.now"
                               datepicker-options="calendar.dateOptions"
                               close-text="Cerrar" placeholder="Fecha entregado al mensajero"
                               current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
                               require-void
                               required>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'fundacion')"
                                    ng-disabled="(habilitado == false)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                        <div class="has-error" style="position: absolute; margin-top: -8px; margin-left: -317px">
                            <small class="help-block"
                                   ng-show="formmedio.date_fundacion.$error.required && formmedio.submitted ">
                                <strong>La fecha es Requerida!!</strong>
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="changeStatus(factura.id,'motorizado')">Entregada al mensajero
                </button>
            </div>
        </div>
    </div>
    <div ng-show=" lugar == 'cliente'">
        <div class="modal-header">
            <h3 class="modal-title">Entregado al cliente el:</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <label for="date_fundacion">Entregado al cliente el:</label>
                    <span class="span-requerido">*</span>

                    <div class="input-group">
                        <input id="date_fundacionr" name="date_fundacion" type="text" class="form-control"
                               datepicker-popup="{{calendar.dateFormat}}"
                               ng-model="detalles.fecha_cliente"
                               is-open="calendar.opened.fundacion"
                               min-date="calendar.now"
                               datepicker-options="calendar.dateOptions"
                               close-text="Cerrar" placeholder="Fecha entregado al cliente"
                               current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
                               require-void
                               required>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'fundacion')"
                                    ng-disabled="(habilitado == false)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                        <div class="has-error" style="position: absolute; margin-top: -8px; margin-left: -317px">
                            <small class="help-block"
                                   ng-show="formmedio.date_fundacion.$error.required && formmedio.submitted ">
                                <strong>La fecha es Requerida!!</strong>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="changeStatus(factura.id,'cliente')">Entregada al cliente</button>
        </div>
    </div>

    <div ng-show=" lugar == 'cancelada'">
        <div class="modal-header">
            <h3 class="modal-title">Pagado el:</h3>
        </div>
        <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label for="date_fundacion">Pagado el:</label>
                <span class="span-requerido">*</span>

                <div class="input-group">
                    <input id="date_fundacion" name="date_fundacion" type="text" class="form-control"
                           datepicker-popup="{{calendar.dateFormat}}"
                           ng-model="detalles.fecha_cancelada"
                           is-open="calendar.opened.fundacion"
                           min-date="calendar.now"
                           datepicker-options="calendar.dateOptions"
                           close-text="Cerrar" placeholder="Fecha pagado"
                           current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
                           require-void
                           required>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'fundacion')"
                                    ng-disabled="(habilitado == false)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    <div class="has-error" style="position: absolute; margin-top: -8px; margin-left: -317px">
                        <small class="help-block"
                               ng-show="formmedio.date_fundacion.$error.required && formmedio.submitted ">
                            <strong>La fecha es Requerida!!</strong>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="changeStatus(factura.id, 'cancelada')">Pagado</button>
        </div>
    </div>
    </div>
</form>