</br>
<p><b>C&oacute;digo de factura:</b> {{ factura.codigo }}</p>
<p><b>Fecha de emisi&oacute;n: </b>{{ factura.created_at }}</p>
<p><b>Estatus: </b><b style="text-transform: uppercase;">{{ factura.estatus }}</b></p>
<p><b>Estatus de pago: </b><b style="text-transform: uppercase;">{{ factura.estatus_factura }}</b></p>
<p><b>Entregada al mensajero el: </b> {{ factura.fecha_motorizado }}</p>
<p><b>Entregada al cliente el: </b> {{ factura.fecha_cliente }}</p>
<p><b>Pagada el: </b>{{factura.fecha_cancelada}}</p>
<p><b>Anulada el : </b>{{factura.fecha_anulacion}}</p>
<p><b>Monto Restante de la factura : </b>{{factura.restante | formatNumberMoney}}</p>


<div ng-show="factura.tipo_factura == 'cuota'">
    <h3>Cuota(s)</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="app-center">Numero de cuota</th>
            <th class="app-center">Fecha de cuota</th>
            <th class="app-center">Sub-Total (Bs.)</th>
            <th class="app-center">Total (Bs.)</th>
            <!--<th class="app-center">Restante (Bs.)</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cuota in factura.factura_contrato_cuotas">

            <td>Cuota #{{ cuota.numero_cuota }}</td>
            <td> {{ cuota.fecha }}</td>
            <td>{{ cuota.monto | formatNumberMoney }}</td>
            <td>{{ (cuota.monto*1 + cuota.monto_iva*1)| formatNumberMoney }}</td>
            <!--<td>{{ (cuota.monto*1 + cuota.monto_iva*1)| formatNumberMoney }}</td>-->
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="factura.tipo_factura == 'publicacion'">
    <h3>Publicaciones</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Opc</th>
            <th class="app-center">C&oacute;digo</th>
            <th class="app-center">Fecha de creaci&oacute;n</th>
            <th class="app-center">Proveedor</th>
            <th>Medios</th>
            <th class="app-center">Sub-Total (Bs.)</th>
            <!--<th class="app-center">Total (Bs.)</th>-->
            <!--<th class="app-center">Restante (Bs.)</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="publicacion in factura.factura_orden_publicacion">
            <td>
                <a href="#/admin/editar_publicacion/{{publicacion.id}}" class="btn btn-default btn-xs"><span
                        class="glyphicon glyphicon-zoom-in"></span></a>
            </td>
            <td>{{ publicacion.codigo }}</td>
            <td> {{ publicacion.fecha_creacion }}</td>
            <td> {{ publicacion.medio.nombre_comercial}}</td>
            <td ng-bind-html="publicacion.version | listado_key_publicacion_facturas:true:'servicio':'nombre'"></td>
            <td>{{ publicacion.subtotal | formatNumberMoney }}</td>
            <!--<td>{{ publicacion.total | formatNumberMoney }}</td>-->
            <!--<td>{{ publicacion.total | formatNumberMoney }}</td>-->
        </tr>
        </tbody>
    </table>
</div>
<div class="alert alert-info" role="alert">
    <div class="row">



        <p style="text-align: right;"><b>Sub-Total:</b> <span>{{totales.subtotal | formatNumberMoney }}</span> Bs.</p>

        <p style="text-align: right;" ng-show="factura.tipo_factura == 'cuota'"><b>I.V.A.:</b> <span>{{totales.iva | formatNumberMoney }}</span>
            Bs.</p>

        <p style="text-align: right;" ng-show="factura.tipo_factura == 'publicacion'"><b>I.V.A.:</b> <span>{{totales.iva | formatNumberMoney }}</span>
            Bs.</p>

        <p style="text-align: right;"><b>Total:</b> <span>{{totales.total | formatNumberMoney }}</span> Bs.</p>
    </div>
</div>
<div class="modal-footer">


    <span ng-repeat="boton in permisos_estatus.permission">

         <button class="btn btn-primary" ng-click="anularNotaCredito()"
                 ng-if="( factura.fecha_cliente == null && factura.fecha_cancelada == null && factura.estatus != 'cancelada' && factura.estatus != 'ajustada por nota de credito' && factura.fecha_anulacion == null && factura.nota_credito_id == null)"><span
                 ></span>&nbsp; Nota de credito
         </button>
<span ng-show="(factura.tipo_factura == 'cuota' )">
         <button class="btn btn-primary" ng-click="anularfacturacuota()"
                 ng-if="( factura.fecha_cliente == null && factura.fecha_cancelada == null && factura.estatus != 'cancelada' && factura.estatus != 'ajustada por nota de credito' && factura.fecha_anulacion == null && factura.nota_credito_id == null)"><span
                 class="glyphicon glyphicon-remove"></span>&nbsp;Anular Factura
         </button>
</span>

        <span ng-show="(factura.tipo_factura == 'publicacion')">
            <button class="btn btn-primary" ng-click="anularfacturapublicacion()"
                    ng-if="(  factura.fecha_cliente == null && factura.fecha_cancelada == null && factura.estatus != 'cancelada' && factura.estatus != 'ajustada por nota de credito' && factura.fecha_anulacion == null && factura.nota_credito_id == null)"><span
                    class="glyphicon glyphicon-remove"></span>&nbsp;Anular Factura
            </button>
        </span>
        <span ng-if="boton.url == 'fechaEntregado'">
    <button class="btn btn-primary" ng-click="fechaEntregado('mensajero')"
            ng-if="(factura.fecha_motorizado == null && factura.fecha_anulacion == null && factura.nota_credito_id == null)">
        Entregada al mensajero
    </button>
    <button class="btn btn-primary" ng-click="fechaEntregado('cliente')"
            ng-if="(factura.fecha_cliente == null && factura.fecha_motorizado != null && factura.fecha_anulacion == null && factura.nota_credito_id == null)">
        Entregada al cliente
    </button>
    <button class="btn btn-primary" ng-click="fechaEntregado('cancelada')"
            ng-if="(factura.fecha_cancelada == null && factura.fecha_cliente != null && factura.fecha_motorizado != null && factura.restante == 0 && factura.fecha_anulacion == null)">
        Pagado
    </button>
</span>

 <span ng-show="(factura.tipo_factura == 'publicacion')">
<button class="btn btn-primary" ng-click="imprimirFactura(factura.id)"><span
        class="glyphicon glyphicon-print"></span>&nbsp;Imprimir
</button>
     </span>
<span ng-show="(factura.tipo_factura == 'cuota')">
<button class="btn btn-primary" ng-click="imprimirFactura(factura.id)"><span
        class="glyphicon glyphicon-print"></span>&nbsp;Imprimir
</button>
    </span>
        </span>
    </div>