</br>
      {{}}</pre>
<p><b>C&oacute;digo de la Nota de Credito:</b> {{ nota.codigo }}</p>
<p><b>C&oacute;digo de la Factura :</b> {{ nota.factura.codigo }}</p>
<p><b>Fecha de emisi&oacute;n: </b>{{ nota.created_at }}</p>
<p><b>Estatus: </b><b style="text-transform: uppercase;">{{ nota.estatus }}</b></p>
<p><b>Entregada al mensajero el: </b> {{ nota.fecha_motorizado }}</p>
<p><b>Entregada al cliente el: </b> {{ nota.fecha_cliente }}</p>

<div class="alert alert-info" role="alert">
    <div class="row">

        <!--<p style="text-align: right;" ng-show="factura.tipo_factura == 'cuota'"><b>I.V.A.:</b> <span>{{totales.iva | formatNumberMoney }}</span>-->
            <!--Bs.</p>-->

        <!--<p style="text-align: right;" ng-show="factura.tipo_factura == 'publicacion'"><b>I.V.A.:</b> <span>{{totales.iva | formatNumberMoney }}</span>-->
            <!--%</p>-->

        <p style="text-align: right;"><b>Monto total de la nota:</b> <span>{{nota.monto | formatNumberMoney }}</span> Bs.</p>

        <p style="text-align: right;"><b>Monto total de la factura:</b> <span>{{nota.factura.total_factura | formatNumberMoney }}</span> Bs.</p>

        <!--<p style="text-align: right;"><b>Sub-Total:</b> <span>{{nota.factura.restante | formatNumberMoney }}</span> Bs.</p>-->

        <!--<p style="text-align: right;"><b>Total:</b> <span>{{nota.factura.restante  | formatNumberMoney }}</span> Bs.</p>-->
    </div>
</div>
<div class="modal-footer">


    <span ng-repeat="boton in permisos_estatus.permission">

        <span ng-if="boton.url == 'fechaEntregadoN'">
    <button class="btn btn-primary" ng-click="fechaEntregadoN('mensajero')"
            ng-if="(nota.fecha_motorizado == null)">

        Entregada al mensajero
    </button>
    <button class="btn btn-primary" ng-click="fechaEntregadoN('cliente')"
            ng-if="(nota.fecha_cliente == null && nota.fecha_motorizado != null )
            ">
        Entregada al cliente
    </button>

    </span>
    </span>
    <button class="btn btn-primary" ng-click="imprimirNota(nota.id)"><span
            class="glyphicon glyphicon-print"></span>&nbsp;Imprimir
    </button>
</div>