<h3>{{ title }}</h3>

<form name="formfacturar" id="formfacturar">
    <div crud-template=""></div>
    <br/>
    <div class="alert alert-info" role="alert">
        <!--$scope.totalSinIva = rTotal.sinIva;
        $scope.totalConIva = rTotal.conIva;
        $scope.total_impuesto = rTotal.conIva;
        $scope.total_impuesto_avp = rTotal.conIva;
        $scope.importe = rTotal.importe;-->
        <div class="row" style="text-align: right">
            <p><b>Sub-Total Publicaciones:</b> <span ng-bind-html="importe | moneySaldo"></span> Bs.</p>
            <p><b>Gestión de Medios AVP (10,00%) :</b> <span ng-bind-html="total_impuesto_avp | moneySaldo"></span> Bs.</p>
            <p><b>Sub-Total:</b> <span ng-bind-html="totalSinIva | moneySaldo"></span> Bs.</p>
            <p><b>+I. V. A.:</b> <span ng-bind-html="totalConIva | moneySaldo"></span> Bs.</p>
        </div>
    </div></br>
    <div class="row text-center" style="margin: 20px;" ng-show="(chckdCount > 0)">
        <span ng-repeat="boton in permisos.permission">
        <button class="btn btn-primary" type="button" ng-click="getChecked1(boton.url)" >
            {{boton._name}}
        </button>
            </span>
    </div>
</form>