<form role="form" name="MediocontactoForm" id="mediocontacto_form">
    <div class="modal-header">
        <h3 class="modal-title">Nota de credito</h3>

    </div>
    <div class="row">
        <div class="col-md-9 ">
            <h5>Total de la factura: {{total_factura | formatNumberMoney}} bs</h5>
        </div>
    </div>
    <!--<pre>{{}}</pre>-->
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 form-group ">
                <label for="Monto">Monto:</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="Monto"
                       name="Monto"
                       placeholder="Monto"
                       ng-model="detalles.monto"
                       validator="required, less_than"
                       mask-money
                       data-less-than="{{total_factura}}"
                       data-msg-with="{{total_factura}}"
                       valid-method="submit">
            </div>
            <div class="col-md-6 form-group ">
                <label for="transaccion">Numero de control</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="transaccion"
                       name="transaccion"
                       placeholder="Numero de control"
                       ng-model="detalles.n_control"
                       validator="required"
                       valid-method="submit">

            </div>
        </div>
        <div class="row">

            <div class="col-md-6 form-group">
                <label for="Observaciones">Descripcion</label>
                <span class="span-requerido">*</span>
                <textarea type="text"
                          class="form-control"
                          id="Observaciones"
                          name="Observaciones"
                          placeholder="Descripcion"
                          ng-model="detalles.descripcion"
                          validator="required"
                          valid-method="submit">
                </textarea>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="mediocontacto_form.submit(MediocontactoForm)" class="btn btn-primary"> Generar
            </button>
        </div>
    </div>
</form>