<form role="form" name="MediocontactoForm" id="mediocontacto_form">
    <div class="modal-header">
        <h3 class="modal-title">Circulacion</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 form-group ">
                <label for="regimen">Circulacion:</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="regimen"
                       name="regimen"
                       placeholder="Regional, Nacional"
                       ng-model="detalles.nombre"
                       validator="required"
                       valid-method="submit">
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="mediocontacto_form.submit(MediocontactoForm)" class="btn btn-primary"> Guardar</button>
        </div>
    </div>
</form>