<style>
    .alinear{
        text-align: justify;
    }

    .alinear_der{
        text-align: right;
    }

    hr{
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .marg-bot
    {
        margin-bottom: 3px !important;
    }

    .ng-scope li
    {
        display: inline;
    }

    .men-moi
    {
        float: right;
        margin-right: 15px;
    }

    .bg1
    {
        background: rgba(88, 2, 0, 0.01) none repeat scroll 0 0; border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
    }
    .bg0{
        background: rgba(54, 0, 0, 0.05) none repeat scroll 0 0; border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
    }

    #numnoti{
        color: #ffffff;
        font-size: 11px;
        /*font-weight: bold;
        opacity: 0.75;*/
        position: absolute;
        right: -11px;
        top: 8px;
        font-style: italic;
    }
</style>
<div class="header panel-title">
    <div class="pull-right">
        <!--<div class="btn-group" dropdown>-->
        <!--<a href="#" class="dropdown-toggle" dropdown-toggle>-->
        <!--<i class="glyphicon glyphicon-bell"></i>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu dropdown-menu-right">-->
        <!--<li class="dropdown-header">-->
        <!--Notifications-->
        <!--</li>-->
        <!--<li class="divider"></li>-->
        <!--<li>-->
        <!--<a href="#">Server Down!</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <div  class="btn-group " dropdown style="margin: 10px 0px; padding-right: 15px;">
            <button type="button"  ng-click="open()" class="btn btn-primary dropdown-toggle">
                <span  class="glyphicon glyphicon-flag" ng-controller="totalnotificacion"> <span id="numnoti" ng-repeat="cant_notidd in cant_noti">{{cant_notidd.cantidad}}</span></span>
            </button>
        </div>
        <div class="btn-group pull-right" dropdown style="margin: 10px 0px;">
            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                <span class="glyphicon glyphicon-user"></span>
                <span class="no-mobile-element"> {{user.login}}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a>Usuario: {{user.name}}</a></li>
                <li class="divider"></li>
                <li><a ng-href="#/admin/cambiar_contrasena">Cambiar Contraseña</a></li>
                <li class="divider"></li>
                <li><a target="_blank" ng-href="./manual_de_usuario">Manual de Usuario</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="logout()">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
    <div class="meta">
        <div class="pull-left" id="icon-mobile-show-menu">
            <button type="button" class="item btn btn-primary" ng-click="toggleSidebar()">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
        <div class="pull-left">
            <div class="page">
                {{appName}}
            </div>
            <div class="breadcrumb-links">
                {{appDescription}} <span ng-if="isTestingMode" style="color: #ff0000;"> - El sistema se encuentra en modo de pruebas</span>
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- End Header Bar -->