<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper" ng-include="slideMenu"></div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header mainheader" ng-class="{'open': toggle}" ng-include="headerBar"></div>
            <!-- Main Content -->

            <div ui-view></div>
            <br>
        </div>
        <!-- End Page Content -->
    </div>
</div>