<ul class="sidebar" style="position: static; overflow: hidden;">
    <li class="sidebar-main">
        <a ng-click="toggleSidebar()">
            <!--<a>-->
            Menú
            <span class="menu-icon glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </li>
</ul>
<div class="sidebar-content">
    <ul class="sidebar sidebar-items">
        <li class="sidebar-list">
            <a ui-sref="admin.inicio">Inicio <span class="menu-icon glyphicon glyphicon-home"></span></a>
        </li>
        <li class="sidebar-list" ng-repeat="item in menu">
            <a ng-click="toggleOpen($event)">{{item.label}} <span class="menu-icon {{item.icon}}"></span></a>
            <ul class="sidebar-sub">
                <li class="sidebar-list" ng-repeat="subitem in item.submenu">
                    <a ng-href="#/{{subitem.url}}">
                    <!--<a ng-click="checkUrl(subitem.url)"> -->{{subitem.label}}
                        <span
                            class="menu-icon glyphicon glyphicon-menu-right"></span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="sidebar-footer">
    <div class="col-xs-12">
        <a href="http://www.minci.gob.ve/" target="_blank" ><span class="fuente_cr">© Agencia Venezolana de Publicidad</span>
        </a>
    </div>
</div>


