<!-- Modal para notificaciones -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>


    <h4 class="modal-title" id="myModalLabel">
        <i class="fa fa-flag"></i> Notificaciones
    </h4>
</div>

<div class="modal-body" >
    <div class="row" ng-repeat="item in items | limitTo: 4">

        <!--Título 1-->
        <div class="col-lg-12 marg-bot" >
            <h5 align="center">
                <b><!--[{{$index + 1}}]--> {{item.tit}}</b> </h5>
            <hr align="center" noshade="noshade" size="2" width="80%" />
        </div>

        <div class="col-lg-2">
            <p class="alinear_der">
                <a href="#" tooltip="{{item.titu_icon}}" class="btn btn-lg btn-primary" >
                    <span class="{{item.tipo_not_ico}}"></span>
                </a>
            </p>
        </div>



        <div class="col-lg-9 marg-bot">


            <p class="alinear">{{item.des}}</p>
        </div>



        <div class="col-lg-1">
            <p class="alinear_der" >
                <!--a role="button" class="btn btn-xs btn-primary" ng-click="senditem(item.id)"-->
                <a role="button" class="btn btn-xs btn-primary" ng-click="senditem(item.id, item.lin, item.ids)">

                    <!--a ui-sref="admin.inicio"-->
                    <i class="fa fa-search"></i>
                </a>
            </p>
        </div>
        <!--Título 1-->


    </div>
</div>

<div class="modal-footer">
    <h5 align="center"><a ng-click="vertodo()" role="button">Ver todo </a></h5>
</div>

<!-- Fin del Modal para notificaciones -->