body{
}

#principal {
    width: 1150px;
}

.alternativo{
    color: white;
}
.alternativo:hover{
    color:black;

}

.alternativo2{
    color: black;
}
.alernativo3{
    color: darkblue;
}
.alternativo4{
    color: darkslategray;
    font-size: 18px;
    text-align: left;
}
.alternativo5{
    color: lavender;
    font-size: 26px;
    text-align: center;
    font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

}
.alternativo6{
    font-size: smaller;
    text-align: center;
}


#cabecera {
    height: 0px;
    border: 0px solid black;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 2px 3px;

}


#menu {
    height: 50px;
    margin: 10px;
    background:crimson ;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: #666 2px 3px;
    -moz-box-shadow: #666 2px 3px;
    box-shadow: #666 2px 3px;

}

#menu li{
    display: inline-block;
    margin: 10px;
}

#columnaizq{
    width: 250px;
    height: 400px;
    border: 1px solid black;
    margin: 5px;
    float: left;
    background: crimson;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: #666 2px 3px;
    -moz-box-shadow: #666 2px 3px;
    box-shadow: #666 2px 3px;
    font-family:Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    padding: 30px;
}

#columnader {
    width: 830px;
    border: 0px solid black;
    margin: 10px;
    float: left;
    background: Gainsboro;
    text-align: center;
    padding: 30px;
}


.clear {
    clear: both;
}

#pie{
    height: 20px;
    margin: 10px;
    text-align: left;
    color: black;
}
p{
    font-size: 16px;
    text-align: justify;
    font-family: Georgia;
}



strong {
    color: darkslategray;

}

li {
    list-style: none;
    text-align: left;
}


.btn-ttc:active {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #007da7;
}
.btn-ttc {
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);

}

.btn-ttc:hover {
    background-position: 0 -15px;
}

