<!-- Mixed: mobile, tablet, and desktop -->
<form name="serviciosForm" id="services_form">
    <div class="row">
        <h3>Medio</h3>
        <hr/>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="tipo_publicacion">Tipo de Publicación</label>
            <span class="span-requerido">*</span>
            <select name="tipoPublicacion" id="tipo_publicacion" class="form-control"
                    ng-options="item.nombre for item in tipos_publicaciones track by item.id"
                    ng-model="service.tipo_publicacion" ng-readonly="viewMode"
                    validator="required" valid-method="submit"
                    ng-change="getCadenas(service.tipo_publicacion.nombre)">
                <option value="">Seleccione</option>
            </select>
        </div>
        <div class="form-group">
            <label for="serviciosFormNombre">Nombre</label>
            <span class="span-requerido">*</span>
            <input type="text" id="serviciosFormNombre" name="nombre" class="form-control"
                   placeholder="Indique el Nombre del Medio"
                   ng-model="service.nombre" ng-readonly="viewMode"
                   validator="required" valid-method="submit"/>
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <span class="span-requerido">*</span>
            <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Descripción del Medio"
                      ng-model="service.descripcion" ng-readonly="viewMode" validator="required,max_length"
                      valid-method="submit" data-max-length="250"></textarea>
        </div>
        <div class="form-group"
             ng-show="!service.es_cadena && (service.tipo_publicacion.nombre == 'Radial' || service.tipo_publicacion.nombre == 'Televisivo')">
            <label for="medio_padre">Indica el Circuito al cual Pertenece</label>
            <!--<span class="span-requerido">*</span>-->
            <select name="medio_padre" id="medio_padre" class="form-control" ng-model="service.cadena"
                    ng-options="item.nombre for item in cadenas track by item.id" ng-readonly="viewMode"
                    placeholder="Seleccione Circuito">
            </select>
        </div>
        <div class="form-group"
             ng-show="(service.tipo_publicacion.nombre == 'Televisivo' || service.tipo_publicacion.nombre == 'Radial')">
            <label for="es_cadena">Es circuito</label>
            <!--<span class="span-requerido">*</span>-->
            <input type="checkbox" id="es_cadena" name="es_cadena" class="form-control"
                   placeholder="Descripción del Medio" ng-model="service.es_cadena" ng-disabled="viewMode"
                   data-max-length="250"/>
        </div>
        <div class="form-group">
            <label>Tarifas Asociadas al Medio</label>
			<span class="span-btn-condition-plus input-group-btn" ng-show="!viewMode">
                <span ng-repeat="permission in permissions.actionbar">
                    <a ng-if="permission.chk_visual_type == 'link'" class="btn btn-default btn-sm"
                       ui-sref="{{permission.state}}" title="{{permission._name}}">
                        <span aria-hidden="true" class="{{permission.icon}}"></span>
                    </a>
                    <button ng-if="permission.chk_visual_type == 'method_js' && (service.condiciones.length > 0)"
                            class="btn btn-default btn-sm"
                            ng-click="tarifario(service.id,permission.id)" title="{{permission._name}}">
                        <span class="{{permission.icon}}" aria-hidden="true"></span>
                    </button>
                </span>
		    </span>
            <ul class="listado">
                <li ng-repeat="condicion in service.condiciones"
                    ng-class="(condicion.deleted_at ? 'deleted' : '')">
                    <span>{{condicion.nombre}} ({{(condicion.es_base == 0) ? 'Recargo' : 'Base'}}) </span>
                    <span ng-repeat="permission in permissions.list">

                        <a ng-if="permission.chk_visual_type == 'link' && !condicion.deleted_at"
                           title="{{permission._name}}"
                           class="btn btn-default btn-sm"
                           ui-sref="{{permission.state}}({CondicionId:{{condicion.id}}, serviceID:{{service.id}} })"
                           ng-show="!viewMode || (permission.url.search('_view') != -1)">
                            <span class="{{permission.icon}}" aria-hidden="true"></span>
                        </a>

                        <button ng-if="permission.chk_visual_type == 'method_js' && condicion.es_base == 0 && !condicion.deleted_at && !viewMode"
                                ng-click="borrarCondicion(condicion.id)" class="btn btn-default btn-sm"
                                title="{{permission._name}}">
                            <span class="{{permission.icon}}" aria-hidden="true"></span>
                        </button>

                        <button ng-if="permission.chk_visual_type == 'method_js' && condicion.deleted_at && !viewMode"
                                title="Activar Condición"
                                class="btn btn-default btn-sm" ng-click="activarCondicion(condicion.id)">
                            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                        </button>
                    </span>
                </li>
            </ul>

            <label>Detalles adicionales del Medio</label>
            <br/>
			<span class="span-btn-condition-plus input-group-btn" ng-show="!viewMode">
				<a class="btn btn-default btn-sm" ng-click="medioServiceDetailModal(service.tipo_publicacion)">
                    <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
                </a>
		    </span>
            <br/>

            <div ng-repeat="detalle in service.otros_detalles">

                <div ng-repeat="(key, value) in detalle">
                    <div ng-if="value!='' && key!='alcance' && key!='resena_historica' && key!='circulacion' && key!='target' && key!='red_social'"
                         class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon alert alert-success input-sm">{{key}}</span>
                                <input type="text" ng-readonly="true" class="form-control input-sm" ng-value="value"
                                       required="true" aria-describedby="addon_descuento"/>
                            </div>
                        </div>
                    </div>

                    <div ng-if="value!='' && key=='resena_historica'" class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon alert alert-success input-sm" id="creacion_avp">
                                    {{key}}
                                </span>
                                <textarea class="form-control" ng-readonly="true" ng-value="value"
                                          ng-model="service.otros_detalles[0].resena_historica">
                                    {{key}}
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div ng-if="value!='' && key=='circulacion'" class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon alert alert-success input-sm" id="circucalicon">
                                    {{key}}
                                </span>
                                <input class="form-control" ng-readonly="true" ng-value="value"
                                       ng-model="service.otros_detalles[0].circulacion.nombre"
                                       aria-describedby="addon_descuento"/>
                            </div>
                        </div>
                    </div>
                    <div ng-if="value!='' && key=='target'" class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon alert alert-success input-sm" id="target">
                                    {{key}}
                                </span>
                                <input class="form-control" ng-readonly="true" ng-value="value"
                                       ng-model="service.otros_detalles[0].target.nombre"
                                       aria-describedby="addon_descuento"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="detalle.alcance.length>0" class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <label class="control-label">Redes Sociales</label>
                        <table
                                class="table table-bordered table-striped table-condensed table-hover table-responsive">
                            <thead>
                            <tr>
                                <th style="width:50%;">Red social</th>
                                <th style="width:50%;">URL</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in detalle.red_social">
                                <td>{{item.red.nombre}}</td>
                                <td>{{item.url}}</td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div ng-if="detalle.alcance.length>0" class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <label class="control-label">Alcance</label>
                        <table class="table table-bordered table-striped table-condensed table-hover table-responsive">
                            <thead>
                            <tr>
                                <th style="width:50%;">Estado</th>
                                <th style="width:50%;">Municipio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in detalle.alcance">
                                <td>{{item.estado.nombre}}</td>
                                <td>{{item.municipio.nombre}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <br/>

            <div ng-show="service.es_cadena">
                <label>Medios Asociados</label>
                    <span class="span-btn-condition-plus input-group-btn" ng-show="!viewMode">
                        <a class="btn btn-default btn-sm">
                            <span aria-hidden="true" class="glyphicon glyphicon-align-left"
                                  ng-click="serviceChildrenModal(1, service.otros_detalles.hijos, service.otros_detalles.hijos, medio)"></span>
                        </a>
                    </span>

                <div>
                    <ul ng-repeat="hijo in service.otros_detalles.hijos">
                        <li><b>{{hijo.medio.nombre}}:</b> {{hijo.medio.descripcion}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>

        <div class="row text-center" ng-show="!viewMode">
			<span class="input-group-btn">
		        <button type="button" class="btn btn-primary" ng-click="services_form.submit(serviciosForm)">
                    <span class="glyphicon glyphicon-floppy-disk">&nbsp;Guardar</span>
                </button>
		    </span>
        </div>
    </div>
</form>