<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3>Detalles adicionales del Servicio</h3>
</div>
<div class="row" class="modal-body">
    <div class="col-md-12">
        <div ng-if="tipo_publicacion.nombre=='Impreso' || tipo_publicacion.nombre=='Radial' ||
                    tipo_publicacion.nombre=='Web' || tipo_publicacion.nombre=='Televisivo' ||
                    tipo_publicacion.nombre=='Vallas'" class="form-group">
            <label for="Formato">Formato (Especificaciones Técnicas)</label>
            <input type="text" id="formato" name="formato" class="form-control"
                   placeholder="Indique el Formato" ng-model="detalles_servicios[0].formato"/>
        </div>

        <div ng-if="tipo_publicacion.nombre=='Impreso'" class="form-group">
            <label for="Tiraje">Tiraje</label>
            <input type="text" id="tiraje" name="tiraje" class="form-control"
                   placeholder="Indique el Tiraje" ng-model="detalles_servicios[0].tiraje"/>
        </div>

        <div ng-if="tipo_publicacion.nombre=='Impreso'" class="form-group">
            <label for="precioventa">Precio de Venta</label>
            <input type="text" id="precioventa" name="precioventa" class="form-control"
                   placeholder="Indique el Precio de Venta" ng-model="detalles_servicios[0].precioventa"/>
        </div>
        <div ng-if="tipo_publicacion.nombre=='Impreso'" class="form-group">
            <label for="circulacion">Circulacion</label>
            <select class="form-control" id="circulacion" name="circulacion"
                    ng-options="item.nombre for item in circulacion track by item.id"
                    ng-model="service.otros_detalles[0].circulacion" ng-readonly="(formAction == 'view')">
                <option value="">Seleccione </option>
            </select>
        </div>
        <div ng-if="tipo_publicacion.nombre=='Impreso' || tipo_publicacion.nombre=='Radial' ||
                    tipo_publicacion.nombre=='Web' || tipo_publicacion.nombre=='Televisivo' ||
                    tipo_publicacion.nombre=='Vallas'" class="form-group">
            <label for="resena_historica">Reseña Historica</label>
            <textarea id="resena_historica" name="resena_historica" class="form-control"
                      placeholder="Indique la Reseña Historica" ng-model="detalles_servicios[0].resena_historica">
            </textarea>
        </div>
        <div ng-if="tipo_publicacion.nombre=='Impreso' || tipo_publicacion.nombre=='Radial' ||
                    tipo_publicacion.nombre=='Web' || tipo_publicacion.nombre=='Televisivo' " class="form-group">
            <label for="target">Target</label>
            <select class="form-control" id="target" name="target"
                    ng-options="item.nombre for item in target track by item.id"
                    ng-model="detalles_servicios[0].target">
                <option value="">Seleccione </option>
            </select>
        </div>

        <div ng-if="tipo_publicacion.nombre=='Radial'" class="form-group">
            <label for="dial">Dial</label>
            <input type="text" id="dial" name="dial" class="form-control"
                   placeholder="Indique el Dial" ng-model="detalles_servicios[0].dial"/>
        </div>

        <div ng-if="tipo_publicacion.nombre=='Impreso' || tipo_publicacion.nombre=='Radial' ||
                    tipo_publicacion.nombre=='Web' || tipo_publicacion.nombre=='Televisivo'" class="form-group">
            <label for="redes_sociales">Redes sociales</label>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="red" class="control-label">Red Social</label>
                                <select class="form-control input-sm" id="red" ng-model="datos.red"
                                        ng-options="item.nombre for item in redsocial track by item.id">
                                    <option value="" disabled>Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="url" class="control-label">URL</label>
                                <input type="text" id="url" name="redes_sociales" class="form-control"
                                       placeholder="www.twitter/nuevo.com, etc..." ng-model="datos.url"/>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <br/>
                            <button ng-disabled=" datos.red.id=='' || datos.url==null"
                                    ng-click="agregarRed()" class="btn btn-xs btn-primary" style="margin-top: 6px;">
                                <span class="glyphicon glyphicon-plus"></span>
                                Agregar red
                            </button>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-condensed table-hover table-responsive">
                        <thead>
                        <tr>
                            <th style="width:40%;">Red</th>
                            <th style="width:40%;">Url</th>
                            <th style="width:10%;">Acción</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="item in detalles_servicios[0].red_social">
                            <td>{{item.red.nombre}}</td>
                            <td>{{item.url}}</td>
                            <td>
                                <span ng-click="removerRed($index)" class="glyphicon glyphicon-trash"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" ng-if="detalles_servicios[0].red_social.length==0" colspan="3">
                                No hay redes agregadas...
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div ng-if="tipo_publicacion.nombre=='Impreso' || tipo_publicacion.nombre=='Radial' " class="form-group">
            <label for="redes_sociales">Alcance</label>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="estado" class="control-label">Nacional</label>
                                <toggle-switch ng-change="nivelAlcance()"
                                               ng-model="datos.nacional" on-label="Si" off-label="No" >
                                </toggle-switch>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="estado" class="control-label">Estado</label>
                                <select
                                        ng-disabled="datos.nacional" ng-change="cargarMunicipio()"
                                        class="form-control input-sm" id="estado" ng-model="datos.estado"
                                        ng-options="item.nombre for item in estado track by item.id"
                                        options-disabled="item.disabled == 'out' for item in estado">
                                    <option value="" disabled>Seleccione el Estado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="municipio" class="control-label">Municipio</label>
                                <select
                                        ng-disabled="datos.estado==null || datos.nacional || datos.estado.id==''"
                                        class="form-control input-sm"
                                        id="municipio"
                                        ng-model="datos.municipio"
                                        ng-options="item.nombre for item in municipio track by item.id"
                                        options-disabled="item.disabled == 'out' for item in municipio">
                                    <option value="" disabled>Seleccione el Municipio</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <br/>
                            <button
                                    ng-disabled="datos.nacional || datos.municipio.id=='' || datos.municipio==null"
                                    ng-click="agregarAlcance()"
                                    class="btn btn-xs btn-primary" style="margin-top: 6px;">
                                <span class="glyphicon glyphicon-plus"></span>
                                Agregar Alcance(s)
                            </button>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-condensed table-hover table-responsive">
                        <thead>
                        <tr>
                            <th style="width:40%;">Estado</th>
                            <th style="width:40%;">Municipio</th>
                            <th ng-if="!datos.nacional"  style="width:10%;">Accion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in detalles_servicios[0].alcance">
                            <td>{{item.estado.nombre}}</td>
                            <td>{{item.municipio.nombre}}</td>
                            <td ng-if="!datos.nacional">
                        <span
                                ng-click="removerAlcance($index)"
                                class="glyphicon glyphicon-trash">
                        </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" ng-if="detalles_servicios[0].alcance.length==0" colspan="3">
                                No hay alcances agregados...
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row text-center">
			<span class="input-group-btn">
		      <button type="button" ng-click="guardarDetallesServicio()" class="btn btn-primary"><span
                      class="glyphicon glyphicon-arrow-down"></span>Agregar
              </button>
            </span>
    </div>
</div>