<!-- Mixed: mobile, tablet, and desktop -->
<div class="row">
    <div class="row">

        <div class="modal-header">
            <h3>Nuevo Medio</h3>

            <div style="float: right" class=" btn-group">
                <button ng-show="showButtonWizard()" ng-click="current = (current - 1)" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-arrow-left glyphicon-white"></i>Anterior
                </button>
                <button ng-show="(current < 1)" ng-disabled="disabledNext" ng-click="wizardNext()"
                        class="btn btn-sm btn-primary">
                    Siguiente
                    <i class="glyphicon glyphicon-arrow-right glyphicon-white"></i>
                </button>
            </div>
        </div>
    </div>
    <form name="serviciosForm" id="services_form">
        <div class="modal-body" ng-show="(current == 0)">
            <div class="row">
                <div class="form-group">
                    <label for="tipo_publicacion">Tipo de Publicación</label>
                    <span class="span-requerido">*</span>
                    <select name="tipoPublicacion" id="tipo_publicacion" class="form-control"
                            ng-model="service.tipo_publicacion"
                            ng-options="item.nombre for item in tipos_publicaciones track by item.id"
                            ng-readonly="viewMode"
                            placeholder="Seleccione el tipo de publicación al que pertenece este servcio."
                            validator="required" valid-method="submit"
                            ng-change="loadServices()">
                    </select>
                </div>

                <div class="form-group">
                    <label for="serviciosFormNombre">Nombre</label>
                    <span class="span-requerido">*</span>
                    <input type="text" id="serviciosFormNombre" name="nombre" class="form-control"
                           placeholder="Indique el Nombre del Medio"
                           ng-model="service.nombre" ng-readonly="viewMode"
                           validator="required" valid-method="submit"/>
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <span class="span-requerido">*</span>
				<textarea
                        id="descripcion" name="descripcion" class="form-control"
                        placeholder="Descripción del Tipo de Publicación"
                        ng-model="service.descripcion" ng-readonly="viewMode"
                        validator="required,max_length"
                        valid-method="submit" data-max-length="250"
                        ></textarea>
                </div>
                <br/>
                <div class="checkbox" ng-show="service.tipo_publicacion.nombre == 'Radial' || service.tipo_publicacion.nombre == 'Televisivo'">
                    <label>
                        <input type="checkbox" ng-model="service.es_cadena" name="chkescadena"
                               ng-true-value="true" ng-false-value="false" ng-init="service.es_cadena = false">
                            Es Circuito
                    </label>
                </div>
                <div class="form-group" ng-show="!service.es_cadena && (service.tipo_publicacion.nombre == 'Radial' || service.tipo_publicacion.nombre == 'Televisivo')">
                    <label for="medio_padre">Indica el Circuito al cual Pertenece</label>
                    <!--<span class="span-requerido">*</span>-->
                    <select name="medio_padre" id="medio_padre" class="form-control" ng-model="service.cadena"
                            ng-options="item.nombre for item in cadenas track by item.id"
                            ng-readonly="viewMode" placeholder="Seleccione Circuito">
                    </select>
                </div>

                <div class="modal-body" ng-show="service.es_cadena == true">
                    <ng-include src="'modules/servicios/views/service_existing_children.html'"></ng-include>
                </div>
            </div>
        </div>
        <div class="modal-body" ng-show="(current == 1)">
            <ng-include src="'modules/servicios/views/wizard_detalles_adicionales.html?Q=1'"></ng-include>
        </div>

        <div class="modal-footer" ng-show="!viewMode">
            <div class="row text-center">
			<span class="input-group-btn">
		        <button type="button" class="btn btn-primary" ng-click="services_form.submit(serviciosForm)"><span
                        class="glyphicon glyphicon-floppy-disk">&nbsp;Guardar</span></button>
		    </span>
            </div>
        </div>
    </form>
</div>