<div class="panel panel-default" style="margin: 10px 10px;">
    <div class="panel-heading clearfix">
        <span class="pull-left" style="padding-top: 5px;">Medios Asociados</span>

        <div class="btn-group pull-right">
            <button type="button" class="btn btn-xs btn-primary"
                    ng-click="agregarHijo()">
                <span class="glyphicon glyphicon-plus"></span>Agregar
            </button>
        </div>
    </div>
    <div class="panel-body">
        <table ng-if="service.hijos.length>0" style="width: 100%"
               class="table-bordered table-striped">
            <thead>
            <tr style="font-size: 0.7em">
                <th>Nombre del Medio</th>
                <th>Tipo de publicación</th>
                <th>Descripción</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="hijo in service.hijos">
                <td>
                    <div class="form-group">
                        <label>
                            <input type="text" name="hijo_nombre" class="form-control"
                                   ng-model="hijo.nombre"
                                   placeholder="Ej: Diario universal, Estampas..."
                                   data-toggle="tooltip" data-placement="nombre"
                                   validator="required"
                                   title="Debe indicar el nombre del Medio correctamente"/>
                        </label>
                    </div>
                </td>
                <td>
                    <select class="form-control" id="tipopublicacion" ng-model="hijo.selectTipo"
                            validator="required"
                            ng-options="item.nombre for item in tipos_publicaciones track by item.id"
                            name="hijo_tipo">
                        <option value="">Seleccione Medio</option>
                    </select>
                </td>
                <td>
                    <div class="form-group">
                        <label>
                            <textarea class="form-control"
                                      ng-model="hijo.descripcion"
                                      placeholder="Ej: Descripción del Medio"
                                    name="hijo_descripcion"
                                    validator="required"
                                    ></textarea>
                        </label>
                    </div>
                </td>
                <td class="text-center">
                    <a><span ng-click="removeHijo($index)"
                             class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>