<div class="panel panel-default" style="margin: 10px 10px;">
    <div class="panel-heading clearfix">
        <span class="pull-left" style="padding-top: 5px;">Medios Asociados</span>

        <div class="btn-group pull-right">
            <button type="button" class="btn btn-xs btn-primary"
                    ng-click="agregarHijo()">
                <span class="glyphicon glyphicon-plus"></span>Agregar
            </button>
        </div>
    </div>
    <div class="panel-body">
        <table ng-if="service.hijos.length>0" style="width: 100%"
               class="table-bordered table-striped">
            <thead>
            <tr style="font-size: 0.7em">
                <th>#</th>
                <th>Medio</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="hijo in service.hijos">
                <td>
                        {{ $index + 1}}
                </td>
                <td>
                    <select class="form-control" id="tipopublicacion" ng-model="hijo.medio"
                            validator="required"
                            ng-options="item.nombre for item in medio_servicios track by item.id"
                            name="medio_hijo">
                        <option value="">Seleccione Medio</option>
                    </select>
                </td>
                <td class="text-center">
                    <a><span ng-click="removeHijo($index)"
                             class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>