<!-- Mixed: mobile, tablet, and desktop -->
<h3>Tarifario para el Medio: <b>{{service.nombre}}</b></h3>
<div class="row">
    Tipo: {{service.tipo_publicacion.nombre}}
</div>
<div class="row">
    Descripción: {{service.descripcion}}
</div>
<hr/>
<div class="row">
    <label>
        Tarifas Asociadas al Medio
        <input class="form-control" type="search" ng-model="q" placeholder="Filtrar..." aria-label="filter" />
    </label>
    <ul class="listado">
        <li ng-repeat="condicion in service.condiciones | filter:q as results">
            <span>{{condicion.nombre}} ({{(condicion.es_base == 0) ? 'Recargo' : 'Base'}}) </span>
            <ul>
                <li ng-repeat="detalle in condicion.detalles">
                    {{detalle.nombre}} - {{ detalle.tarifa | formatNumberMoney}} {{(condicion.es_porcentaje == 1) ? '%' : 'Bs';}}
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="row text-center">
    <span class="input-group-btn">
        <button type="button" class="btn btn-primary" ng-click="print(service.id)">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </button>
    </span>
</div>