<div class="row">
    <div class="col-sm-12">
        <h3>Contactos</h3>

        <p>
            Seleccione los contactos del cliente a los que desea enviarle la cotización
        </p>
    </div>
</div>
<div class="row" ng-if="contactos.length > 0">
    <div class="col-sm-6" ng-repeat="contacto in contactos" ng-if="contacto.correo_electronico_1">
        {{contacto.nombre}} {{contacto.apellido}}
        <ul class="list-unstyled">
            <li class="checkbox">
                <label for="{{contacto.id}}">
                    <input type="checkbox" id="{{contacto.id}}" checklist-model="emails"
                           checklist-value="contacto.correo_electronico_1">
                    {{contacto.correo_electronico_1}}
                </label>
            </li>
            <li class="checkbox" ng-if="contacto.correo_electronico_2">
                <label for="{{contacto.id}}-1">
                    <input type="checkbox" id="{{contacto.id}}-1" checklist-model="emails"
                           checklist-value="contacto.correo_electronico_2">
                    {{contacto.correo_electronico_2}}
                </label>
            </li>
        </ul>
    </div>
</div>
<div class="row" ng-if="contactos.length <= 0">
    <div class="alert alert-warning">
        No hay contactos con correo electrónico asociados a este cliente.
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <button class="btn btn-primary" ng-click="enviarEmails()">Enviar</button>
        <button class="btn" ng-click="cancel()">Cancelar</button>
    </div>
</div>