<section ng-init="showCreate=false ">
    <a id="new_contact" href="javascript:void(0)" ng-click="showCreate=true" class="btn btn-primary btn-sm"
       ng-show="!showCreate" style="float: right; margin-top: 5px; margin-right: 5px">
        <span class="glyphicon glyphicon-plus"></span>
        Nuevo Contacto
    </a>

    <div class="panel panel-default show_list_Create" id="list-contact" ng-show="!showCreate">

        <div class="panel-heading">
            <h3 class="panel-title">Contactos Asociados al cliente</h3>

        </div>
        <div class="panel-body body-list-contact">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-10">
                    <label for="search">Buscar</label>
                    <input id="search" type="text" ng-model="filtro">
                </div>
            </div>
            <table id="gestion-equipo-contact" border="0" class="table table-bordered table-striped">
                <thead>
                <tr ng-show="dataContact[0]">
                    <th>Opc.</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cargo</th>
                    <th>Tipo</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Correo Electronico</th>
                    <th>Hora Contacto</th>
                </tr>
                </thead>
                <tbody class="body-list-contact">
                <tr ng-repeat="contact in dataContact | filter:filtro">
                    <td>
                        <span class="glyphicon glyphicon-trash" style="cursor:pointer;" aria-hidden="true"
                              ng-click="gestion_list_contact($index,'remove')"
                              confirmation-needed="¿Desea eliminar el contacto?"></span>
                        &nbsp;
                        <span class="glyphicon glyphicon-pencil" style="cursor:pointer;" aria-hidden="true"
                              ng-click="gestion_list_contact($index,'edit'); showCreate=false"></span>
                    </td>
                    <td>{{contact.nombre}}</td>
                    <td>{{contact.apellido}}</td>
                    <td>{{contact.cargo.descripcion}}</td>
                    <td>{{contact.tipo}}</td>
                    <td>{{contact.direccion}}</td>
                    <td>{{contact.telefono_1}}</td>
                    <td>{{contact.correo_electronico_1}}</td>
                    <td>{{contact.horario_contacto.descripcion}}</td>
                </tr>
                <tr ng-show="!dataContact[0]">
                    <td colspan="4" style=" text-align: center">
                        <h4>No hay contactos asociados a el cliente</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="!showCreate && dataContact[0]" class="btn-block show_list_Create" style=" width: 100%">
        <!--<div style="text-align:center;">-->
        <!--<button ng-click="process_contact()" class="btn btn-sm btn-primary"><i class=""></i>&nbsp;&nbsp;Enviar&nbsp;&nbsp;</button>-->
        <!--</div>-->
    </div>

    <div ng-show="showCreate" class="show_form_Create">
        <h4>
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
            Nuevo Contacto
        </h4>
        <br/>

        <form style=" width: 80%; margin: 0 auto" name="frm_contact_create" id="frm_contact">
            <table width="100%">
                <tr>
                    <td valign="top">
                        <div class="form-group">
                            <label for="nombre">Nombre</label><span class="span-requerido">*</span>
                            <input type="text" class="form-control" id="nombre" ng-model="frmContact.nombre"
                                   name="nombre" placeholder="" validator="required" valid-method="submit">

                        </div>
                    </td>
                    <td valign="top">
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido" ng-model="frmContact.apellido"
                                   name="apellido" placeholder="">
                        </div>
                    </td>
                    <td valign="top">
                        <div class="form-group">
                            <label for="phone1">Telefono</label><span class="span-requerido">*</span>
                            <input type="text" class="form-control" id="phone1" ng-model="frmContact.telefono_1"
                                   name="telefono_1" placeholder="(0000) 000-0000" validator="required"
                                   valid-method="submit" mask-ast="'(0000) 000-0000'">

                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <div class="form-group">
                            <label for="phone2">Telefono 2</label>
                            <input type="text" class="form-control" id="phone2" ng-model="frmContact.telefono_2"
                                   name="telefono_2" placeholder="(0000) 000-0000" valid-method="submit"
                                   mask-ast="'(0000) 000-0000'">

                        </div>
                    </td>
                    <td valign="top" colspan="2">
                        <div class="form-group">
                            <label for="direccion">Direccion</label><span class="span-requerido">*</span>
                            <textarea class="form-control" id="direccion" ng-model="frmContact.direccion"
                                      name="direccion" placeholder="" validator="required"
                                      valid-method="submit"></textarea>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <div class="form-group">
                            <label for="email1">Correo Electronico</label>
                            <input type="text" class="form-control" id="email1"
                                   ng-model="frmContact.correo_electronico_1" name="correo_electronico_1" placeholder=""
                                   validator="email" valid-method="submit">

                        </div>
                    </td>
                    <td valign="top">
                        <div class="form-group">
                            <label for="email2">Correo Electronico 2</label>
                            <input type="text" class="form-control" id="email2"
                                   ng-model="frmContact.correo_electronico_2" name="correo_electronico_2" placeholder=""
                                   validator="email" valid-method="submit">

                        </div>
                    </td>
                    <td valign="top">
                        <div class="form-group">
                            <label for="hcontacto">Horario de Contacto</label>
                            <select class="form-control" id="hcontacto" ng-model="frmContact.horario_contacto"
                                    name="horario_contacto" valid-method="submit"
                                    ng-options="item.descripcion for item in horarios track by item.id">
                                <option value=''>- Seleccione -</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="from-group">
                            <label for="cargo">Cargo</label>
                            <select id="cargo" class="form-control" ng-model="frmContact.cargo" name="cargo"
                                    valid-method="submit"
                                    ng-options="item.descripcion for item in cargos track by item.id">
                                <option value=''>- Seleccione -</option>
                            </select>
                        </div>
                    </td>
                    <td colpan="2">
                        <div class="from-group">
                            <label>Tipo contacto</label><br>

                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="frmContact.tipo" btn-radio="'interno'"
                                       uncheckable>Interno</label>
                                <label class="btn btn-default" ng-model="frmContact.tipo" btn-radio="'externo'"
                                       uncheckable>Externo</label>
                            </div>
                            <!--<label for="tipo-interno" class="checkbox">-->
                            <!--<input type="radio" id="tipo-interno" name="tipo" ng-model="frmContact.tipo" value="interno"> Interno-->
                            <!--</label>-->
                            <!--<label for="tipo-externo" class="checkbox">-->
                            <!--<input type="radio" id="tipo-externo" name="tipo" ng-model="frmContact.tipo" value="externo"> Externo-->
                            <!--</label>-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td valign="middle" style=" text-align: center">
                        <button type="button" ng-click="volver_create_contact()" class="btn btn-primary btn-sm">Volver
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary btn-sm"
                                ng-click="frm_contact.submit(frm_contact_create)">Guardar
                        </button>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
        <!--{{frm_contact_create.$error}}-->
    </div>
</section>

