<section id="create-client">
    <table style=" width: 30%">
        <tr>
            <td>
                <div class="btn-group" style=" float: left">
                    <label class="btn btn-sm btn-primary" btn-radio="'V'" ng-model="search.type_dni">Natural</label>
                    <label class="btn btn-sm btn-primary" btn-radio="'J'" ng-model="search.type_dni">Juridico</label>
                </div>
            </td>
        </tr>
        <tr>
            <td style=" padding-top: 5px;">
                <div class="form-group">
                    <div class="input-group" style="float: left">
                        <input type="text" class="form-control input-block-level" id="dni" ng-model="search.dni"
                               ng-disabled="!search.type_dni" placeholder="" mask-dni="" typedni="search.type_dni"/>
                        <span class="input-group-btn">
                            <button type="button" ng-disabled="!search.type_dni" class=" btn btn-primary"
                                    ng-click="get_data_client()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <br/>

    <form name="frm_new_client" id='frmClient'>
        <table style="width: 100%" id="tbl-client-form">
            <tr>
                <td valign="top" colspan="2">
                    <div class="form-group">
                        <label for="rsocial">Razón Social / Nombre</label><span class="span-requerido">*</span>
                        <input style="background: none" type="text" class="form-control" id="rsocial"
                               ng-model="dataClient.razon_social" name="rsocial" placeholder="" validator="required"
                               valid-method="submit">
                    </div>
                </td>
                <!--<td valign="top">-->
                <!--<div class="form-group">-->
                <!--<label for="name">Nombre Comercial</label>-->
                <!--<input type="text" class="form-control" id="name" ng-model="dataClient.nombre" name="name" placeholder="" valid-method="submit">-->
                <!--</div>-->
                <!--</td>-->
                <td valign="top">
                    <div class="form-group">
                        <label for="telefono">Telefono</label><span class="span-requerido">*</span>
                        <input type="text" class="form-control" id="telefono" ng-model="dataClient.telefonos"
                               name="telefono" placeholder="" mask-ast="'(0000) 000-0000'" validator="required"
                               valid-method="submit">
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div class="form-group">
                        <label for="dfiscal">Direccion Fiscal</label><span class="span-requerido">*</span>
                        <textarea class="form-control" id="dfiscal" ng-model="dataClient.direccion_fiscal"
                                  name="dfiscal" placeholder="" validator="required" valid-method="submit"></textarea>

                    </div>

                </td>
                <td valign="top">
                    <div class="form-group">
                        <label for="dcorrespondecia">Direccion de Correspondencia</label>
                        <textarea class="form-control" id="dcorrespondecia"
                                  ng-model="dataClient.direccion_correspondencia" name="dcorrespondecia"
                                  placeholder=""></textarea>

                    </div>
                </td>
                <td valign="top">
                    <div class="form-group">
                        <label for="fax">Numero de Fax</label>
                        <input type="text" class="form-control" id="fax" ng-model="dataClient.fax" name="fax"
                               placeholder="" mask-ast="'(0000) 000-0000'" valid-method="submit">

                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div class="form-group">
                        <label for="sector">Sector</label><span class="span-requerido">*</span>
                        <!--<select class="form-control" id="sector" ng-model="dataClient.sector_id" name="sector" placeholder=""  chosen-select="" dataoptions="sectores" dataselected="dataClient.sector_id" validator="required" valid-method="submit" >-->

                        <!--</select>-->
                        <select name="sector" id="sector" ng-model="dataClient.sector_id"
                                ng-options="item.nombre for item in sectores track by item.id" class="form-control"
                                placeholder="Seleccione una actividad" validator="required" valid-method="submit"/>
                        </select>

                    </div>
                </td>
                <td valign="top">
                    <div class="form-group">
                        <label for="sitiow">Sitio Web</label>
                        <input type="text" class="form-control" id="sitiow" ng-model="dataClient.sitio_web"
                               name="sitiow" placeholder="" validator="url" valid-method="submit">

                    </div>
                </td>
                <td valign="top">
                    <div class="form-group">
                        <label for="email">Correo Electronico</label>
                        <input type="text" class="form-control" id="email" ng-model="dataClient.correo_electronico"
                               name="email" placeholder="" validator="email" valid-method="submit">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style=" text-align: center">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="frmClient.submit(frm_new_client)">
                        Enviar
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <!--{{dataClient}}-->
</section>