<div class="row">
    <h3>Contactos</h3>
</div>
<div class="row">
    <div crud-template=""></div>
</div>
<div class="row text-center">
    <button class="btn" ng-click="volver()">Volver</button>
</div>