<!-- Mixed: mobile, tablet, and desktop -->
<form name="PositionForm" id="position_form">
    <div class="row">
        <h3>Cargo</h3>
        <hr/>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="descripcion">Nombre</label>
            <span class="span-requerido">*</span>
            <input type="text" id="descripcion" name="descripcion" ng-model="position.descripcion" class="form-control"
                   placeholder="Indique el Nombre del Cargo" validator="alpha_numeric_space, required"
                   valid-method="submit"/>
        </div>
        <div class="row text-center">
			<span class="input-group-btn">
		        <button type="button" class="btn btn-primary" ng-click="position_form.submit(PositionForm)"><span
                        class="glyphicon glyphicon-floppy-disk"> Guardar</span></button>
		    </span>
        </div>
    </div>
</form>