<!-- Mixed: mobile, tablet, and desktop -->
<form name="ScheduleForm" id="schedule_form">
    <div class="row">
        <h3>Horarios de Contacto</h3>
        <hr/>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="descripcion">Horario de Diponibilidad</label>
            <span class="span-requerido">*</span>
            <input type="text" id="descripcion" name="descripcion" ng-model="schedule.descripcion" class="form-control"
                   placeholder="Indique el periodo del horario de disponibilidad"
                   validator="alpha_numeric_space, required" valid-method="submit"/>
        </div>
        <div class="row text-center">
			<span class="input-group-btn">
		        <button type="button" class="btn btn-primary" ng-click="schedule_form.submit(ScheduleForm)"><span
                        class="glyphicon glyphicon-floppy-disk"> Guardar</span></button>
		    </span>
        </div>
    </div>
</form>