<!-- Mixed: mobile, tablet, and desktop -->
<form name="SectorForm" id="sector_form">
    <div class="row">
        <h3>Sector Económico</h3>
        <hr/>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="descripcion">Nombre</label>
            <span class="span-requerido">*</span>
            <input type="text" id="descripcion" name="nombre" ng-model="sector.nombre" class="form-control"
                   placeholder="Indique el Nombre del Sector" validator="alpha_numeric_space, required"
                   valid-method="submit"/>
        </div>
        <div class="row text-center">
			<span class="input-group-btn">
		        <button type="button" class="btn btn-primary" ng-click="sector_form.submit(SectorForm)"><span
                        class="glyphicon glyphicon-floppy-disk"> Guardar</span></button>
		    </span>
        </div>
    </div>
</form>