<!-- Mixed: mobile, tablet, and desktop -->
<form name="formName" id="formObject">
    <div class="modal-header">
        <h3>Monto Máximo de Deuda Permitido</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <label for="actaul">Monto Actual</label>
            <div class="input-group">
                <input class="form-control" type="text" id="actaul" readonly="readonly" disabled="disabled"
                       ng-model="model.techo_consumo"/>
                <span class="input-group-addon">Bs</span>
            </div>
        </div>
        <div class="row">
            <label for="techo">Nuevo Monto</label>
            <span class="span-requerido">*</span>
            <div class="input-group">
                <input class="form-control" id="techo" type="text" name="techo" mask-Money
                       validator="required" valid-method="submit" ng-model="model.techo"/>
                <span class="input-group-addon">Bs</span>
            </div>
        </div>
    </div>
    <div class="modal-footer" ng-show="!viewMode">
        <div class="row text-center">
			<span class="input-group-btn">
		        <button type="button" class="btn btn-primary" ng-click="formObject.submit(formName)"
                        ng-disabled="(negociacion.acuerdos.length == 0) && !negociacion.tarifa">
                    <span class="glyphicon glyphicon-floppy-disk">&nbsp;Guardar</span>
                </button>
		    </span>
        </div>
    </div>
</form>