<div class="row">
    <div>

        <div id="form-container">

            <div class="page-header text-center">

                <div id="status-buttons" class="text-center">
                    <a ng-repeat="(key,val) in wizard " ui-sref-active="active" ui-sref=".{{val.route}}"
                       ng-click="wizard_next(val.section,'header',null)">
                        <span>{{val.section}}</span> {{val.name}}
                    </a>
                </div>
            </div>
            <div id="signup-form">
                <div id="form-views" ui-view></div>
            </div>

        </div>
        <div class=" btn-group" style=" float: right">
            <a ng-disabled="(current==1)" ng-click="wizard_next(current,'footer',0)" class="btn btn-sm btn-primary">
                <i class=" glyphicon glyphicon-arrow-left"></i>&nbsp;Anterior
            </a>
            <a ng-disabled="next" ng-click="wizard_next(current,'footer',1)" class="btn btn-sm btn-primary">
                Siguiente&nbsp; <i class=" glyphicon glyphicon-arrow-right"></i>
            </a>
        </div>
        <div class="btn-block" style=" float: left;">
            <div style="text-align:left;">
                <button ng-click="back_list_client()" class="btn btn-sm btn-primary"><i
                        class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Listado de Clientes&nbsp;&nbsp;</button>
            </div>
        </div>
        <!--<pre>
           {{ current }}
         </pre>-->


    </div>
</div>