<h3 ng-if="title">{{title}}</h3>

<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipo_reporte">Tipo de Reporte:</label>
                    <select
                            name="tipo_reporte" id="tipo_reporte" class="form-control"
                            ng-model="filtro.tipo_reporte"
                            ng-options="item.nombre for item in tipoReporte"
                            ng-disabled="(false)"
                            ng-change="toggleFilters()"
                            >
                        <option value="">-- Elije un Tipo de reporte --</option>
                            </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipo_publicacion">Tipo de Publicación:</label>
                    <select
                            name="tipo_publicacion" id="tipo_publicacion" class="form-control"
                            ng-model="filtro.tipo_publicacion"
                            ng-options="item.nombre for item in tipoPublicacion"
                            ng-disabled="(filtro.tipo_reporte == null || !filtroHabilitado.tipo_publicacion)"
                            ng-change="filtrarMedios()">
                        <option value="">-- Elije un tipo de publicación --</option>
                            </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cliente">Cliente:</label>
                    <select
                            name="cliente" id="cliente" class="form-control"
                            ng-model="filtro.cliente"
                            ng-change="change(filtro.cliente.id)"
                            ng-options="item.razon_social for item in clientes track by item.id"
                            ng-disabled="(filtro.tipo_reporte == null )"
                            >
                        <option value="">-- Elije un cliente --</option>
                            </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="medio">Proveedor:</label>
                    <select
                            name="medio" id="medio" class="form-control"
                            ng-model="filtro.medio"
                            ng-options="item.razon_social for item in medios track by item.id"
                            ng-disabled="(filtro.tipo_reporte == null || !filtroHabilitado.medio)"
                            >
                        <option value="">-- Elije un Proveedor --</option>
                            </select>
                </div>
            </div>
        </div>
        <div class="row">
         <div ng-show ="(filtro.tipo_reporte.id == 9)" >
          <div class="col-md-6">
                <div class="form-group">
                    <label for="medio">Contrato:</label>
                    <select
                            name="medio" id="medio" class="form-control"
                            ng-model="filtro.contrato"
                            ng-options="item.codigo for item in contratos.data track by item.id"
                           
                            >
                        <option value="">-- Elije un Contrato--</option>
                            </select>
                </div>

            </div>
            </div>
            <div class="col-md-6">
                <p class="input-group">
                    <input id="date_desde" name="date_desde" type="text" class="form-control"
                           datepicker-popup="{{calendar.dateFormat}}"
                           ng-model="filtro.fecha_desde"
                           is-open="calendar.opened.desde"
                           max-date="calendar.now"
                           datepicker-options="calendar.dateOptions"
                           close-text="Cerrar" placeholder="Desde"
                           current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
                           show-button-bar="true"
                           ng-disabled="(filtro.tipo_reporte == null)"
                           require-void>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'desde')" ng-disabled="(filtro.tipo_reporte == null)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>

            <div class="col-md-6">
                <p class="input-group">
                    <input id="date_hasta" name="date_hasta" type="text" class="form-control"
                           datepicker-popup="{{calendar.dateFormat}}"
                           ng-model="filtro.fecha_hasta"
                           is-open="calendar.opened.hasta"
                           max-date="calendar.now"
                           datepicker-options="calendar.dateOptions"
                           close-text="Cerrar" placeholder="Hasta"
                           current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
                           show-button-bar="true"
                           ng-disabled="(filtro.tipo_reporte == null)"
                           require-void>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'hasta')" ng-disabled="(filtro.tipo_reporte == null)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>
        </div>
       
        
    </form>
</div>
<div class="row text-center" style="margin: 20px;" ng-show="(true)">
    <button class="btn btn-primary" ng-click="imprimir()" ng-show="(filtro.tipo_reporte != null)"><span class="glyphicon glyphicon-print"></span>&nbsp;Imprimir
    </button>
</div>