<form role="form" name="AbonoForm" id="AbonoForm">
    <div class="modal-header">
        <h3 class="modal-title">Facturar</h3>
    </div>
    <div class="row">

            <div class="col-md-6">
                <label for="contrato">Contrato:</label>
                <span class="span-requerido">*</span>
                <select class="form-control"
                        id="contrato"
                        name="contrato"
                        ng-change="change()"
                        ng-options="item.codigo for item in contratos track by item.id"
                        ng-model="detalles.contrato"
                        validator="required"
                        valid-method="submit">
                    <option value="">Seleccione el contrato</option>
                </select>
            </div>
    </div>
    <div class="row" ng-if="(detalles.contrato.tipo.nombre == 'orden_servicio' || detalles.contrato.tipo.nombre == 'contrato')">
        <div class="col-md-6 ">
            <label for="n_control">N de control</label>
            <span class="span-requerido">*</span>
            <input type="text"
                   class="form-control"
                   id="n_control"
                   name="n_control"
                   placeholder="N de control"
                   ng-model="detalles.n_control"
                   valid-method="submit">

        </div>
    </div>
    <div class="row" ng-if="(detalles.contrato.tipo.nombre == 'orden_servicio')">
        <div class="col-md-12">
            <div crud-template=""></div>
            <br/>

            <div class="alert alert-info" role="alert">
                <!--$scope.totalSinIva = rTotal.sinIva;
                $scope.totalConIva = rTotal.conIva;
                $scope.total_impuesto = rTotal.conIva;
                $scope.total_impuesto_avp = rTotal.conIva;
                $scope.importe = rTotal.importe;-->
                <div class="row" style="text-align: right">
                    <!--<p><b>Sub-Total Publicaciones:</b> <span ng-bind-html="importe | moneySaldo"></span> Bs.</p>-->

                    <!--<p><b>Gestión de Medios AVP (10,00%) :</b> <span-->
                            <!--ng-bind-html="total_impuesto_avp | moneySaldo"></span> Bs.</p>-->

                    <p><b>Sub-Total:</b> <span ng-bind-html="totalSinIva | moneySaldo"></span> Bs.</p>

                    <p><b>+I. V. A.:</b> <span ng-bind-html="totalConIva-totalSinIva | moneySaldo"></span> Bs.</p>
                    <p><b>Total:</b> <span ng-bind-html="totalConIva | moneySaldo"></span> Bs.</p>
                </div>
            </div>
            </br>
            <div class="row text-center" style="margin: 20px;" ng-show="(chckdCount > 0)">
        <span ng-repeat="boton in permisos.permission">
        <button class="btn btn-primary" type="button" ng-click="getChecked1(boton.url,'parametro',detalles.n_control  )">
            {{boton._name}}
        </button>
            </span>
            </div>
        </div>
    </div>
    <div class="row" ng-if="(detalles.contrato.tipo.nombre == 'contrato')">
        <div class="col-md-12">
            <div crud-template=""></div>
            <br/>

            <div class="alert alert-info" role="alert">
                <!--$scope.totalSinIva = rTotal.sinIva;
                $scope.totalConIva = rTotal.conIva;
                $scope.total_impuesto = rTotal.conIva;
                $scope.total_impuesto_avp = rTotal.conIva;
                $scope.importe = rTotal.importe;-->
                <div class="row" style="text-align: right">
                    <br><p><b>Sub-Total.:</b> <span ng-bind-html="totalConIva | moneySaldo"></span> Bs.</p>
                    <p><b>I. V. A.:</b> <span ng-bind-html="totalIva | moneySaldo"></span> Bs.</p>
                    <p><b>Total de cuota(s)</b> <span ng-bind-html="totalConIva+totalIva | moneySaldo"></span> Bs.</p>
                </div>
            </div>
            </br>
            <div class="row text-center" style="margin: 20px;" ng-show="(chckdCount > 0)">
        <span ng-repeat="boton in permisos.permission">
        <button class="btn btn-primary" type="button" ng-click="getChecked1(boton.url,'parametro',detalles.n_control )">
            {{boton._name}}
        </button>
            </span>
            </div>
        </div>
    </div>

    <!--<div class="row">-->
    <!--<div class="col-md-6 form-group">-->
    <!--<label for="Observaciones">Descripcion</label>-->
    <!--<span class="span-requerido">*</span>-->
    <!--<textarea type="text"-->
    <!--class="form-control"-->
    <!--id="Observaciones"-->
    <!--name="Observaciones"-->
    <!--placeholder="Observaciones"-->
    <!--ng-model="detalles.descripcion"-->
    <!--validator="required"-->
    <!--valid-method="submit">-->
    <!--</textarea>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-md-12 form-group ">-->
    <!--<div class="panel panel-danger" ng-show="detalles.contrato != null">-->
    <!--<div class="panel-heading">Datos del Contrato</div>-->
    <!--<ul class="list-group">-->
    <!--<li class="list-group-item"><b>Código: </b>{{ detalles.contrato.codigo }}</li>-->
    <!--<li class="list-group-item"><b>Tarifa: </b>{{ detalles.contrato.tarifa }}</li>-->
    <!--<li class="list-group-item"><b>Cuota: </b>{{ detalles.contrato.cuota }}</li>-->
    <!--<li class="list-group-item"><b>Régimen de Pago: </b>{{ detalles.contrato.regimen_pago }}</li>-->
    <!--<li class="list-group-item"><b>Firmante: </b>{{ detalles.contrato.firmante_nombre }}</li>-->
    <!--<li class="list-group-item"><b>Cargo del firmante: </b>{{ detalles.contrato.firmante_cargo }}-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="modal-footer" ng-if="(detalles.contrato.tipo.nombre == 'contrato')">-->
        <!--<button ng-click="getChecked()" class="btn btn-primary"> Abonar</button>-->
    <!--</div>-->
</form>