<form role="form" name="MediocontactoForm" id="mediocontacto_form">
    <div class="modal-header">
        <h3 class="modal-title">Cobrar Facturas</h3>

    </div>
    <div class="row">
        <div class="col-md-9 ">
            <h5>Total restante de las facturas seleccionada : {{totalRestante | formatNumberMoney}} bs</h5>
            <h5 ng-show="(facturas_con_nota.nota != null)">Estatus : <b style="text-transform: uppercase;">{{facturas_con_nota.estatus_factura}}</b></h5>
            <h5 ng-show="(facturas_con_nota.nota != null)">Codigo Nota de credito : {{facturas_con_nota.nota[0].codigo}} bs</h5>
            <h5 ng-show="(facturas_con_nota.nota != null)">Monto Nota de credito : {{facturas_con_nota.nota[0].monto}} bs</h5>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 form-group ">
                <label for="tipo">Formas de pago:</label>
                <span class="span-requerido">*</span>
                <select class="form-control" id="tipo" ng-model="formas_pagos"
                        validator="required"
                        ng-options="item.descripcion for item in formas_pago track by item.id">
                    <option style="width: 16%" value="">Seleccione la forma de pago</option>
                </select>
            </div>
            <div class="col-md-6 form-group ">
                <label for="Monto">Monto:</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="Monto"
                       name="Monto"
                       placeholder="Monto"
                       ng-model="detalles.monto"
                       validator="required, less_than"
                       mask-money
                       data-less-than="{{totalRestante}}"
                       data-msg-with="{{totalRestante}}"
                       valid-method="submit">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group ">
                <label for="fecha_cobro">Fecha del cobro:</label>
                <span class="span-requerido">*</span>

                <div class="input-group">
                    <input id="fecha_cobro" name="date_fundacion" type="text" class="form-control"
                           datepicker-popup="{{calendar.dateFormat}}"
                           ng-model="detalles.fecha_pago"
                           is-open="calendar.opened.fundacion"
                           min-date="calendar.now"
                           datepicker-options="calendar.dateOptions"
                           close-text="Cerrar" placeholder="Fecha del cobro"
                           current-text="Hoy" clear-text="Limpiar" ng-readonly="true"
                           require-void
                           required>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'fundacion')"
                                    ng-disabled="(habilitado == false)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    <div class="has-error" style="position: absolute; margin-top: -8px; margin-left: -317px">
                        <small class="help-block"
                               ng-show="formmedio.date_fundacion.$error.required && formmedio.submitted ">
                            <strong>La fecha es Requerida!!</strong>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-group " ng-show=" formas_pagos.descripcion == 'Deposito'">
                <label for="banco">Banco</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="banco"
                       name="banco"
                       placeholder="Banco"
                       ng-model="detalles.banco"
                       valid-method="submit">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group ">
                <label for="transaccion">Numero de transaccion</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="transaccion"
                       name="transaccion"
                       placeholder="transaccion"
                       ng-model="detalles.numero_transaccion"
                       validator="required"
                       valid-method="submit">

            </div>
            <div class="col-md-6 form-group">
                <label for="Observaciones">Observaciones</label>
                <span class="span-requerido">*</span>
                <textarea type="text"
                          class="form-control"
                          id="Observaciones"
                          name="Observaciones"
                          placeholder="Observaciones"
                          ng-model="detalles.observaciones"
                          validator="required"
                          valid-method="submit">
                </textarea>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Detalle Facturas</div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <td><strong>Codigo</strong></td>
                    <td><strong>Total factura</strong></td>
                    <td ng-show="(facturas_con_nota.nota != null)"><strong>Total nota de credito</strong></td>
                    <td><strong>Restante</strong></td>
                </tr>
                <tr ng-repeat="factura in facturas">
                    <td><strong>{{factura.codigo}}</strong></td>
                    <td><strong>{{factura.total_factura | formatNumberMoney}}</strong></td>
                    <td ng-show="(facturas_con_nota.nota != null)"><strong>{{facturas_con_nota.nota[0].monto| formatNumberMoney}}</strong></td>
                    <td><strong>{{factura.restante |formatNumberMoney }}</strong></td>
                </tr>
            </table>
        </div>

        <div class="modal-footer">
            <button ng-click="mediocontacto_form.submit(MediocontactoForm)" class="btn btn-primary"> Cobrar
            </button>
        </div>
    </div>
</form>