<h3>{{ title }}</h3>

<form name="formpago" id="formpago">
    <div crud-template=""></div>
    <br/>

    <div class="row text-center" style="margin: 20px;">
    <span ng-repeat="boton in permisos">
            <button
                    class="btn btn-primary"
                    type="button"
                    ng-click="getChecked(boton.url)">
                {{boton._name}}
            </button>

        </span>


    </div>
</form>