<!-- Mixed: mobile, tablet, and desktop -->
<div ng-show="(mensaje != '')" class="alert alert-warning" role="alert"><h4>{{ mensaje }}</h4></div>
<form name="ConditionsForm" id="conditions_form">
    <div class="modal-header">
        <h3 class="modal-title">Tarifas para el servicio: <b>{{service.nombre}}</b></h3>
    </div>
    <div class="modal-body">
        <div class="row">

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <span class="span-requerido">*</span>
                <input
                        type="text" id="nombre" name="nombre" class="form-control"
                        placeholder="Ejemplo: Color, Posición, Cuerpo, entre otros."
                        validator="required" valid-method="submit"
                        ng-model="condition.nombre" ng-readonly="viewMode"
                        />
            </div>
            <br/>

            <div class="form-group">
                <label for="base">¿Esta tarifa se aplica como?</label>
                <small> La tarifa "base" es aquella sobre la cual se calculan costos, recargos y deducciones.</small>
                <span class="span-requerido">*</span>
                <select
                        ng-disabled="(condition.es_base == 1 || viewMode)"
                        name="es_base" id="base" class="form-control"
                        placeholder="Indica si la condición es base"
                        validator="required" valid-method="submit" ng-disabled="viewMode"
                        ng-model="condition.esBase" ng-change="conditions_form.setPorcentajeToBs();"
                        ng-options="item.nombre for item in quemado.base track by item.id"
                        ></select>
            </div>
            <br/>

            <div class="form-group">
                <label for="aplicada">Aplicada en</label>
                <span class="span-requerido">*</span>
                <select
                        name="es_porcentaje" id="aplicada" class="form-control"
                        placeholder="Tipo de calculo asociado a la condición"
                        validator="required" valid-method="submit" ng-disabled="viewMode"
                        ng-model="condition.esPorcentaje" ng-change="conditions_form.setPorcentajeToBs();"
                        ng-options="item.nombre for item in quemado.porcentaje track by item.id"
                        ></select>
            </div>
            <br/>

            <div class="form-group">
                <label>Valores de la Condición</label>
                <span class="span-requerido">*</span>
				<span class="span-btn-condition input-group-btn" ng-show="!viewMode">
			        <button type="button" class="btn btn-default" ng-click="conditions_form.addDetail()"><span
                            class="glyphicon glyphicon glyphicon-plus"> </span></button>
			    </span>
                <br/><br/>

                <div class="row">
                    <div class="col-md-4 app-center">Nombre</div>
                    <div class="col-md-3 app-center">Tarifa</div>
                    <div class="col-md-3 app-center">Fecha</div>
                    <div class="col-md-1 app-center" ng-show="condition.esBase.id == 1">Media Principal</div>
                    <div class="col-md-1 app-center" ng-show="!viewMode">Acciones</div>
                </div>

                <div class="row" data-ng-repeat="item in condition.detalles">
                    <div class="col-md-4">
                        <input
                                type="text" name="detalles[{{item.id}}][nombre]" class="form-control"
                                placeholder="Para Color: Full, B/N, Para Posición: Par, Impar"
                                validator="required" valid-method="submit"
                                no-validation-message="{{$last}}"
                                ng-model="item.nombre" ng-readonly="viewMode"
                                />
                    </div>
                    <div class="col-md-3">
                        <input mask-money
                               type="text" name="detalles[{{item.id}}][tarifa]" class="form-control"
                               placeholder="Ejm: 100,00 si es Bs o 60 si es porcentaje"
                               validator="required" no-validation-message="{{$last}}"
                               ng-model="item.tarifa" ng-readonly="viewMode"
                                />
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="fecha" type="text"
                                   name="detalles[{{item.id}}][fecha]"
                                   class="form-control input-sm"
                                   datepicker-popup="{{calendar.dateFormat}}"
                                   ng-model="item.fecha"
                                   is-open="calendar.openedi[$index]"
                                   datepicker-options="calendar.dateOptions"
                                   close-text="Cerrar" placeholder="Fecha"
                                   current-text="Hoy" clear-text="Limpiar" ng-readonly="true">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default input-sm"
                                                ng-click='calendar.open($event, $index,"fecha")'>
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>


                        </div>
                    </div>
                    <div class="col-md-1" ng-show="condition.esBase.id == 1">
                        <checkbox ng-model="item.principal" ng-click="conditions_form.principal($index)"></checkbox>
                    </div>
                    <div class="col-md-1" ng-show="!viewMode">
                        <button
                                type="button" class="btn btn-default"
                                ng-click="conditions_form.removeDetail(item.id)" ng-show="!$first">
                            <span class="glyphicon glyphicon glyphicon-minus"> </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" ng-show="!viewMode">
        <div class="row text-center">
			<span class="input-group-btn">
		        <button
                        type="button" class="btn btn-primary"
                        ng-click="conditions_form.submit(ConditionsForm)">
                    <span class="glyphicon glyphicon-floppy-disk"> Guardar</span>
                </button>
		    </span>
        </div>
    </div>
</form>