<h3>Cambio de Contraseña</h3>
<form ng-submit="submit()">

    <div class="form-group">
        <label for="c_actual">Antigua Contraseña</label>
        <input type="password" id="c_actual" class="form-control" ng-model="datos.actual"
               placeholder="Escriba su contraseña actual" validator="required" required="">
    </div>
    <div class="form-group">
        <label for="c_nueva">Nueva Contraseña</label>
        <input type="password" id="c_nueva" class="form-control" ng-model="datos.nueva"
               placeholder="Escriba la nueva contraseña" validator="required" required="">

        <div class="row">
            <div class="col-sm-4" ng-show="datos.nueva" ng-password-strength="datos.nueva"
                 strength="passStrength"></div>
            <div ng-show="datos.nueva" class="col-sm-8">
                <span ng-if="passStrength < 50" class="text-danger">Contraseña débil</span>
                <span ng-if="passStrength >= 50 && passStrength <= 82" class="text-warning">Contraseña buena</span>
                <span ng-if="passStrength > 82" class="text-success">Contraseña Fuerte</span>
            </div>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="statusConfirmacion">
        <label class="control-label" for="c_confirmacion">Confirmar Nueva Contraseña</label>
        <input type="password" id="c_confirmacion" class="form-control" ng-model="datos.confirmacion"
               placeholder="Repita la contraseña" aria-describedby="confirmar_contrasena" validator="required"
               required="">
    <span ng-if="statusConfirmacion == 'has-success'" class="glyphicon glyphicon-ok form-control-feedback"
          aria-hidden="true"></span>
    <span ng-if="statusConfirmacion == 'has-error'" class="glyphicon glyphicon-remove form-control-feedback"
          aria-hidden="true"></span>
        <span id="confirmar_contrasena" class="sr-only">(success)</span>
    </div>
    <div class="form-group text-center">
        <input type="submit" class="btn btn-primary" value="Aceptar">
        <button class="btn btn-primary" ng-click="volver()">Volver</button>
    </div>
</form>