<div class="page-header">
    <h3>{{appName}}</h3>
    <h4>{{appDescription}}</h4>
</div>
<div class="panel-body">
    <form method="post">
        <h3>
            Recuperar Contraseña
        </h3>

        <div class="form-group">
            <label for="email" class="control-label">Usuario o Correo electrónico:</label>
            <input type="text" class="form-control" name="email" value="" id="email" ng-model="user_email" required="">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="submit()" ng-disabled="procesando">
                <span class="glyphicon glyphicon-refresh" ng-class="{'glyphicon-refresh-animate': procesando}"
                      ng-show="procesando"></span> Enviar
            </button>
            <button class="btn" ng-click="volver()">Volver</button>
        </div>
    </form>
</div>