<div class="panel-heading">
    <h3>Transacción #{{data.id}}</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-6">
            Usuario: {{data.nombre_usuario}}
        </div>
        <div class="col-sm-6">
            Fecha: {{data.fecha}}
        </div>
    </div>
    <div class="row">
        <h5>Datos de conexión</h5>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th ng-repeat="(clave,info) in data.info_adicional">{{clave}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td ng-repeat="info in data.info_adicional">{{info}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-if="data.transaccion != 'ACCESS'">
        <div class="col-sm-6">
            Transacción: {{data.descripcion_transaccion}}
            <br>
            Esquema: {{data.esquema}}
            <br>
            Tabla: {{data.tabla}}
        </div>
    </div>
    <div class="row" ng-if="data.transaccion != 'ACCESS'">
        <div class="col-sm-6"
             ng-if="data.datos_previos != null && data.datos_previos != undefined && data.datos_previos.length != 0">
            <h5>Datos Previos o Eliminados</h5>
            <table class="table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>Columna</th>
                    <th>Dato</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(columna, registro_anterior) in data.datos_previos">
                    <td>{{columna}}</td>
                    <td>{{registro_anterior}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6" ng-if="data.datos_actuales">
            <h5>Datos Insertados o Actualizados</h5>
            <table class="table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>Columna</th>
                    <th>Dato</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(columna, registro_anterior) in data.datos_actuales">
                    <td>{{columna}}</td>
                    <td>{{registro_anterior}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="panel-footer text-center">
    <button class="btn" ng-click="cerrar()">Cerrar</button>
</div>