<h3>Auditoría</h3>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label class="control-label" for="date_start">Fecha Inicio:</label>

            <div class="input-group">
                <input id="date_start" type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}"
                       ng-model="data.dateStart" is-open="calendar.opened.start"
                       datepicker-options="calendar.dateOptions"
                       max-date="calendar.maxDate"
                       close-text="Cerrar" placeholder="Seleccione Fecha Inicio"
                       current-text="Hoy" clear-text="Limpiar" ng-readonly="true">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'start')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label class="control-label" for="date_end">Fecha Fin:</label>

            <div class="input-group">
                <input id="date_end" type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}"
                       ng-model="data.dateEnd" is-open="calendar.opened.end" datepicker-options="calendar.dateOptions"
                       min-date="data.dateStart"
                       max-date="calendar.maxDate"
                       close-text="Cerrar" placeholder="Seleccione Fecha Fin"
                       current-text="Hoy" clear-text="Limpiar" ng-readonly="true">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'end')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="user_id" class="control-label">Tipo:</label>
            <select id="user_id" class="form-control" ng-model="filter.type"
                    ng-options="item.name for item in filterTypes track by item.id">
                <option value="">- Seleccione -</option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="comparation" class="control-label">&nbsp;</label>
            <select id="comparation" class="form-control" ng-model="filter.compare"
                    ng-options="item.name for item in filterCompare track by item.id">
                <option value="">- Seleccione -</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="filter_value" class="control-label">Valor:</label>
            <select id="filter_value" class="form-control" ng-model="filter.value"
                    ng-options="item.name for item in options track by item.id">
                <option value="">- Seleccione -</option>
            </select>
        </div>
    </div>
    <div class="col-sm-1">
        <br>
        <button class="btn btn-default" ng-click="addFilter()">
            <span class="glyphicon glyphicon-plus"></span> Agregar
        </button>
    </div>
</div>
<div class="row" ng-if="data.filters.length > 0">
    <table class="table">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Comparador</th>
            <th>Valor</th>
            <th>Quitar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="filter in data.filters">
            <td>{{filter.type.name}}</td>
            <td>{{filter.compare.name}}</td>
            <td>{{filter.value.name}}</td>
            <td>
                <button class="btn btn-xs btn-danger" ng-click="removeFilter($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--{{filters}}-->
<div class="row">
    <div class="table-responsive">
        <div crud-template=""></div>
    </div>
</div>