<section class="section-form-panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<strong>{{msg_top}} de Usuario</strong>
        </div>
        <div class="panel-body">
            <form name="frmuser">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-06 col-sm-06">
                        <label for="cedula">Cédula</label>
                        <input type="text" id="cedula"
                               name="cedula"
                               ng-model="data_user.cedula"
                               class="form-control"
                               placeholder="V/E-00000000"
                               validator="required,cedula"
                               valid-method="submit"/>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                        <label for="nombres">Nombres</label>
                        <input type="text" id="nombres" name="nombres"
                               ng-model="data_user.first_name"
                               validator="required"
                               valid-method="submit"
                               class="form-control"/>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xs-06 col-sm-06">
                        <label for="apellido">Apellidos</label>
                        <input type="text" id="apellido" name="apellido"
                               ng-model="data_user.last_name"
                               validator="required"
                               valid-method="submit"
                               class="form-control"/>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                        <label for="email">Correo Electrónico Principal</label>
                        <input type="text" id="email" name="email"
                               ng-model="data_user.email"
                               placeholder="XXXXX@XXXXXX.XXXX"
                               validator="required,email"
                               valid-method="submit"
                               class="form-control"/>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                        <label for="email_secundario">Correo Electrónico Secundario</label>
                        <input type="text" id="email_secundario" name="email_secundario"
                               ng-model="data_user.email_secundario"
                               placeholder="XXXXX@XXXXXX.XXXX"
                               validator="required,email"
                               valid-method="submit"
                               class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-06 col-sm-06">
                        <label for="direccion">Dirección</label>
                        <textarea id="direccion" name="direccion" ng-model="data_user.direccion"
                                  class="form-control"></textarea>

                    </div>

                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                        <label for="phone">Teléfono</label>
                        <input type="text" id="phone" name="phone"
                               ng-model="data_user.phone"
                               placeholder="(0000) 000-0000"
                               mask-ast="'(0000) 000-0000'"
                               validator="required"
                               valid-method="submit"
                               class="form-control"/>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6 col-lg-6 col-xs-06 col-sm-06">
                        <label for="groups">Grupo de Usuario</label>
                        <select name="group" id="groups" ng-model="group"
                                ng-options="item.name for item in groups track by item.id" class="form-control"
                                placeholder="Seleccione un tipo de Producto" validator="required" valid-method="submit">
                            <option value="">-- Elije un grupo--</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-06 col-sm-06" ng-show=" group.name == 'cliente'">

                        <label for="cliente">Cliente:</label>
                        <select
                                name="cliente"
                                id="cliente"
                                class="form-control"
                                ng-model="cliente_id"
                                ng-options="item.razon_social for item in clientes track by item.id"
                                valid-method="submit"
                                >
                            <option value="">-- Elije un cliente --</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer" style="text-align: center">
            <button type="button" class=" btn btn-sm btn-primary" ng-click="back_list_user()">
                <span class="glyphicon glyphicon-th-list"></span>&nbsp;Listado de Usuarios
            </button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class=" btn btn-sm btn-primary" ng-click="process_create_user()">
                <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;{{msg_button}}
            </button>

        </div>
    </div>
</section>
