<section class="section-form-panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<strong>Edicion de Grupo</strong>
        </div>
        <div class="panel-body">
            <form name="frmgroup">
                <div class="row">
                    <!--<div class="col-md-6 col-lg-6 col-xs-06 col-sm-06">-->
                        <label for="name">Nombre</label>
                        <input type="text" id="name"
                               name="name"
                               ng-model="data_group[0].name"
                               class="form-control"
                               placeholder="Ejemp:Administrador"
                               validator="required"
                               valid-method="submit"/>

                    <!--</div>-->
                </div>
                <div class="row">
                    <!--<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">-->
                        <label for="description">Descripción</label>
                    <textarea type="text" id="description" name="description"
                              ng-model="data_group[0].description"
                              validator="required"
                              placeholder="Ejm: Rol de Administrador del Sistema"
                              valid-method="submit"
                              class="form-control" cols="30" rows="10"></textarea>
                        <!--<input type="text" id="description" name="description" ng-model="data_group[0].description"-->
                               <!--validator="required" placeholder="Ejemp:Rol de Administrador del Sistema"-->
                               <!--valid-method="submit" class="form-control"/>-->
                    <!--</div>-->
                </div>
            </form>
        </div>
        <div class="panel-footer" style="text-align: center">
            <button type="button" class=" btn btn-sm btn-primary" ng-click="back_list_group()">
                <span class="glyphicon glyphicon-th-list"></span>&nbsp;Listado de Grupos
            </button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class=" btn btn-sm btn-primary" ng-click="process_create_group()">
                <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar
            </button>
        </div>
    </div>
</section>