<section class="section-form-panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<strong>Gestion de Grupo de Usuario</strong>
        </div>
        <div class="panel-body">
            {{salida.mensaje}}
            <div class="panel-footer" style="text-align: center">
                <button type="button" class=" btn btn-sm btn-primary" ng-click="back_list_group()">
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;Cancelar
                </button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class=" btn btn-sm btn-primary" ng-click="process_io_group()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; {{salida.mensaje_button}}
                </button>
            </div>
        </div>

    </div>
</section>