<section class="section-form-panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<strong>Permisos de Operaciones para el Grupo <b>{{data.grupo[0].name}}</b></strong>
        </div>
        <div class="panel-body">
            <form name="frmoperationgroup">
                Filtro: <input
                    placeholder="Ejemp:ADMINISTRADOR"
                    type="text"
                    ng-model="filtro">
                <!--                <button ng-click="expandPens()">
                                    Expand Pens
                                </button>

                                <button ng-click="collapsePens()">
                                    Collapse Pens
                                </button>-->
                <div
                        ivh-treeview="data.roles"
                        ivh-treeview-expand-to-depth="-1"
                        ivh-treeview-filter="filtro"
                        >
                </div>

            </form>
        </div>
        <div class="panel-footer" style="text-align: center">
            <button type="button" class=" btn btn-sm btn-primary" ng-click="back_list_group()">
                <span class="glyphicon glyphicon-th-list"></span>&nbsp;Listado de Grupos
            </button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class=" btn btn-sm btn-primary" ng-click="process_operation_group()">
                <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar
            </button>
        </div>
    </div>
</section>