<div class="row">
    <div class="page-header">
        <h3>{{appName}}</h3>
        <h4>{{appDescription}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                Ingresar
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        Introduce tu Usuario y Contraseña
                    </div>
                </div>
                <form method="post" name="loginForm" ng-controller="loginCtrl" ng-submit="login(credentials)"
                      novalidate>

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="identity">Usuario:</label><br>
                            <input type="text" class="form-control" id="identity" value="" name="identity"
                                   ng-model="credentials.identity" placeholder="Usuario o Correo Electrónico">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="password">Contraseña:</label><br>
                            <input type="password" class="form-control" id="password" value="" name="password"
                                   ng-model="credentials.password" placeholder="Contraseña">
                        </div>
                    </div>

                    <!--<p>-->
                    <!--<label for="remember">Recuérdame:</label>-->
                    <!--<input id="remember" type="checkbox" value="1" name="remember">-->
                    <!--</p>-->

                    <div class="row">
                        <div class="col-sm-12">
                            <a ng-href="#/admin/olvido_contrasena">¿Olvidó la contraseña?</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary" value="Ingresar" name="submit">
                        </div>
                    </div>

                </form>

                <!--<p>-->
                <!--<a href="auth/forgot_password">¿Has olvidado tu contraseña?</a>-->
                <!--</p>-->

            </div>
        </div>
    </div>
</div>
