<div class="page-header">
    <h2>Datos de la operacion</h2>
</div>
<div class="container">
    <p><b>Saldo:</b> {{balance.saldo}}</p>

    <p><b>Fecha:</b> {{balance.created_at}}</p>

    <p ng-show="(balance.debito > 0)"><b>Debito:</b> {{balance.debito}}</p>

    <p ng-show="(balance.cargo > 0)"><b>Cargo:</b> {{balance.cargo}}</p>

    <p><b>Observaciones:</b> {{balance.observaciones}}<span ng-show="(balance.observaciones == null)">No hay observaciones</span></p>


</div>