<!-- Mixed: mobile, tablet, and desktop -->
<form name="ObservacionesBalanceForm" id="contratos_form">
    <div class="modal-body">
        <div class="row">
            <div class="form-group" ng-show="(formAction != 'store')">
                <label for="cliente">Observaciones</label>
                <span class="span-requerido">*</span>
                <textarea
                        type="text" id="cliente" name="cliente" class="form-control"
                        ng-model="balance.observaciones"
                        validator="required" valid-method="submit"
                        >
                    </textarea>
            </div>
            <br/>

            <div class="modal-footer" ng-show="(formAction != 'view')">
                <div class="row text-center" >
			<span class="input-group-btn">
		        <button
                        type="button" class="btn btn-primary"
                        ng-click="balance_form.submit(ObservacionesBalanceForm)"
                        ng-disabled="(formAction == 'view')">
                    <span class="glyphicon glyphicon-floppy-disk">Guardar</span>
                </button>
		    </span>
                </div>
            </div>
</form>