
body {
    font-size: 7.5pt;
    background-image: url('../img/no-valido.png');
    background-size: 20px;
    background-repeat: no-repeat;

}

.head {
    background-color: #843534;
    font-weight: bold;
    color: #ffffff;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.borde_ext {

    border: 1px #A5A5A5 solid;
}

.borde {

    border-top: 1px #A5A5A5 solid;
    border-right: 1px #A5A5A5 solid;
}

.borde_bottom {
    border-bottom: 1px #A5A5A5 solid;
}

.borde_right {
    border-right: 1px #A5A5A5 solid;
}

.borde_top {
    border-top: 1px #A5A5A5 solid;
}

.borde_left {
    border-left: 1px #A5A5A5 solid;
}

.header {
    width: 100%;
    text-align: center;
    position: fixed;
}

.header {
    top: 0px;
}

.footer {
    width: 100%;
    text-align: left;
    position: fixed;
}

.footer {
    bottom: 0px;
}

.pagenum:after {
    content: counter(page);
}

.header {
    position: fixed;
    left: 0px;
    top: -150px;
    right: 0px;
    height: 205px;
    text-align: center;
}

.montos_color {
    background-color: #808080;
}

.informacion-avp {
    text-align: left;
    color: #DED6D5;
    font-size: 6pt;
}

#content {
    margin-top: 125px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: -180px;
    right: 0px;
    height: 150px;
}

.page {
    text-align: center;
    width: 100%;
    font-size: 6pt;
}

.page:after {
    content: counter(page, decimal);
}

.firma {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.pagina {
    width: 100%;
    text-align: center;
}

.divisor {
    color: #A5A5A5;
    /*width: 100%;*/
    text-align: left;
}

.informacion-avp {
    text-align: left;
    color: #DED6D5;
    font-size: 6pt;
}