<div class="modal-header">
    <h3 class="modal-title">{{titleModal}}</h3>
</div>
<div class="modal-body">
    <h2>SIIIIIIIIIIIIIIIIIIIIII</h2>
</div>
<div class="modal-footer">
    <button ng-repeat="btn in buttonModal" class="{{btn.class}}">{{btn.text}}</button>
</div>