<section>
    <tabset class="tab-animation">
        <tab ng-repeat="(key,tab) in sectionTabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">

            <div ng-init="countTabs=key;current=tab.current; seccion=tab.seccion;" ng-include src="tab.content">

            </div>
        </tab>
    </tabset>
</section>