<form role="form" name="MediocontactoForm" id="mediocontacto_form">
    <div class="modal-header">
        <h3 class="modal-title">Municipio</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 form-group ">
                <label for="estado">Nombre:</label>
                <span class="span-requerido">*</span>
                <input type="text"
                       class="form-control"
                       id="estado"
                       name="estado"
                       placeholder="Lander"
                       ng-model="detalles.nombre"
                       validator="required"
                       valid-method="submit">
            </div>
            <div class="col-md-6">
                <label for="pais">Estado</label>
                <span class="span-requerido">*</span>
                <select class="form-control"
                        id="pais"
                        name="pais"
                        ng-options="item.nombre for item in detalles.estados track by item.id"
                        ng-model="detalles.estado"
                        validator="required"
                        valid-method="submit">
                    <option value="">Seleccione el estado</option>
                </select>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="mediocontacto_form.submit(MediocontactoForm)" class="btn btn-primary"> Guardar</button>
        </div>
    </div>
</form>