<div ng-init="mostrar = ddatos">

    <div class="row">
        <div class="col-lg-6">

            <h3 class="modal-title" id="myModalLabel">
                <i class="fa fa-flag"></i> Notificaciones
            </h3>


        </div>
        <div class="col-lg-6">
            <input class="form-control" type="search" ng-model="q" placeholder="" aria-label="filter ddatos" />
        </div>
    </div>

    <div class="example-animate-container row">
        <div class="animate-repeat" ng-repeat="impr in mostrar | filter:q as results" >
        <div class="row bg{{impr.chekk}}">

            <div class="col-lg-12 marg-bot" >
                <h5 align="center">

                    <b>{{impr.tit}}</b> </h5>
                <hr align="center" noshade="noshade" size="2" width="80%" />
            </div>



            <div class="col-lg-1">

                <a href="#" tooltip="{{impr.titu_icon}}" class="btn btn-lg btn-primary" >
                    <span class="{{impr.tipo_not_ico}}"></span>
                </a>
            </div>
            <div class="col-lg-10">
                <p>{{impr.des}}</p>
            </div>
            <div class="col-lg-1">
                <p>

                    <a role="button" class="btn btn-xs btn-primary" ng-click="actualiza(impr.id, impr.lin, impr.ids)">
                        <i class="fa fa-search"></i>
                    </a>
                </p>
            </div>
            <div class="animate-repeat col-lg-12" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </div>
        </div>



    </div>


    </div>

</div>



























<div class="alert alert-info" ng-if="isTestingMode">
    El sistema se encuentra en modo de pruebas
</div>