<div class="jumbotron row">
    <div class="col-sm-4">
        <img src="img/logoAVP.png" class="img-responsive">
    </div>
    <div class="col-sm-6">
        <h1><span style="color: #5e5e5e;">{{appName}}</span></h1>
        <h4>{{appDescription}}</h4>
    </div>
</div>
<div class="alert alert-info" ng-if="isTestingMode">
    El sistema se encuentra en modo de pruebas
</div>