<div class="page-header">
    <h2>Datos del cliente</h2>
</div>
<div class="container">
    <div class="row">
        <b>Razón social: </b> {{detalles.razon_social}}
    </div>
    <div class="row"><b>Código: </b> {{detalles.codigo}}</div>
    <div class="row"><b>R.I.F.: </b> {{detalles.rif}}</div>
    <div class="row"><b>Siglas: </b> {{detalles.abreviatura}}</div>
    <div class="row"><b>Dirección fiscal: </b> {{detalles.direccion_fiscal}}</div>

    <div class="row"><b>Teléfonos:</b></div>
    <div class="row listado" ng-bind-html="detalles.telefonos | listado"></div>

    <div class="row"><b>Correos electrónicos:</b></div>
    <div class="row listado" ng-bind-html="detalles.correos_electronicos | listado"></div>

    <div class="row"><b>Sitio web: </b> {{detalles.sitio_web}}</div>
</div>