<div class="row ficha-header">
    <div class="col-md-2">
        <!--Editar logo del cliente según el lugar donde este-->
        <!--Editar logo cliente-->
        <img src="{{xImagen}}" class="img-responsive img-thumbnail "/>
        <a class="btn btn-default btn-xs"
           style="float: right; margin-top:-15%; opacity: inherit; position: relative;">
            <div ng-click="editarImagen()" style="background-color: rgba(245, 247, 251, 0.98)"
                 ng-if="lugar == 'cliente'">
                <span title="Editar imagen" class="glyphicon glyphicon-pencil"></span>
            </div>

            <div ng-click="editarImagenMedio()" style="background-color: rgba(245, 247, 251, 0.98)"
                 ng-if="lugar == 'medio'">
                <span title="Editar imagen" class="glyphicon glyphicon-pencil"></span>
            </div>
        </a>
    </div>
    <div class="col-md-10">
        <h5>{{detalles.razon_social}}</h5>

        <div class="btn-toolbar" role="toolbar">
            <a href="#/admin/editar_cliente/{{clienteid}}" class="btn btn-default" role="button"
               ng-show="(lugar == 'cliente')">
                <i class="glyphicon glyphicon-edit" aria-hidden="true">Editar</i>
            </a>
            <a href="#/admin/editar_medio/{{clienteid}}" class="btn btn-default" role="button"
               ng-show="(lugar == 'medio')">
                <i class="glyphicon glyphicon-edit" aria-hidden="true">Editar</i>
            </a>

            <div class="btn btn-group btn-primary" role="group" ng-repeat="button in buttons"
                 ui-sref="{{button.state}}" title="{{button.title}}">
                <i class="{{button.icon}}">&nbsp;{{button.title}}</i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div>
        <tabset>
            <tab ng-repeat="tab in tabs" active="tab.active" id="{{tab.id}}">
                <tab-heading>
                    <a ui-sref="{{tab.state}}" ui-sref-active="active" class="{{tab.icon}}">
                        {{tab.title}}
                    </a>
                    &nbsp;
                    <a ng-show="tab.closable" ng-click="removeTab($index)" href=''>
                        <i class="glyphicon glyphicon-remove">&nbsp;</i>
                    </a>
                </tab-heading>
                <section ui-view ng-if="tab.active"></section>
                <section ui-view="temp" ng-if="$last"></section>
            </tab>
        </tabset>
    </div>
</div>