<form role="form" name="MediocontactoForm" id="mediocontacto_form">
    <div class="modal-header">
        <h3 class="modal-title">Edición de Cliente</h3>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-6 form-group ">
            <label for="rif">RIF:</label>
            <span class="span-requerido">*</span>

            <div class="input-group">
                <input class="form-control" id="rif" placeholder="J-99999999-9"
                       ng-model="detalles.rif" mask-rif validator="required" name="rif"/>
                <span class="input-group-btn">
                    <button type="button" class=" btn btn-primary" style=" margin-top: 0px"
                            ng-click="mediocontacto_form.consulta(detalles.rif)" title="Consultar RIF">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-6 form-group">
            <label for="codigo">Código:</label>
            <span class="span-requerido">*</span>
            <input type="text" class="form-control" id="codigo" placeholder="Código" ng-model="detalles.codigo"
                   validator="required" name="codigo">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group ">
            <label for="razonsocial">Razón Social:</label>
            <span class="span-requerido">*</span>
            <textarea class="form-control" id="razonsocial" placeholder="Razón social" rows="4"
                      ng-model="detalles.razon_social" ng-disabled="(!habilitado_razon_social)"
                      validator="required">
                    </textarea>
        </div>

        <div class="col-md-6 form-group">
            <label for="direccion">Dirección Fiscal:</label>
            <span class="span-requerido">*</span>
            <textarea class="form-control" rows="4" ng-model="detalles.direccion_fiscal"
                      id="direccion" validator="required" name="direccion">
            </textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label for="nom_comercial">Nombre Comercial:</label>
            <input type="text" class="form-control" id="nom_comercial"
                   placeholder="Nombre comercial" ng-model="detalles.nombre_comercial" name="nom_comercial">
        </div>

        <div class="col-md-6 form-group">
            <label for="abrev">Siglas:</label>
            <!--<span class="span-requerido">*</span>-->
            <input type="text" class="form-control" id="abrev" placeholder="Siglas"
                   ng-model="detalles.abreviatura" name="abrev" />
                    <!--validator="required"/>-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label for="sitio_web">Sitio Web:</label>
            <input type="text" class="form-control" id="sitio_web" placeholder="http://www.misitio.com"
                   ng-model="detalles.sitio_web" name="sitio_web" />
                <!--validator="url"/>-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label for="telefonos">Teléfonos: </label>
            <button ng-click="addTelefono()" type="button" class="btn btn-default btn-sm"><span
                    class="glyphicon glyphicon-plus"></span></button>
            <span class="span-requerido">*</span>

            <div ng-repeat="telefono in telefonos">
                <input type="text" class="form-control" id="telefonos" placeholder="04142348765"
                       name="telefono{{$index}}" mask-Telefono
                       ng-model="telefono.nombre" validator="required" valid-method="submit">
                <button ng-click="removeTelefono($index)" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label for="correos">Correos Electrónicos: </label>
            <button ng-click="addCorreo()" type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <span class="span-requerido">*</span>

            <div ng-repeat="correo in correos">
                <input type="text" class="form-control" id="correos" placeholder="micorreo@gmail.com"
                       name="correo{{$index}}"
                       ng-model="correo.nombre" validator="email, required" valid-method="submit">
                <button ng-click="removeCorreo($index)" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="mediocontacto_form.submit(MediocontactoForm)" class="btn btn-primary"> Guardar</button>
    </div>
</form>